force-app/main/default/flows/Account_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SEND_Email_to_Partner_Director</name>
        <label>SEND Email to Partner Director</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record__Prior.Owner.Contact.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Un compte appartenant à un partenaire a été ré-attribué</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!TT_Body_Email}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>SEND_Email_to_Partner_Director_Without_DC</name>
        <label>SEND Email to Partner Director (Without DC)</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record__Prior.Owner.Contact.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Un compte appartenant à un partenaire a été ré-attribué</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!TT_Body_Email_Without_DC}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DEC_Demande_Cotation_Found</name>
        <label>Demande Cotation Found ?</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>SEND_Email_to_Partner_Director_Without_DC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DEC_Demande_Cotation_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_LastDemandeCotation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEND_Email_to_Partner_Director</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Notify_Partner_Director</name>
        <label>Notify Partner Director ?</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ch_Notify_Partner_Director_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner.Contact.Owner.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_DoNotNotify__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_LastDemandeCotation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Notifie les directeurs des partenaires lors de la réattribution d&apos;un compte à un autre utilisateur</description>
    <environments>Default</environments>
    <interviewLabel>Account After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Change Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_LastDemandeCotation</name>
        <label>GET Demande Cotation (latest)</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Demande_Cotation_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demande_Cotation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_RDV_Client__c</queriedFields>
        <queriedFields>Statut__c</queriedFields>
        <sortField>Date_RDV_Client__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_DDC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Coproprietes</name>
        <label>Update coproprietes</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>DEC_Notify_Partner_Director</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Coproprietes__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DDC</name>
        <label>Update DDC</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Coproprietes</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Demandes_Cotation__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PDE</name>
        <label>Update PDE</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>PDE__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_PDE</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.OwnerId})</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Template du mail envoyé au directeur du partenariat</description>
        <name>TT_Body_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Bonjour,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Le compte &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; appartenant au partenaire &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record__Prior.Owner.FirstName} {!$Record__Prior.Owner.LastName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; a été réattribué.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La dernière demande de cotation a eu lieu le &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GET_LastDemandeCotation.Date_RDV_Client__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; et était au statut &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GET_LastDemandeCotation.Statut__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Cordialement,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Body_Email_Without_DC</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Bonjour,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Le compte&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; {!$Record.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; appartenant au partenaire &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Record__Prior.Owner.FirstName} {!$Record__Prior.Owner.LastName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; a été réattribué.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Aucune demande de cotation n&apos;a été faite pour ce compte.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Cordialement,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
