force-app/main/default/flows/ACR_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DEC_IsSignataire</name>
        <label>Signataire ?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UPDATE_ContactIsNoSignataire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_IsSignataire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Signataire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_ContactIsSignataire</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ACR After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACR After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UPDATE_ContactIsNoSignataire</name>
        <label>UPDATE Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Societe_owner__c</field>
            <value>
                <elementReference>$Record.Contact.Owner.CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_IsSignataire__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_ContactIsSignataire</name>
        <label>UPDATE Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Societe_owner__c</field>
            <value>
                <elementReference>$Record.Contact.Owner.CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_IsSignataire__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_IsSignataire</targetReference>
        </connector>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
