force-app/main/default/flows/Actualiser_PDE_depuis_un_compte.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_ManageSGE</name>
        <label>Rafraichissement des sites</label>
        <locationX>360</locationX>
        <locationY>1058</locationY>
        <actionName>SGEManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_AddResponse</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_Erreur</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>listPDE</name>
            <value>
                <elementReference>loop_SelectedPDE</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SGEManager</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_CurrentPDE.messageConsulterMesure</assignToReference>
            <name>messageConsulterMesure</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_CurrentPDE.messageConsulterPoint</assignToReference>
            <name>messageConsulterPoint</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_CurrentPDE.messageUpdate</assignToReference>
            <name>messageUpdate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_CurrentPDE.siteName</assignToReference>
            <name>siteName</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_AddResponse</name>
        <label>Ajout de la reponse de SGE</label>
        <locationX>360</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>var_WrapPDEInfoEnedis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CurrentPDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_SelectedPDE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_PDENotNull</name>
        <label>Il existe des PDE ?</label>
        <locationX>512</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>S_NoPDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listOfPDE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_SelectionPDE</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Syndic</name>
        <label>Le compte est-il un syndic ?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GET_PDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Syndic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syndic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PdeSyndic</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_typeObjet</name>
        <label>Compte ou Demande de Cotation ?</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>dec_PDENotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>est_compte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>isCompte</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>est compte</label>
        </rules>
        <rules>
            <name>est_demande_de_cotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>isDdc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Demande_de_cotation</targetReference>
            </connector>
            <label>est demande de cotation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualiser PDE depuis un compte {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiser PDE depuis un compte</label>
    <loops>
        <name>loop_SelectedPDE</name>
        <label>Pour chaque PDE selectionné</label>
        <locationX>272</locationX>
        <locationY>950</locationY>
        <collectionReference>ListOfSelectedPDE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ACT_ManageSGE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>S_ResultSGE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Syndic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demande_de_cotation</name>
        <label>Get Demande de cotation</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PDE_ddc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demande_Cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDE</name>
        <label>Get PDE</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_PDENotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACD_valide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>listOfPDE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>Date_signature_ACD__c</queriedFields>
        <queriedFields>Date_MAJ_Enedis__c</queriedFields>
        <queriedFields>Consommation_Annuelle_de_R_f_rence_Elec__c</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PDE_ddc</name>
        <label>Get PDE ddc</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_PDENotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACD_valide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>listOfPDE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>Date_signature_ACD__c</queriedFields>
        <queriedFields>Date_MAJ_Enedis__c</queriedFields>
        <queriedFields>Consommation_Annuelle_de_R_f_rence_Elec__c</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_PdeSyndic</name>
        <label>Get PDE Syndic</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_PDENotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Syndic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACD_valide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>listOfPDE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Consommation_Annuelle_de_R_f_rence_Elec__c</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Date_signature_ACD__c</queriedFields>
        <queriedFields>Date_MAJ_Enedis__c</queriedFields>
    </recordLookups>
    <screens>
        <name>S_Erreur</name>
        <label>Screen erreur</label>
        <locationX>624</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEXT_ErreurSGE</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Erreur :&amp;nbsp;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_NoPDE</name>
        <label>Ecran de fin</label>
        <locationX>752</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEXT_NoPDE</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Vous n&apos;avez aucun PDE.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Seul les PDE ELEC avec une date de signature d&apos;ACD inférieur à 1 an sont actualisables.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_ResultSGE</name>
        <label>Affichage de la réponse</label>
        <locationX>272</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lwc_EnedisResult</name>
            <extensionName>c:enedisResultDataTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{label: &quot;Nom du site&quot;,fieldName: &quot;siteName&quot;},{label: &quot;resultat&quot;,fieldName: &quot;message&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>var_WrapPDEInfoEnedis</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_SelectionPDE</name>
        <label>Selectionnez les PDE</label>
        <locationX>272</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_SelectedPDE</targetReference>
        </connector>
        <fields>
            <name>LWC_datatable</name>
            <dataTypeMappings>
                <typeName>t</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc001_DataTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>listOfPDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selected</name>
                <value>
                    <elementReference>ListOfSelectedPDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowName</name>
                <value>
                    <stringValue>Actualiser_PDE_depuis_un_compte</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ListOfSelectedPDE</assignToReference>
                <name>selected</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_typeObjet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isCompte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001</stringValue>
        </value>
    </variables>
    <variables>
        <name>isDdc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0L</stringValue>
        </value>
    </variables>
    <variables>
        <name>listOfPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListOfSelectedPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrentPDE</name>
        <apexClass>WrapPDEInfoEnedis</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WrapPDEInfoEnedis</name>
        <apexClass>WrapPDEInfoEnedis</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
