force-app/main/default/flows/Adhesion_Symposium.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SEND_email_symposium</name>
        <label>SEND email symposium</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>S_Demande_confirmee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>contact@mysymposium.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>gestion-lead@alliancedesenergies.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Alliance des Energies | Un nouveau client intéressé par vos services !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TEXTTEMPLATE_Email_Symposium_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Email_Symposium</name>
        <dataType>String</dataType>
        <value>
            <stringValue>contact@mysymposium.fr</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DEC_ContractIdPresent</name>
        <label>ContractId présent ?</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Impossible_de_trouver_le_contrat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_ContractIdPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_CONTRACT</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_IsProd</name>
        <label>On est en prod ?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>S_Demande_confirmee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_IsProd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ORG_INFO.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEND_email_symposium</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Symposium adhésion {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Adhésion Symposium</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_CONTRACT</name>
        <label>GET CONTRACT</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPDATE_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Impossible_de_trouver_le_contrat</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Date de contrat dépassée</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ORG_INFO</name>
        <label>GET ORG INFO</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_IsProd</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Account</name>
        <label>UPDATE Account</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>GET_ORG_INFO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_CONTRACT.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adherent_symposium__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Impossible_de_trouver_le_contrat</name>
        <label>Impossible de trouver le contrat</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ContractNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;Oups !&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Votre contrat n&apos;est plus actif chez nous, veuillez contacter votre interlocuteur Alliance des Energies si vous pensez qu&apos;il s&apos;agit d&apos;une erreur.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>J&apos;ai compris</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Demande_confirmee</name>
        <label>Demande confirmée</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ConfirmationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(14, 160, 10); font-size: 20px;&quot;&gt;Demande d&apos;adhésion envoyée !&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Féliciation, votre demande à bien été transmise aux services Symposium, qui prendra contact avec vous le plus rapidement possible !&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Vous pouvez désormais fermer cette page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>J&apos;ai compris</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_WelcomeScreen</name>
        <label>Demande d&apos;adhésion</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_ContractIdPresent</targetReference>
        </connector>
        <fields>
            <name>TEXT_WelcomeMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Confirmez votre demande&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Afin de bénéficier &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;gratuitement &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;des services Symposium, nous devons transmettre certaines de vos informations (Nom, Prénom, Mail, etc..) afin qu&apos;ils puissent vous contacter pour finaliser votre adhésion.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;En cliquant sur le bouton &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Je confirme ma demande&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot;, vous acceptez que nous partageons ces informations avec notre partenaire Symposium.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Je confirme ma demande</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_WelcomeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TEXTTEMPLATE_Email_Symposium_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bonjour,

Un client Alliance des Energies souhaite bénéficier de vos services. Voici ses informations :

Nom : {!GET_CONTRACT.Nom_signataire__c}
Prénom : {!GET_CONTRACT.Prenom_signataire__c}
Email : {!GET_CONTRACT.Mail_signataire__c}
Tél : {!GET_CONTRACT.Tel_signataire__c}
Raison Sociale : {!GET_CONTRACT.Account.Name}
SIRET : {!GET_CONTRACT.Siret_payeur__c}
Fin de contrat : {!GET_CONTRACT.Date_echeance__c}

En vous souhaitant une bonne journée,
L&apos;équipe Alliance des Energies.</text>
    </textTemplates>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
