force-app/main/default/flows/ajoutOuSuppressionPDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP005</name>
        <label>Créer Opportunité PDE Relation</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <actionName>AP005_CreateOPRFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedPDEs</name>
            <value>
                <elementReference>coll_PDEChoosen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP005_CreateOPRFromFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ACT_AP006</name>
        <label>Delete Opportunity PDE Relation</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>AP006_DeleteOPRFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_FailedDelete</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>selectedOPR</name>
            <value>
                <elementReference>coll_OPRToDelete</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP006_DeleteOPRFromFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_ToPDEIdOnOpportunity</name>
        <label>Ajouter l&apos;identifiant du PDE</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>coll_PDEIdOnOpportunity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_OverPDEOnOpportunity.PDE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_OverPDEOnOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_recordType</name>
        <label>Retrieve record type</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Que_souhaitez_vous_faire</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter</name>
        <choiceText>Ajouter</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Ajouter</elementReference>
        </value>
    </choices>
    <choices>
        <name>Supprimer</name>
        <choiceText>Supprimer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Supprimer</elementReference>
        </value>
    </choices>
    <decisions>
        <name>dec_AjouterOuSupprimerPDE</name>
        <label>Ajouter ou supprimer des points d&apos;énergies ?</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GET_PDEOnOpportunite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supprimer</defaultConnectorLabel>
        <rules>
            <name>ch_Ajouter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ajouter</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_TypeOpportunity</targetReference>
            </connector>
            <label>Ajouter</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_type_Opportunite</name>
        <label>Choix selon le type d&apos;opportunité</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>GET_PDEGaz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gaz</defaultConnectorLabel>
        <rules>
            <name>C1C2C3C4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_typeOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C1C2C3C4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDEC1C2C3C4</targetReference>
            </connector>
            <label>C1C2C3C4</label>
        </rules>
        <rules>
            <name>C5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_typeOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDEC5</targetReference>
            </connector>
            <label>C5</label>
        </rules>
        <rules>
            <name>C54Postes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_typeOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C54Postes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDEC54Postes</targetReference>
            </connector>
            <label>C54Postes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ValueReturned</name>
        <label>Est-ce qu&apos;il y a des points d&apos;énergies à supprimer</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Pas_d_elements_a_supprimer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDEOnOpportunite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selectionnez_les_PDE_supprimer</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_qu_il_y_a_des_points_d_energies_ajouter</name>
        <label>Est-ce qu&apos;il y a des points d&apos;énergies à ajouter</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Pas_d_elements_ajouter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui_PDE_To_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_PDE_To_Add</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selectionnez_les_point_d_energies_a_ajouter</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ModifierListePDEOpportunité{!$Flow.CurrentDateTime}</interviewLabel>
    <label>ModifierListePDEOpportunite</label>
    <loops>
        <name>loop_OverPDEOnOpportunity</name>
        <label>On parcours la liste des PDE sur les OPR</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <collectionReference>coll_PDEOnOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ToPDEIdOnOpportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_type_Opportunite</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_AccountType</name>
        <label>GET Account record type</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PDEOnOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEC1C2C3C4</name>
        <label>Get PDE C1C2C3C4</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_il_y_a_des_points_d_energies_ajouter</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 ) AND 5 AND 6</filterLogic>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C1</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C2</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C3</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DemandeCotationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_PDEIdOnOpportunity</elementReference>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>coll_PDE_To_Add</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEC5</name>
        <label>Get PDE C5</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_il_y_a_des_points_d_energies_ajouter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </filters>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DemandeCotationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_PDEIdOnOpportunity</elementReference>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>coll_PDE_To_Add</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEC54Postes</name>
        <label>Get PDE C5 4 Postes</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_il_y_a_des_points_d_energies_ajouter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DemandeCotationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_PDEIdOnOpportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_C5_4Postes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>coll_PDE_To_Add</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEGaz</name>
        <label>Get PDE Gaz</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_il_y_a_des_points_d_energies_ajouter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DemandeCotationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>coll_PDEIdOnOpportunity</elementReference>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>coll_PDE_To_Add</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PCE_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEOnOpportunite</name>
        <label>Get PDE of opportunities</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_ValueReturned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityPDERelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEOnOpportunity</name>
        <label>get PDE on Opportunity</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_OverPDEOnOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityPDERelation__c</object>
        <outputReference>coll_PDEOnOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PDE__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordTypeIdSyndic</name>
        <label>GET Record type Id syndic</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_AccountType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Syndic</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeSyndic</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_TypeOpportunity</name>
        <label>Get type opportunity</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RecordTypeIdSyndic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_DemandeCotationId</assignToReference>
            <field>Demande_Cotation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_typeOpportunity</assignToReference>
            <field>TECH_FTA__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Pas_d_elements_a_supprimer</name>
        <label>Pas d&apos;éléments à supprimer</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Display_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Il n&apos;y a pas de point d&apos;énergie à supprimer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pas_d_elements_ajouter</name>
        <label>Pas d&apos;éléments à ajouter</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Display_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Il n&apos;y a pas de point d&apos;énergie à ajouter.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Que_souhaitez_vous_faire</name>
        <label>Que souhaitez-vous faire ?</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_AjouterOuSupprimerPDE</targetReference>
        </connector>
        <fields>
            <name>Souhaitez_vous_ajouter_ou_supprimer_des_points_d_energies</name>
            <choiceReferences>Ajouter</choiceReferences>
            <choiceReferences>Supprimer</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>resultat</stringValue>
            </defaultValue>
            <fieldText>Souhaitez vous ajouter ou supprimer des points d&apos;énergies</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Failed</name>
        <label>Opération échouée</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Un ou plusieurs points d&apos;énergies n&apos;ont pas pu être ajouter à l&apos;opportunité.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Contactez votre administrateur.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_FailedDelete</name>
        <label>Opération échouée</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Error_Delete</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Un ou plusieurs points d&apos;énergies n&apos;ont pas pu être ajouter à l&apos;opportunité.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Contactez votre administrateur.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Success</name>
        <label>Opération réussie</label>
        <locationX>908</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 105, 29);&quot;&gt;Opération effectuée avec succès&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selectionnez_les_PDE_supprimer</name>
        <label>Selectionnez les PDE à supprimer</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_AP006</targetReference>
        </connector>
        <fields>
            <name>ici_on_supprime</name>
            <fieldText>&lt;p&gt;ICI ON SUPPRIME&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_PDE_to_delete</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityPDERelation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selectionnez les points d&apos;énergies à supprimer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_PDEOnOpportunite</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;TECH_name__c&quot;,&quot;guid&quot;:&quot;column-69df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nom du point d&apos;énergie&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TECH_PCE__c&quot;,&quot;guid&quot;:&quot;column-fb48&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;PCE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;TECH PCE&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>coll_OPRToDelete</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selectionnez_les_point_d_energies_a_ajouter</name>
        <label>Selectionnez les points d&apos;énergies à ajouter</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_AP005</targetReference>
        </connector>
        <fields>
            <name>dataTable_ListePDEToAdd</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choisissez les PDE à ajouter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>coll_PDE_To_Add</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d1a1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom du Site&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PCE_Refonte__c&quot;,&quot;guid&quot;:&quot;column-45f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;PCE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;PCE&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ReferencePointEnergie_Refonte__c&quot;,&quot;guid&quot;:&quot;column-ee6e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Réf point d&apos;énergie&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>coll_PDEChoosen</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_recordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_OPRToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityPDERelation__c</objectType>
    </variables>
    <variables>
        <name>coll_OPRToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityPDERelation__c</objectType>
    </variables>
    <variables>
        <name>coll_PDE_To_Add</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>coll_PDEChoosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>coll_PDEIdOnOpportunity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_PDEOnOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityPDERelation__c</objectType>
    </variables>
    <variables>
        <name>coll_PDEToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeSyndic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DemandeCotationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OPRToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityPDERelation__c</objectType>
    </variables>
    <variables>
        <name>var_typeOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
