force-app/main/default/flows/API_Prix_Endesa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_PrixGazAPI</name>
        <label>GET PRIX ENDESA</label>
        <locationX>202</locationX>
        <locationY>1922</locationY>
        <actionName>AP014_APIEndesa</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_isSuccess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>acc</name>
            <value>
                <elementReference>GET_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duree_offre</name>
            <value>
                <elementReference>PICKLIST_DureeOffre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listOPR</name>
            <value>
                <elementReference>GET_OPR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listSites</name>
            <value>
                <elementReference>col_APISite</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opp</name>
            <value>
                <elementReference>GET_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>GET_quote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type_offre</name>
            <value>
                <elementReference>PICKLIST_TypeOffre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type_paiement</name>
            <value>
                <elementReference>PICKLIST_TypePaiement</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP014_APIEndesa</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ADD_Site</name>
        <label>Ajout site à la collection</label>
        <locationX>442</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>col_APISite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_APISite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Site</name>
        <label>Création site</label>
        <locationX>442</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>var_APISite.pce</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_PDE.PDE__r.PCE_Refonte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_APISite.commission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INPUT_Marge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_APISite.mandat_grdf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADD_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Ajout_site_la_collection</name>
        <label>Ajout site à la collection</label>
        <locationX>138</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>col_APISite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_APISite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_LOOP_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Cr_ation_site</name>
        <label>Création site</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_APISite.pce</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_LOOP_PDE.PDE__r.PCE_Refonte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_APISite.commission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INPUT_MargeGlobale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_APISite.mandat_grdf</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Ajout_site_la_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Type d’offre Stabilité Lissée</description>
        <name>CHOICE_A1</name>
        <choiceText>Type d’offre Stabilité Lissée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A1</stringValue>
        </value>
    </choices>
    <choices>
        <description>Type d’offre Stabilité Plus Lissée</description>
        <name>CHOICE_A2</name>
        <choiceText>Type d’offre Stabilité Plus Lissée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A2</stringValue>
        </value>
    </choices>
    <choices>
        <description>Type d’offre Stabilité</description>
        <name>CHOICE_B1</name>
        <choiceText>Type d’offre Stabilité</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B1</stringValue>
        </value>
    </choices>
    <choices>
        <description>Type d’offre Stabilité Plus</description>
        <name>CHOICE_B2</name>
        <choiceText>Type d’offre Stabilité Plus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B2</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_MargeGlobale</name>
        <choiceText>Marge globale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marge globale</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_MargeParPDE</name>
        <choiceText>Marge par point d&apos;énergie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marge par point d&apos;énergie</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_Offre1J</name>
        <choiceText>1 jour - {!Formula_Date_Offre1J}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_Date_Offre1J</elementReference>
        </value>
    </choices>
    <choices>
        <name>CHOICE_Offre2J</name>
        <choiceText>2 jours - {!Formula_Date_Offre2J}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_Date_Offre2J</elementReference>
        </value>
    </choices>
    <choices>
        <name>CHOICE_Offre3J</name>
        <choiceText>3 jours - {!Formula_Date_Offre3J}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Formula_Date_Offre3J</elementReference>
        </value>
    </choices>
    <choices>
        <description>Le type de paiement &quot;1&quot; = Prélèvement</description>
        <name>CHOICE_TypePaiement1</name>
        <choiceText>Prélèvement</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>Le type de paiement &quot;2&quot; = Virement</description>
        <name>CHOICE_TypePaiement2</name>
        <choiceText>Virement</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_AdresseCoproBienRemplir</name>
        <label>Est-ce que l&apos;adresse de la copro est bien remplie ?</label>
        <locationX>400</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>S_ErreurAdresse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Copro</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>formula_Copro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Account.Ville__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Account.Voie__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Account.Numero_voie__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Account.Code_postal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_InformationContrat</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_isSuccess</name>
        <label>L&apos;appel a-t-il fonctionné</label>
        <locationX>202</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>S_responseAPI400</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_PrixGazAPI.StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_responseAPI200</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_QuoteBienRemplie</name>
        <label>Les dates de début et de fin sont-elles renseignées ?</label>
        <locationX>631</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>S_ErreurDates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_DatesPresentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_quote.Minimum_date_de_debut__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_quote.Maximum_date_de_fin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Account</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_TypeDeMarge</name>
        <label>Quelle type de marge a été choisie ?</label>
        <locationX>202</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>LOOP_PDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Marge par PDE</defaultConnectorLabel>
        <rules>
            <name>ch_MargeGlobale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PICKVAL_TypeMarge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marge globale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_LOOP_PDE</targetReference>
            </connector>
            <label>Marge globale</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_Copro</name>
        <dataType>Boolean</dataType>
        <expression>{!GET_Account.RecordTypeId} = {!GET_RecordTypeCopro.Id}</expression>
    </formulas>
    <formulas>
        <name>Formula_Date_Offre1J</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Formula_Date_Offre2J</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>Formula_Date_Offre3J</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <interviewLabel>API Prix Endesa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Prix Endesa</label>
    <loops>
        <name>Copy_1_of_LOOP_PDE</name>
        <label>LOOP PDE</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <collectionReference>GET_OPR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Cr_ation_site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ACT_PrixGazAPI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_PDE</name>
        <label>LOOP PDE</label>
        <locationX>354</locationX>
        <locationY>1322</locationY>
        <collectionReference>GET_OPR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>S_ChoixMarge</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ACT_PrixGazAPI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_Account</name>
        <label>GET Account</label>
        <locationX>400</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RecordTypeCopro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_quote.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Siret__c</queriedFields>
        <queriedFields>Syndic__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Numero_voie__c</queriedFields>
        <queriedFields>Voie__c</queriedFields>
        <queriedFields>Ville__c</queriedFields>
        <queriedFields>Code_postal__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>il me faut l&apos;opp pour remonter jusqu&apos;au signataire</description>
        <name>GET_Opportunity</name>
        <label>GET opportunity</label>
        <locationX>202</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_OPR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_quote.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Demande_Cotation__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OPR</name>
        <label>GET OPR</label>
        <locationX>202</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_TypeDeMarge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_quote.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityPDERelation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PDE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Il me faut le quote pour remonter jusqu&apos;au compte et jusqu&apos;à l&apos;opp</description>
        <name>GET_quote</name>
        <label>GET Quote</label>
        <locationX>631</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_QuoteBienRemplie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Minimum_date_de_debut__c</queriedFields>
        <queriedFields>Maximum_date_de_fin__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordTypeCopro</name>
        <label>GET RecordTypeId Copropriete</label>
        <locationX>400</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_AdresseCoproBienRemplir</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Copropriete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>S_ChoixMarge</name>
        <label>S_ChoixMarge</label>
        <locationX>442</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_Site</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo_4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_ChoixMarge_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_ChoixMarge_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_ChoixMarge_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_CAR2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(31, 171, 240); font-size: 22px;&quot;&gt;﻿Site PRM : &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(31, 171, 240); font-size: 22px;&quot;&gt;{!LOOP_PDE.PDE__r.PCE_Refonte__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tarif : &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!LOOP_PDE.PDE__r.Tarif__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Profil : &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!LOOP_PDE.PDE__r.Profil__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;CAR : &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!LOOP_PDE.PDE__r.CARGaz__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>INPUT_Marge</name>
                    <dataType>Number</dataType>
                    <fieldText>Marge pour ce point d&apos;énergie</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_ChoixMarge_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Disclaimer</name>
        <label>Screen disclaimer</label>
        <locationX>631</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_quote</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_DureeEngagementObligatoire</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(31, 171, 240); font-size: 22px;&quot;&gt;Prérequis de l&apos;API Gaz&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Pour profiter des prix Endesa, vous avez besoin d&apos;avoir au moins :&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- Un élément de devis&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- Une date de &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;début de fourniture&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- Une date de &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;nouvelle échéance&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>J&apos;ai compris</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_ErreurAdresse</name>
        <label>Screen erreur adresse</label>
        <locationX>598</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_ErreurAdresse</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Attention l&apos;adresse de la copropriété est mal renseignée, les éléments suivants sont obligatoires :&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Numéro de voie&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Voie&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Ville&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Code postal&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pardon...</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_ErreurDates</name>
        <label>Screen Erreur dates</label>
        <locationX>862</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_ErreurPrerequisAPIEndesa</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ErreurPrerequisAPIEndesa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_ErreurDates</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Aïe aïe aïe&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;La date de début de fourniture OU la nouvelle échéance n&apos;est pas renseignée.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pardon...</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Ecran d&apos;information pour les informations Endesa</description>
        <name>S_InformationContrat</name>
        <label>Entrer le type d&apos;offre</label>
        <locationX>202</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S_message</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo_2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_InformationContrat_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_InformationContrat_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_InformationContrat_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text_Type_Offre</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(31, 171, 240);&quot;&gt;Type d&apos;offre souhaitée&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Vous avez le choix entre : &lt;/span&gt;Stabilité&lt;span style=&quot;font-size: 14px;&quot;&gt;, &lt;/span&gt;Stabilité Lissée&lt;span style=&quot;font-size: 14px;&quot;&gt;, &lt;/span&gt;Stabilité Plus&lt;span style=&quot;font-size: 14px;&quot;&gt;, &lt;/span&gt;Stabilité Plus Lissée&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_TypeOffre</name>
                    <choiceReferences>CHOICE_A1</choiceReferences>
                    <choiceReferences>CHOICE_A2</choiceReferences>
                    <choiceReferences>CHOICE_B1</choiceReferences>
                    <choiceReferences>CHOICE_B2</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>CHOICE_A1</defaultSelectedChoiceReference>
                    <fieldText>Choisissez le type d&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_DureeOffre</name>
                    <choiceReferences>CHOICE_Offre1J</choiceReferences>
                    <choiceReferences>CHOICE_Offre2J</choiceReferences>
                    <choiceReferences>CHOICE_Offre3J</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>CHOICE_Offre1J</defaultSelectedChoiceReference>
                    <fieldText>Durée de l&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_TypePaiement</name>
                    <choiceReferences>CHOICE_TypePaiement1</choiceReferences>
                    <choiceReferences>CHOICE_TypePaiement2</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultSelectedChoiceReference>CHOICE_TypePaiement1</defaultSelectedChoiceReference>
                    <fieldText>Type de paiement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_InformationContrat_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;API ENDESA&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_message</name>
        <label>Choix type de marge</label>
        <locationX>202</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_Opportunity</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo_3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_message_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_ChoixMarge</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(31, 171, 240); font-size: 22px;&quot;&gt;Type de marge&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Globale &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: La marge sera la même pour tous les sites&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Différente par site&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; : La marge sera à renseigner pour chaque site&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKVAL_TypeMarge</name>
                    <choiceReferences>CHOICE_MargeGlobale</choiceReferences>
                    <choiceReferences>CHOICE_MargeParPDE</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>CHOICE_MargeGlobale</defaultSelectedChoiceReference>
                    <fieldText>Choix type de marge</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>INPUT_MargeGlobale</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant marge globale</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PICKVAL_TypeMarge</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CHOICE_MargeGlobale</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_message_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_responseAPI200</name>
        <label>Réponse 200</label>
        <locationX>70</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_EndesaLogo_5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_ResponseCode</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(31, 171, 240); font-size: 20px;&quot;&gt;{!ACT_PrixGazAPI.response}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_responseAPI400</name>
        <label>Réponse 400</label>
        <locationX>334</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_EndesaLogo_6</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_S_ResponseCode</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(250, 0, 0); font-size: 20px;&quot;&gt;{!ACT_PrixGazAPI.response}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>505</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_Disclaimer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_APISite</name>
        <apexClass>WrapSitesAPIEndesa</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_APISite</name>
        <apexClass>WrapSitesAPIEndesa</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
