force-app/main/default/flows/Automatisation_Grille_Fournisseur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Check_Eligibilite</name>
        <label>Check Eligibilite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP021_EligibilityChecker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP021_EligibilityChecker</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>colFournisseursWrapper</assignToReference>
            <name>fournisseurs</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Creation_Quote_QLI</name>
        <label>Creation Quote QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP021_CreateQuoteQLIGrille</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wrappers</name>
            <value>
                <elementReference>colFournisseursWrapFlowInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP021_CreateQuoteQLIGrille</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Ekwateur_to_the_Collection</name>
        <label>Add Ekwateur to the Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFournisseursWrapFlowInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFournisseur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Engie_to_the_collection</name>
        <label>Add Engie to the collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFournisseursWrapFlowInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFournisseur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_GEG_to_Collection</name>
        <label>Add GEG to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFournisseursWrapFlowInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFournisseur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ilek_to_Collection</name>
        <label>Add Ilek to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFournisseursWrapFlowInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFournisseur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_to_Collection</name>
        <label>Add Total to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFournisseursWrapFlowInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFournisseur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vattenfall_to_Collection</name>
        <label>Add Vattenfall to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFournisseursWrapFlowInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFournisseur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Ekwateur</name>
        <label>Assignment Ekwateur</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFournisseur.fournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fournisseurs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.duree</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.marge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Marge_Ekwateur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ekwateur_to_the_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Engie_Pro</name>
        <label>Assignment Engie Pro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFournisseur.fournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fournisseurs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.duree</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreEngiePro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.marge</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Engie_to_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_GEG</name>
        <label>Assignment GEG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFournisseur.fournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fournisseurs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.duree</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreGEG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.marge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_marge_GEG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_GEG_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Ilek</name>
        <label>Assignment Ilek</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFournisseur.fournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fournisseurs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.duree</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>24</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.marge</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ilek_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Total</name>
        <label>Assignment Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFournisseur.fournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fournisseurs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.duree</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.marge</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Total_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Vattenfall</name>
        <label>Assignment Vattenfall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFournisseur.fournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fournisseurs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.duree</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreVattenfall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFournisseur.marge</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Vattenfall_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extraire_et_Ajouter</name>
        <label>Extraire et Ajouter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFournisseursChoisis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_ExtrairePremier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resteFournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_remaining_fournisseur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reste_t_il_des_fournisseurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialisation_Assignment</name>
        <label>Initialisation Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resteFournisseurs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fournisseurChoisis_Formate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reste_t_il_des_fournisseurs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_12</name>
        <choiceText>12 mois d&apos;engagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <description>24 mois d&apos;engagement</description>
        <name>ch_24</name>
        <choiceText>24 mois d&apos;engagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_36</name>
        <choiceText>36 mois d&apos;engagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_marge_10</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Marge 10€ à partager (Gaz)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_marge_15</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Marge 15€ à partager (Elec)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_marge_8</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Marge 8€ à partager (Elec)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe12mois</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre fixe 12 mois&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12_fixe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe24mois</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre fixe 24 mois&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24_fixe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisElec10p</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre C4 fixe 36 mois 10% (MES)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_10pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisElec15p</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre C4/C5 fixe 36 mois 15%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_15pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisElec20p</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre C5 fixe 36 mois 20% (Chgt de fournisseur)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_20pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisGaz5p</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre Gaz fixe 36 mois 5%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_5pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrenonfixe12mois</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre Latitude 12 mois&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12_variable</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>dec_Liste_Non_Null</name>
        <label>Liste fournisseur eligible null ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>choixFournisseur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_ListeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFournisseursWrapper</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_Pas_de_Fournisseur_Eligible</targetReference>
            </connector>
            <label>oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fournisseur_en_cours</name>
        <label>Fournisseur en cours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TotalEnergies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fournisseurs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TotalEnergies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Total</targetReference>
            </connector>
            <label>TotalEnergies</label>
        </rules>
        <rules>
            <name>Vattenfall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fournisseurs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vattenfall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Vattenfall</targetReference>
            </connector>
            <label>Vattenfall</label>
        </rules>
        <rules>
            <name>GEG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fournisseurs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GEG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_GEG</targetReference>
            </connector>
            <label>GEG</label>
        </rules>
        <rules>
            <name>Ilek</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fournisseurs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ilek</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Ilek</targetReference>
            </connector>
            <label>Ilek</label>
        </rules>
        <rules>
            <name>Engie_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fournisseurs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Engie_Pro</targetReference>
            </connector>
            <label>Engie Pro</label>
        </rules>
        <rules>
            <name>Ekwateur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fournisseurs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ekwateur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Ekwateur</targetReference>
            </connector>
            <label>Ekwateur</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reste_t_il_des_fournisseurs</name>
        <label>Reste-t-il des fournisseurs ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Fournisseurs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resteFournisseurs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extraire_et_Ajouter</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_Fournisseur</name>
        <label>Screen Fournisseur</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Initialisation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fournisseur_avec_parametres</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Engie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vattenfall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GEG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ekwateur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choix_Durees_Et_Marges</targetReference>
            </connector>
            <label>Fournisseur avec parametres</label>
        </rules>
    </decisions>
    <description>Flow fonctionnelle</description>
    <dynamicChoiceSets>
        <name>choiceSetFournisseurs</name>
        <collectionReference>colFournisseursWrapper</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_ExtrairePremier</name>
        <dataType>String</dataType>
        <expression>LEFT({!resteFournisseurs}, FIND(&quot;;&quot;, {!resteFournisseurs}) - 1)</expression>
    </formulas>
    <formulas>
        <name>formula_marge_number_ekwateur</name>
        <dataType>Number</dataType>
        <expression>VALUE({!input_Marge_Ekwateur})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_remaining_fournisseur</name>
        <dataType>String</dataType>
        <expression>MID( {!resteFournisseurs}, FIND(&quot;;&quot;, {!resteFournisseurs}) + 1, LEN({!resteFournisseurs}))</expression>
    </formulas>
    <formulas>
        <name>Formula_SupprimerPremier</name>
        <dataType>String</dataType>
        <expression>MID({!resteFournisseurs}, FIND(&quot;;&quot;, {!resteFournisseurs}) + 1, LEN({!resteFournisseurs}))</expression>
    </formulas>
    <formulas>
        <name>FormulaCheckFournisseurDansOpp</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(
  &quot;;&quot; &amp; {!varFinalFournisseurs} &amp; &quot;;&quot;,
  &quot;;&quot; &amp; TRIM({!Loop_Fournisseurs}) &amp; &quot;;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>FormulaContientEkwateur</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!checkbox_fournisseur_choisis}, &quot;Ekwateur&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaContientEngiePro</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!checkbox_fournisseur_choisis}, &quot;Engie Pro&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaContientGEG</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!checkbox_fournisseur_choisis}, &quot;GEG&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaContientIlek</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!checkbox_fournisseur_choisis}, &quot;Ilek&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaContientTotal</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!checkbox_fournisseur_choisis}, &quot;TotalEnergies&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaContientVattenfall</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!checkbox_fournisseur_choisis}, &quot;Vattenfall&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaFournisseurToSet</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!varFournisseurOpportunity}),
    {!checkbox_fournisseur_choisis},
    IF(
        CONTAINS(&quot;;&quot; + SUBSTITUTE({!varFournisseurOpportunity}, &quot; &quot;, &quot;&quot;) + &quot;;&quot;, &quot;;&quot; + {!checkbox_fournisseur_choisis} + &quot;;&quot;),
        {!varFournisseurOpportunity},
        {!varFournisseurOpportunity} + &quot;;&quot; + {!checkbox_fournisseur_choisis}
    )
)</expression>
    </formulas>
    <formulas>
        <name>FormulaNettoyageGetFournisseur</name>
        <dataType>String</dataType>
        <expression>TRIM({!varFournisseurOpportunity})</expression>
    </formulas>
    <formulas>
        <name>fournisseurChoisis_Formate</name>
        <dataType>String</dataType>
        <expression>{!checkbox_fournisseur_choisis} &amp; &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Automatisation Grille Fournisseur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatisation Grille Fournisseur</label>
    <loops>
        <name>Loop_Fournisseurs</name>
        <label>Boucle sur fournisseurs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colFournisseursChoisis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fournisseur_en_cours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creation_Quote_QLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Liste_Non_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choix_Durees_Et_Marges</name>
        <label>Choix Durees Et Marges</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initialisation_Assignment</targetReference>
        </connector>
        <fields>
            <name>Choix_Durees_Et_Marges_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choix_Durees_Et_Marges_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Marge_Ekwateur</name>
                    <choiceReferences>ch_marge_8</choiceReferences>
                    <choiceReferences>ch_marge_15</choiceReferences>
                    <choiceReferences>ch_marge_10</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Entrer une marge en €/Mwh pour Ekwateur</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Ekwateur</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreVattenfall</name>
                    <choiceReferences>ch_24</choiceReferences>
                    <choiceReferences>ch_36</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_24</defaultSelectedChoiceReference>
                    <fieldText>Choix de la durée de l&apos;offre pour Vattenfall</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Vattenfall</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreTotal</name>
                    <choiceReferences>ch_12</choiceReferences>
                    <choiceReferences>ch_24</choiceReferences>
                    <choiceReferences>ch_36</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choix de la durée de l&apos;offre pour Total</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>TotalEnergies</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreGEG</name>
                    <choiceReferences>ch_12</choiceReferences>
                    <choiceReferences>ch_24</choiceReferences>
                    <choiceReferences>ch_36</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choix de la durée de l&apos;offre pour GEG</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>GEG</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>input_marge_GEG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Entrer une marge en €/Mwh pour GEG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>GEG</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreEngiePro</name>
                    <choiceReferences>Offrefixe12mois</choiceReferences>
                    <choiceReferences>Offrefixe24mois</choiceReferences>
                    <choiceReferences>Offrefixe36moisElec20p</choiceReferences>
                    <choiceReferences>Offrefixe36moisElec15p</choiceReferences>
                    <choiceReferences>Offrefixe36moisElec10p</choiceReferences>
                    <choiceReferences>Offrefixe36moisGaz5p</choiceReferences>
                    <choiceReferences>Offrenonfixe12mois</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Offrefixe12mois</defaultSelectedChoiceReference>
                    <fieldText>Choix du type d&apos;offre pour Engie Pro</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>checkbox_fournisseur_choisis</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Engie</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>choixFournisseur</name>
        <label>Choix fournisseur</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Fournisseur</targetReference>
        </connector>
        <fields>
            <name>checkbox_fournisseur_choisis</name>
            <choiceReferences>choiceSetFournisseurs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sélectionnez les fournisseurs souhaités</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>7</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Pas_de_Fournisseur_Eligible</name>
        <label>Screen Pas de Fournisseur Eligible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEXT_ListeNull</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 9, 0);&quot;&gt;Oups !&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Aucun fournisseur n&apos;est eligible pour cette opportunité &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Eligibilite</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colFournisseursChoisis</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Creation de la collection pour le wrapper de la AP021 Creation Quote</description>
        <name>colFournisseursWrapFlowInput</name>
        <apexClass>WrapCreationQuoteGrille</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFournisseursWrapper</name>
        <apexClass>WrapFournisseursEligibleGrille</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentFournisseur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Fournisseurs restant à traiter</description>
        <name>resteFournisseurs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalFournisseurs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFournisseur</name>
        <apexClass>WrapCreationQuoteGrille</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFournisseurOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
