force-app/main/default/flows/Bascule_C5_4_postes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Assignation_des_PDEs</name>
        <label>ASSIGN Assignation des PDEs</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>coll_ListOfPDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PDE_Depuis_Demande_de_cotation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Liste_PDEs_vide</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Assignation_des_PDEs_Compte</name>
        <label>ASSIGN Assignation des PDEs ( Compte )</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>coll_ListOfPDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PDE_Depuis_Compte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liste_PDEs_vide</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_PDE_conso_4_postes</name>
        <label>ASSIGN PDE conso 4 postes</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_PDE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HCE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HCH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHCH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HPH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHPH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_Base__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.ConsoHC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.ConsoHP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_PDE_To_PDEList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_PDE_conso_4_postes_2</name>
        <label>ASSIGN PDE conso 4 postes</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_PDE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PDE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HCE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HCH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHCH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_HPH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ConsoHPH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.Conso_Base__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.ConsoHC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PDE.ConsoHP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_PDE_To_PDEList_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_PDE_To_PDEList</name>
        <label>ASSIGN PDE To PDEList</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>col_PDEList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Total_CAR_to_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_PDE_To_PDEList_2</name>
        <label>ASSIGN PDE To PDEList</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>col_PDEList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_PDEList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Total_CAR</name>
        <label>ASSIGN Total CAR</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.Conso_Base__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.ConsoHC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.ConsoHP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.Conso_HPH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.Conso_HPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.Conso_HCH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_PDE_Selectionnes.Conso_HCE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_PDE_conso_4_postes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Total_CAR_2</name>
        <label>ASSIGN Total CAR</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_PDE.Conso_Base__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_PDE.ConsoHC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_PDE.ConsoHP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_PDE.Conso_HPH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_PDE.Conso_HPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_PDE.Conso_HCH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_PDE.Conso_HCE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_PDE_conso_4_postes_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Total_CAR_to_0</name>
        <label>ASSIGN Total CAR to 0</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_TotalCar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_PDE_Selectionnes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Flow_lance_depuis_un_PDE</name>
        <label>Flow lancé depuis un PDE ?</label>
        <locationX>886</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Flow_lance_depuis_un_PDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDE</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>depuis_un_compte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDE_Depuis_Compte</targetReference>
            </connector>
            <label>depuis un compte</label>
        </rules>
        <rules>
            <name>depuis_une_demande_de_cotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDE_Depuis_Demande_de_cotation</targetReference>
            </connector>
            <label>depuis une demande de cotation</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PDEs_Trouves</name>
        <label>PDEs Trouvés ?</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SCREEN_PDEs_depuis_compte_non_trouves</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_PDEs_Trouves</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE_Depuis_Compte</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Assignation_des_PDEs_Compte</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liste_PDEs_vide</name>
        <label>Liste PDEs vide ?</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_ListOfPDE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Selection_PDE</targetReference>
            </connector>
            <label>nom</label>
        </rules>
    </decisions>
    <decisions>
        <name>PDEs_Ddc_Trouv_s</name>
        <label>PDEs Ddc Trouvés ?</label>
        <locationX>1326</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SCREEN_PDEs_depuis_demande_de_cotation_non_trouv_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non</defaultConnectorLabel>
        <rules>
            <name>oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE_Depuis_Demande_de_cotation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Assignation_des_PDEs</targetReference>
            </connector>
            <label>oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_ConsoHCE</name>
        <dataType>Number</dataType>
        <expression>{!var_TotalCar} * 0.16</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_ConsoHCH</name>
        <dataType>Number</dataType>
        <expression>{!var_TotalCar} * 0.17</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_ConsoHPE</name>
        <dataType>Number</dataType>
        <expression>{!var_TotalCar} * 0.31</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_ConsoHPH</name>
        <dataType>Number</dataType>
        <expression>{!var_TotalCar} * 0.36</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Bascule C5 4 postes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bascule C5 4 postes</label>
    <loops>
        <name>LOOP_PDE_Selectionnes</name>
        <label>LOOP PDE Sélectionnés</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <collectionReference>DATATABLE_Selection_PDE.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_Total_CAR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_PDEList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_PDE</name>
        <label>GET PDE</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Total_CAR_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDE_Depuis_Compte</name>
        <label>GET PDE Depuis Compte</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_PDEs_Trouves</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6 AND (7 OR 8)</filterLogic>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </filters>
        <filters>
            <field>FTA__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>4 postes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Conso_Base__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ConsoHP__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ConsoHC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>X12_mois_consommation_SGE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Syndic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Conso_Base__c</queriedFields>
        <queriedFields>ConsoHC__c</queriedFields>
        <queriedFields>ConsoHP__c</queriedFields>
        <queriedFields>Conso_HCE__c</queriedFields>
        <queriedFields>Conso_HCH__c</queriedFields>
        <queriedFields>Conso_HPE__c</queriedFields>
        <queriedFields>Conso_HPH__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FTA__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDE_Depuis_Demande_de_cotation</name>
        <label>GET PDE Depuis Demande de cotation</label>
        <locationX>1326</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PDEs_Ddc_Trouv_s</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </filters>
        <filters>
            <field>FTA__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>4 postes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Conso_Base__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ConsoHP__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ConsoHC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>X12_mois_consommation_SGE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Conso_Base__c</queriedFields>
        <queriedFields>ConsoHC__c</queriedFields>
        <queriedFields>ConsoHP__c</queriedFields>
        <queriedFields>Conso_HCE__c</queriedFields>
        <queriedFields>Conso_HCH__c</queriedFields>
        <queriedFields>Conso_HPE__c</queriedFields>
        <queriedFields>Conso_HPH__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FTA__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_PDEList</name>
        <label>UPDATE PDEList</label>
        <locationX>886</locationX>
        <locationY>1658</locationY>
        <connector>
            <targetReference>SCREEN_PDEList_update_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCREEN_PDEList_failed_to_update</targetReference>
        </faultConnector>
        <inputReference>col_PDEList</inputReference>
    </recordUpdates>
    <screens>
        <name>SCREEN_PDEList_failed_to_update</name>
        <label>SCREEN PDEList failed to update</label>
        <locationX>1986</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_PDEList_update_failed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Problème lors de la mise à jour !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez transmettre ce message d&apos;erreur à votre Admin Salesforce :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_PDEList_update_success</name>
        <label>SCREEN PDEList update success</label>
        <locationX>886</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_PDEList_update_success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(25, 199, 2); font-size: 16px;&quot;&gt;Mise à jour réussie !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous pouvez désormais fermer cette écran.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_PDEs_depuis_compte_non_trouves</name>
        <label>SCREEN PDEs depuis compte non trouvés</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPDATE_PDEList</targetReference>
        </connector>
        <fields>
            <name>TEXT_PDEs_non_trouves</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Aucun PDE compatible trouvé !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sur ce compte il n&apos;y a aucun PDE C5 qui a basculé en 4 postes et qui a une conso Base/HP/HC.&lt;/p&gt;&lt;p&gt;Si vous avez des doutes, contactez votre Admin Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_PDEs_depuis_demande_de_cotation_non_trouv_s</name>
        <label>SCREEN PDEs depuis demande de cotation non trouvés</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_TEXT_PDEs_non_trouves</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Aucun PDE compatible trouvé !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sur cette demande de cotation il n&apos;y a aucun PDE C5 qui a basculé en 4 postes et qui a une conso Base/HP/HC.&lt;/p&gt;&lt;p&gt;Si vous avez des doutes, contactez votre Admin Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Selection_PDE</name>
        <label>SCREEN Selection PDE</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LOOP_PDE_Selectionnes</targetReference>
        </connector>
        <fields>
            <name>DATATABLE_Selection_PDE</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choisissez les PDEs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>coll_ListOfPDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-31f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom du Site&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FTA__c&quot;,&quot;guid&quot;:&quot;column-48e1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;FTA&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Conso_Base__c&quot;,&quot;guid&quot;:&quot;column-c950&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Conso Base&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;ConsoHP__c&quot;,&quot;guid&quot;:&quot;column-4985&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Conso HP&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;ConsoHC__c&quot;,&quot;guid&quot;:&quot;column-b13a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Conso HC&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Flow_lance_depuis_un_PDE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_PDEList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>coll_ListOfPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PDE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>var_TotalCar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
