force-app/main/default/flows/Contact_AFTER_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_user2</name>
        <label>Mise à jour de l&apos;utilisateur partenaire</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.TECH_Responsable_legal_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMULA_responsable_legal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_User</targetReference>
        </connector>
    </assignments>
    <description>Mise à jour du champs responsable légal Id sur tous les utilisateurs du partenaire</description>
    <environments>Default</environments>
    <formulas>
        <name>FORMULA_responsable_legal</name>
        <dataType>String</dataType>
        <expression>IF({!GET_RelatedUser.Contact.Responsable_legal__c},{!GET_RelatedUser.Id},&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Contact AFTER Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact AFTER Flow</label>
    <loops>
        <name>Loop_1</name>
        <label>Mise à jour de tous les commerciaux</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>GET_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_user2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_RelatedUser</name>
        <label>GET l&apos;utilisateur du nouveau responsable légal</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Users</name>
        <label>GET tous les commerciaux liés au partenaire</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RelatedUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_User</name>
        <label>UPDATE User</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputReference>Loop_1</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Responsable_legal__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
