force-app/main/default/flows/Contact_AFTER_B2BMA_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_EMAIL_Notif_owner</name>
        <label>EMAIL Notif owner</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>Account.Account_Engagement_update_account_existante</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Account_Engagement_update_account_existante</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_EMAIL_NotifOwner_PEPES</name>
        <label>EMAIL NotifOwner PEPES</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>Contact.B2BMA_Update_Contact_PEPS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.B2BMA_Update_Contact_PEPS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EMAIL_Notif_new_owner</name>
        <label>EMAIL Notif new owner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Account.Changement_Owner_Account_Achat_Groupe</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Changement_Owner_Account_Achat_Groupe</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>De_quelle_demande_s_agit_t_il</name>
        <label>De quelle demande s&apos;agit t&apos;il ?</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Demande_ADE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formulaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Date_derni_re_demande_ADE</targetReference>
            </connector>
            <label>Demande ADE</label>
        </rules>
        <rules>
            <name>Demande_PEPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formulaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_UPDATE_Date_derni_re_demande_PEPS</targetReference>
            </connector>
            <label>Demande PEPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_B2BMA_re_completionform_contact</name>
        <label>B2BMA re complétion formulaire ?</label>
        <locationX>941</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_B2BMA_Update_Date_demande</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_de_la_derniere_demande__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Compte_Principal_Achat_groupe</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Compte_Principal_Achat_groupe</name>
        <label>Compte Principal Achat groupé ?</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>De_quelle_demande_s_agit_t_il</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Achat_groupe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Achat_groupe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Responsable_achat_group_trouve</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Responsable_achat_group_trouve</name>
        <label>Responsable achat groupé trouvé ?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Responsable_achat_group_trouve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsable_achat_groupe__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Principal_Account_Owner</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact AFTER B2BMA Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact AFTER B2BMA Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_2_of_UPDATE_Date_derni_re_demande_PEPS</name>
        <label>UPDATE Date dernière demande PEPS</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_1_of_EMAIL_NotifOwner_PEPES</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_de_la_derniere_demande__c</field>
            <value>
                <elementReference>$Record.Date_de_la_derniere_demande__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Date_derni_re_demande_ADE</name>
        <label>UPDATE Date dernière demande ADE</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_1_of_EMAIL_Notif_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_de_la_derniere_demande__c</field>
            <value>
                <elementReference>$Record.Date_de_la_derniere_demande__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Principal_Account_Owner</name>
        <label>UPDATE Principal Account Owner</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>EMAIL_Notif_new_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_de_la_derniere_demande__c</field>
            <value>
                <elementReference>$Record.Date_de_la_derniere_demande__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Responsable_achat_groupe__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_B2BMA_re_completionform_contact</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
