force-app/main/default/flows/Contract_AFTER_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EA_Relance_12_mois</name>
        <label>Relance 12 mois</label>
        <locationX>2074</locationX>
        <locationY>384</locationY>
        <actionName>Contract.Contrat_relance_12_mois</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contrat_relance_12_mois</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EA_Relance_18_mois</name>
        <label>Relance 18 mois</label>
        <locationX>1546</locationX>
        <locationY>384</locationY>
        <actionName>Contract.Contrat_relance_18_mois</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contrat_relance_18_mois</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EA_Relance_3_mois</name>
        <label>Relance 3 mois</label>
        <locationX>3130</locationX>
        <locationY>384</locationY>
        <actionName>Contract.Contrat_relance_3_mois</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contrat_relance_3_mois</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EA_Relance_6_mois</name>
        <label>Relance 6 mois</label>
        <locationX>2602</locationX>
        <locationY>384</locationY>
        <actionName>Contract.Contrat_relance_6_mois</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contrat_relance_6_mois</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_col_compteid</name>
        <label>ASSIGN Ids copropriétés</label>
        <locationX>138</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>col_compteid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Prix_Contract_PDE.Point_energie__r.EntiteJuridique__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prix_Contract_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGNIds_copropri_t_s_Lost</name>
        <label>ASSIGNIds copropriétés Lost</label>
        <locationX>930</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>col_compteid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Prix_Contract_PDE_Lost.Point_energie__r.EntiteJuridique__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prix_Contract_PDE_Lost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Est_Syndic_ou_Copro</name>
        <label>DEC Est Syndic ou Copro ?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>UPDATE_AccountContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_est_syndic_ou_copro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syndic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copropriété</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prix_Contract_PDE</targetReference>
            </connector>
            <label>Oui est syndic ou copro</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Est_Syndic_ou_Copro_Lost</name>
        <label>DEC Est Syndic ou Copro ? Lost</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Update_account_statusAncienClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_est_syndic_ou_copro2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syndic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copropriété</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prix_Contract_PDE_Lost</targetReference>
            </connector>
            <label>Oui est syndic ou copro</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_OthersContract</name>
        <label>Is there others active contracts ?</label>
        <locationX>732</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>DEC_Est_Syndic_ou_Copro_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ch_ActiveContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_pertinence_relance_12_mois</name>
        <label>Vérifier pertinence relance 12 mois</label>
        <locationX>2206</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Ne pas envoyer</defaultConnectorLabel>
        <rules>
            <name>ch_Envoyer_le_mail_12_mois</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaNumberMonthtotal</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Relance_12_mois</targetReference>
            </connector>
            <label>Envoyer le mail 12 mois</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_pertinence_relance_18_mois</name>
        <label>Vérifier pertinence relance 18 mois</label>
        <locationX>1678</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Ne pas envoyer</defaultConnectorLabel>
        <rules>
            <name>ch_Envoyer_le_mail_18_mois</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaNumberMonthtotal</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Relance_18_mois</targetReference>
            </connector>
            <label>Envoyer le mail 18 mois</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_pertinence_relance_3_mois</name>
        <label>Vérifier pertinence relance 3 mois</label>
        <locationX>3262</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Ne pas envoyer</defaultConnectorLabel>
        <rules>
            <name>ch_Envoyer_le_mail_3_mois</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaNumberMonthtotal</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Relance_3_mois</targetReference>
            </connector>
            <label>Envoyer le mail 3 mois</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_pertinence_relance_6_mois</name>
        <label>Vérifier pertinence relance 6 mois</label>
        <locationX>2734</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Ne pas envoyer</defaultConnectorLabel>
        <rules>
            <name>ch_Envoyer_le_mail_6_mois</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaNumberMonthtotal</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Relance_6_mois</targetReference>
            </connector>
            <label>Envoyer le mail 6 mois</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_Email_Subject_Relance_4_mois</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &quot; | Contrat &quot; + {!$Record.Name} + &quot; relance des 4 mois&quot;</expression>
    </formulas>
    <formulas>
        <description>Calcule le nombre de mois entre la date d&apos;échéance et la date du lancement du flow (quand le contrat est validé = true)</description>
        <name>formulaNumberMonthtotal</name>
        <dataType>Number</dataType>
        <expression>(YEAR({!$Record.Date_echeance__c}) - YEAR({!$Flow.CurrentDate})) * 12 + (MONTH({!$Record.Date_echeance__c}) - MONTH({!$Flow.CurrentDate}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contract AFTER Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract AFTER Flow</label>
    <loops>
        <name>Loop_Prix_Contract_PDE</name>
        <label>Loop Prix Contract PDE</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Prix_Contract_PDE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_col_compteid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Copros_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prix_Contract_PDE_Lost</name>
        <label>Loop Prix Contract PDE Lost</label>
        <locationX>842</locationX>
        <locationY>816</locationY>
        <collectionReference>Get_Prix_Contract_PDE_Lost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGNIds_copropri_t_s_Lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Copros_status_Lost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Contract</name>
        <label>Get active contracts</label>
        <locationX>732</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_OthersContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours de fourniture</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prix_Contract_PDE</name>
        <label>Get Prix Contract PDE</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Prix_Contract_PDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prix_contrat_PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prix_Contract_PDE_Lost</name>
        <label>Get Prix Contract PDE Lost</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Prix_Contract_PDE_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prix_contrat_PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_statusAncienClient</name>
        <label>Update account status</label>
        <locationX>974</locationX>
        <locationY>1308</locationY>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Ancien client</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_AccountContract</name>
        <label>Update account status</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_ContractStatus</name>
        <label>Update status</label>
        <locationX>732</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>GET_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Date de contrat dépassée</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ContractStatusDebut</name>
        <label>Update status</label>
        <locationX>1282</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours de fourniture</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Copros_status</name>
        <label>Update Copros status</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>UPDATE_AccountContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>col_compteid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Copros_status_Lost</name>
        <label>Update Copros status Lost</label>
        <locationX>842</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Update_account_statusAncienClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>col_compteid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Ancien client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Est_Syndic_ou_Copro</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>contrat_valide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renouvellement_Effectue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_end_of_contract</name>
            <connector>
                <targetReference>UPDATE_ContractStatus</targetReference>
            </connector>
            <label>Wait end of contract</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Date_echeance__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Wait_start_of_contract</name>
            <connector>
                <targetReference>Update_ContractStatusDebut</targetReference>
            </connector>
            <label>Wait start of contract</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>StartDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X18_months_before_end_of_contract</name>
            <connector>
                <targetReference>DEC_pertinence_relance_18_mois</targetReference>
            </connector>
            <label>18 months before end of contract</label>
            <offsetNumber>-18</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Date_echeance__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X12_months_before_end_of_contract</name>
            <connector>
                <targetReference>DEC_pertinence_relance_12_mois</targetReference>
            </connector>
            <label>12 months before end of contract</label>
            <offsetNumber>-12</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Date_echeance__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_months_before_end_of_contract</name>
            <connector>
                <targetReference>DEC_pertinence_relance_6_mois</targetReference>
            </connector>
            <label>6 months before end of contract</label>
            <offsetNumber>-6</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Date_echeance__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_months_before_end_of_contract</name>
            <connector>
                <targetReference>DEC_pertinence_relance_3_mois</targetReference>
            </connector>
            <label>3 months before end of contract</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Date_echeance__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_compteid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
