force-app/main/default/flows/Contract_Send_Email_Update_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SEND_Email_offre_Symposium</name>
        <label>SEND Email offre Symposium</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Contract.Symposium_offre_adhesion_gratuite</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Symposium_offre_adhesion_gratuite</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DEC_Quel_statut</name>
        <label>Quel statut ?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Date de contrat dépassée</defaultConnectorLabel>
        <rules>
            <name>ch_En_attente_de_fourniture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente de fourniture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente de validation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEND_Email_offre_Symposium</targetReference>
            </connector>
            <label>En attente de fourniture</label>
        </rules>
        <rules>
            <name>ch_En_cours_de_fourniture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours de fourniture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>En attente de fourniture</stringValue>
                </rightValue>
            </conditions>
            <label>En cours de fourniture</label>
        </rules>
    </decisions>
    <description>Le flow de désactivation de l&apos;e-mail Symposium a été déclenché depuis le flow de validation du contrat fournisseur.</description>
    <environments>Default</environments>
    <interviewLabel>Contr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Send Email Symposium</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Quel_statut</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.Account.Parent.Name} != &apos;SYMPOSIUM&apos;,
{!$Record.Account.Adherent_symposium__c} != true,
{!$Record.Account.OwnerId} != &apos;005aT000000PbVpQAK&apos;,
ISCHANGED({!$Record.Status}),
NOT(ISPICKVAL({!$Record.Status}, &apos;En attente de validation&apos;))
)</filterFormula>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
