force-app/main/default/flows/Creation_appel_qualite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AppelQualite</name>
        <label>Assign AQ</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_AQ.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AQ.Commercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Contract.Commercial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AQ.elements_conformes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>elements_conformes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AQ.Commentaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEXT_Commentaires</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AQ.TECH_Score_commercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score_donne_par_client.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AQ.Type_vente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_appel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Appel_qualite</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>PICKLIST_ElementsConformes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>elements_conformes__c</picklistField>
        <picklistObject>Appel_qualite__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PICKLIST_TypeAppel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_vente__c</picklistField>
        <picklistObject>Appel_qualite__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_ScoreConformite</name>
        <dataType>Number</dataType>
        <expression>FLOOR(IF(
    OR({!col_SelectedEF} = &quot;S’est présenté comme travaillant avec ADE&quot;, {!col_SelectedEF} = &quot;Énergie&quot;),
    0,  
    0.5 * ( LEN( {!col_SelectedEF} ) - LEN( SUBSTITUTE( {!col_SelectedEF}, &quot;,&quot;, &quot;&quot; ) ) + 1 )  
))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FORMULA_ScoreSelected</name>
        <dataType>String</dataType>
        <expression>TEXT({!Score_donne_par_client.value})</expression>
    </formulas>
    <formulas>
        <name>Formula_String_SingleEF</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!var_Selected_EF_String},FIND(&quot;;&quot;,{!var_Selected_EF_String})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>Formula_String_UpdateEF</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!var_Selected_EF_String},{!var_Single_EF_String} + &quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>vardeci</name>
        <dataType>Number</dataType>
        <expression>FLOOR({!a1}+{!a2}+{!a3})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Création appel qualité {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création appel qualité</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_Appel_qualite</name>
        <label>CREATE Appel qualité</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>var_AQ</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Commercial</name>
        <label>GET Commercial</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Guide_appel_qualite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contract.Commercial__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Contract</name>
        <label>GET Contract</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Commercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Guide_appel_qualite</name>
        <label>Guide appel qualité</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AppelQualite</targetReference>
        </connector>
        <fields>
            <name>Guide_appel_qualite_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Guide_appel_qualite_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>elements_conformes</name>
                    <choiceReferences>PICKLIST_ElementsConformes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Éléments conformes</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Type_appel</name>
                    <choiceReferences>PICKLIST_TypeAppel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type appel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Guide_appel_qualite_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Empty</name>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NomCommercial</name>
                    <fieldText>&lt;p&gt;Nom du commercial &lt;strong&gt;{!GET_Commercial.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EntrepriseCommercial</name>
                    <fieldText>&lt;p&gt;Entreprise du commercial &lt;strong&gt;{!GET_Commercial.CompanyName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nom_Prenom_Signataire</name>
                    <fieldText>&lt;p&gt;Nom &amp;amp; Prénom &lt;strong&gt;{!GET_Contract.Nom_signataire__c} {!GET_Contract.Prenom_signataire__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tel_Signataire</name>
                    <fieldText>&lt;p&gt;Téléphone &lt;strong&gt;{!GET_Contract.Tel_signataire__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>MailSignataire</name>
                    <fieldText>&lt;p&gt;Adresse mail &lt;strong&gt;{!GET_Contract.Mail_signataire__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RaisonSociale</name>
                    <fieldText>&lt;p&gt;Raison sociale&lt;strong&gt; {!GET_Contract.Account.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NumeroSIRET</name>
                    <fieldText>&lt;p&gt;Numéro de SIRET &lt;strong&gt;{!GET_Contract.Siret_payeur__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fournisseur</name>
                    <fieldText>&lt;p&gt;Fournisseur &lt;strong&gt;{!GET_Contract.FournisseurPicklist__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NombreCompteur</name>
                    <fieldText>&lt;p&gt;Nombre de compteur &lt;strong&gt;{!GET_Contract.Nombre_PDE__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DureeEngagement</name>
                    <fieldText>&lt;p&gt;Durée d&apos;engagement &lt;strong&gt;{!GET_Contract.ContractTerm}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DateDebut</name>
                    <fieldText>&lt;p&gt;Date de démarrage &lt;strong&gt;{!GET_Contract.StartDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DateFin</name>
                    <fieldText>&lt;p&gt;Date de fin &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GET_Contract.Date_echeance__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Guide_appel_qualite_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Guide_appel_qualite_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Commentaires</name>
                    <fieldText>Commentaire</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Guide_appel_qualite_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Score_donne_par_client</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Score donné par le client</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>a1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>a2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>a3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>col_SelectedEF</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>val_add</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.5</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_AQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appel_qualite__c</objectType>
    </variables>
    <variables>
        <name>var_Selected_EF_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Single_EF_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
