force-app/main/default/flows/Creation_Appel_Facturation_Commission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Creer_la_commission</name>
        <label>Création commission</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>AP025_CreateCommission</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCREEN_Que_souhaitez_vous_faire</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listCommissions</name>
            <value>
                <elementReference>colAD_commissionToCreate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP025_CreateCommission</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Commission</name>
        <label>Assignement commission</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varAD_commission.appelFacturation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datatable_SelectionAAF.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_commission.commercial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookup_Commercial.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_commission.moisPaiement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoisPaiement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_commission.montant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_montant_commission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_commission.contrat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_commission.NomCommercial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_User_Commercial.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_commission.PrenomCommercial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_User_Commercial.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAD_commissionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAD_commission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_la_commission</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_ADE</name>
        <choiceText>ADE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_AVADV</name>
        <choiceText>En attente de validation ADV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En attente de validation ADV</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_commission</name>
        <choiceText>Commission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commission</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_CreerAAF</name>
        <choiceIcon>
            <iconName>standard:billing</iconName>
        </choiceIcon>
        <choiceText>Créer un appel à facturation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AAF</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_CreerCommission</name>
        <choiceIcon>
            <iconName>standard:contract_line_outcome</iconName>
        </choiceIcon>
        <choiceText>Créer une commission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commission</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_decommission</name>
        <choiceText>Décommission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Décommission</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_OKPourFacturation</name>
        <choiceText>OK pour facturation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK pour facturation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_PEPS</name>
        <choiceText>PEP&apos;S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PEP&apos;S</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_PWE</name>
        <choiceText>PWE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PWE</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_AAF_ou_Commission</name>
        <label>AAF ou Commission ?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SCREEN_InfoPaiement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AAF</defaultConnectorLabel>
        <rules>
            <name>DEC_AAF_ou_Commission_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisualPicker_AAFOrCommission.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_AAF_du_Contrat</targetReference>
            </connector>
            <label>Commission</label>
        </rules>
    </decisions>
    <description>Modale permettant de créer un appel à facturation ou une commission</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_FacturationName</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_Contract.FournisseurPicklist__c}) &amp; &quot; &quot;&amp;{!PICKLIST_societepayer}&amp; &quot; &quot;&amp; TEXT(MONTH({!input_DateEmission}))&amp;&quot;-&quot;&amp;TEXT(YEAR({!input_DateEmission})) &amp; &quot; &quot; &amp;{!GET_Contract.Account.Name}</expression>
    </formulas>
    <interviewLabel>Creation Appel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création AAF/Commission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_AppelAFacturation</name>
        <label>Creation de l&apos;appel à facturation</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCREEN_Que_souhaitez_vous_faire</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>input_DateEmission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>input_montant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_decomission__c</field>
            <value>
                <elementReference>input_CommentaireDecommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Formula_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <elementReference>PICKLIST_societepayer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <elementReference>PICKLIST_StatutPaiement</elementReference>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_AAF_du_Contrat</name>
        <label>GET AAF du Contrat</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN_Entrez_les_infos_de_la_commission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contrat__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appel_facturation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Mois_facturation_concerne__c</queriedFields>
        <sortField>Mois_facturation_concerne__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Afin de bien générer le nom de la facture</description>
        <name>GET_Contract</name>
        <label>Récupérer le contrat</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN_Que_souhaitez_vous_faire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordType</name>
        <label>Récupérer le type d&apos;enregistrement</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_AppelAFacturation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PICKLIST_TypePaiement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_User_Commercial</name>
        <label>GET User (Commercial)</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Commission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookup_Commercial.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SCREEN_Entrez_les_infos_de_la_commission</name>
        <label>Entrez les infos de la commission</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_User_Commercial</targetReference>
        </connector>
        <fields>
            <name>SCREEN_Entrez_les_infos_de_la_commission_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCREEN_Entrez_les_infos_de_la_commission_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_montant_commission</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_MoisPaiement</name>
                    <dataType>Date</dataType>
                    <fieldText>Mois de paiement</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Merci de rentrer la date du 1er du mois concerné.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCREEN_Entrez_les_infos_de_la_commission_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookup_Commercial</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commercial</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Commercial__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varCommercialId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Datatable_SelectionAAF</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Appel_facturation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Renseignez un appel à facturation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_AAF_du_Contrat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8501&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom de Appel à facturation&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Mois_facturation_concerne__c&quot;,&quot;guid&quot;:&quot;column-f42e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Mois de facturation concerné&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_InfoPaiement</name>
        <label>Entrez les infos de paiement</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_RecordType</targetReference>
        </connector>
        <fields>
            <name>SCREEN_InfoPaiement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCREEN_InfoPaiement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_montant</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_DateEmission</name>
                    <dataType>Date</dataType>
                    <fieldText>Mois de facturation concerné</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Merci de rentrer la date du 1er du mois concerné.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_TypePaiement</name>
                    <choiceReferences>ch_commission</choiceReferences>
                    <choiceReferences>ch_decommission</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de paiement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCREEN_InfoPaiement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PICKLIST_societepayer</name>
                    <choiceReferences>ch_ADE</choiceReferences>
                    <choiceReferences>ch_PWE</choiceReferences>
                    <choiceReferences>ch_PEPS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Société payée</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_StatutPaiement</name>
                    <choiceReferences>ch_AVADV</choiceReferences>
                    <choiceReferences>ch_OKPourFacturation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_OKPourFacturation</defaultSelectedChoiceReference>
                    <fieldText>Statut du paiement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_CommentaireDecommission</name>
                    <fieldText>Motif de décomission</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PICKLIST_TypePaiement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ch_decommission</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Que_souhaitez_vous_faire</name>
        <label>Que souhaitez-vous faire ?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_AAF_ou_Commission</targetReference>
        </connector>
        <fields>
            <name>DT_QueSouhaitezVousFaire</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Que souhaitez-vous faire ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VisualPicker_AAFOrCommission</name>
            <choiceReferences>ch_CreerAAF</choiceReferences>
            <choiceReferences>ch_CreerCommission</choiceReferences>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAD_commissionToCreate</name>
        <apexClass>WrapCommission</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAD_commission</name>
        <apexClass>WrapCommission</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommercialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
