force-app/main/default/flows/Creation_contrat_fournisseur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APEX_GeneratePrixContratPDE</name>
        <label>Générér prix contrat PDE</label>
        <locationX>182</locationX>
        <locationY>2870</locationY>
        <actionName>AP017_GeneratePrixContratPDE</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_PrixContractPDECreated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ContractId</name>
            <value>
                <elementReference>INSERT_Contrat</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ListQLIFromFlow</name>
            <value>
                <elementReference>dataTable_ListePDEToAdd.selectedRows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP017_GeneratePrixContratPDE</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_date_fin</name>
        <label>Assign date de fin</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>var_maxDateFin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_maxDateFin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_maxDateFin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_minDateDebut</name>
        <label>Assign date début</label>
        <locationX>270</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>var_minDateDebut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_minDateDebut</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_minDateDebut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Statut</name>
        <label>Assignation du nouveau statut de la demande de cotation</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>GET_DemandeCotation.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente validation fournisseur</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_DemandeCotation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values</name>
        <label>assignations de certaines valeurs</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>col_dateDebut</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PDEChoosen.DebutDeFourniture__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SumCommission</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PDEChoosen.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_dateDeFin</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PDEChoosen.Nouvelle_Echeance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PDEChoosen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>sort_DateDebut</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Tri de la date de début</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>col_dateDebut</collectionReference>
        <connector>
            <targetReference>sort_DateDeFin</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>sort_DateDeFin</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Tri de la date d&apos;échéance</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>col_dateDeFin</collectionReference>
        <connector>
            <targetReference>loop_minDateDebut</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>DEC_PrixContractPDECreated</name>
        <label>Prix Contrat PDE créés ?</label>
        <locationX>182</locationX>
        <locationY>2978</locationY>
        <defaultConnector>
            <targetReference>S_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_PrixContractPDECreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APEX_GeneratePrixContratPDE.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_success</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <description>Gestion et contrôle de la région d&apos;activité du commercial lors de la création d’un contrat</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_CommissionCommercial</name>
        <dataType>Number</dataType>
        <expression> {!input_RemunerationADE}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_CommissionGlobale</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!INPUT_RemGlobale}),{!input_RemunerationADE} * 2,{!INPUT_RemGlobale})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_Name</name>
        <dataType>String</dataType>
        <expression>{!R_cup_rer_le_compte.Owner.FirstName} &amp; &quot; &quot; &amp; {!R_cup_rer_le_compte.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <name>formula_siretpayeur</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Input_SiretPayeur}),&apos;MULTI-PAYEUR&apos;,{!Input_SiretPayeur})</expression>
    </formulas>
    <interviewLabel>Création contrat fournisseur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création contrat fournisseur</label>
    <loops>
        <name>loop_maxDateFin</name>
        <label>Extraire la plus grand date de fin</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <collectionReference>col_dateDeFin</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_date_fin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>choix_offre</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_minDateDebut</name>
        <label>Extraire la plus petite date de début</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <collectionReference>col_dateDebut</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_minDateDebut</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_maxDateFin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop pour calculer la date min max et la somme des rémunération</description>
        <name>loop_PDEChoosen</name>
        <label>Loop sur les PDE selectionner</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <collectionReference>dataTable_ListePDEToAdd.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sort_DateDebut</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>INSERT_Contrat</name>
        <label>Insertion du contrat</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Update_Contract_Renouvellement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_erreur</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_Quote.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_HTVA_annee__c</field>
            <value>
                <elementReference>GET_Quote.TotalBudgetHTT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_TTC_annee__c</field>
            <value>
                <elementReference>GET_Quote.TotalBudgetTTC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_vente__c</field>
            <value>
                <elementReference>GET_Quote.Opportunity.Demande_Cotation__r.Owner:User.Canal_vente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_RDV__c</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__r.Charge_RDV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_affaire__c</field>
            <value>
                <elementReference>GET_Quote.Opportunity.ResponsableCotation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commentaire__c</field>
            <value>
                <elementReference>INPUT_Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial__c</field>
            <value>
                <elementReference>GET_Quote.Opportunity.Demande_Cotation__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_ADE__c</field>
            <value>
                <elementReference>input_RemunerationADE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_commercial__c</field>
            <value>
                <elementReference>formula_CommissionCommercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_globale__c</field>
            <value>
                <elementReference>formula_CommissionGlobale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>INPUT_DureeEnMois</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>input_SignatureDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_echeance__c</field>
            <value>
                <elementReference>var_maxDateFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entite_facturation__c</field>
            <value>
                <elementReference>Choix_Entite_facturation.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FournisseurPicklist__c</field>
            <value>
                <elementReference>Choix_Entite_facturation.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mail_manager_commercial__c</field>
            <value>
                <elementReference>GET_Quote.Opportunity.Account.TECH_Owner_Manger_Mail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mail_signataire__c</field>
            <value>
                <elementReference>GET_Signataire.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_C1__c</field>
            <value>
                <elementReference>input_marge_C1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_C2__c</field>
            <value>
                <elementReference>input_marge_C2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_C4__c</field>
            <value>
                <elementReference>input_marge_C4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_C5__c</field>
            <value>
                <elementReference>input_marge_C5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_T1__c</field>
            <value>
                <elementReference>input_marge_T1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_T2__c</field>
            <value>
                <elementReference>input_marge_T2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_T3__c</field>
            <value>
                <elementReference>input_marge_T3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marge_Mwh_T4__c</field>
            <value>
                <elementReference>input_marge_T4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>INPUT_refContrat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_signataire__c</field>
            <value>
                <elementReference>GET_Signataire.Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GET_Quote.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prenom_signataire__c</field>
            <value>
                <elementReference>GET_Signataire.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_activite__c</field>
            <value>
                <elementReference>GET_Quote.Opportunity.Demande_Cotation__r.Owner:User.Region_activite__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Siret_payeur__c</field>
            <value>
                <elementReference>formula_siretpayeur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>GET_Signataire.Opportunity.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>var_minDateDebut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_AA_OwnerName__c</field>
            <value>
                <elementReference>formula_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Partner_OwnerName__c</field>
            <value>
                <elementReference>GET_DemandeCotation.TECH_Partner_OwnerName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_signataire__c</field>
            <value>
                <elementReference>GET_Signataire.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_offre__c</field>
            <value>
                <elementReference>GET_Quote.TypeOffre__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contracts</name>
        <label>Récupérer les contrats associés au compte</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_ChoicePDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Quote.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_DemandeCotation</name>
        <label>On récupère la demande de cotation</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>R_cup_rer_le_compte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Quote.Opportunity.Demande_Cotation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demande_Cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEFromQuote</name>
        <label>Récupérer les PDE de la Quote</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_DemandeCotation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Quote</name>
        <label>Récupérer la quote</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Signataire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Signataire</name>
        <label>Récupérer le signataire</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PDEFromQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signataire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>R_cup_rer_le_compte</name>
        <label>Récupérer le compte</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Signataire.Opportunity.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Renouvellement</name>
        <label>Update Contract Renouvellement</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>assign_Statut</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>S_erreur</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TRANSFORM_Extraire_ContractIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renouvellement_Effectue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_DemandeCotation</name>
        <label>Mise à jour du statut de la demande de cotation</label>
        <locationX>182</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>APEX_GeneratePrixContratPDE</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>S_erreur</targetReference>
        </faultConnector>
        <inputReference>GET_DemandeCotation</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>choix_offre</name>
        <label>Choix de l&apos;offre</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S_ShowQuoteInfo</targetReference>
        </connector>
        <fields>
            <name>TEXT_SelectedOffer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vous avez sélectionné l&apos;offre &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GET_Quote.Fournisseur__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GET_Quote.TypeOffre__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Durée  fourniture &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!var_minDateDebut}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;  -  &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!var_maxDateFin}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choix_Entite_facturation</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>FournisseurPicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Entite_facturation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Fournisseur</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Entité de facturation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>GET_Quote.Fournisseur__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;Merci de garder le même fournisseur que dans le devis&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!GET_Quote.Fournisseur__c} ={!Choix_Entite_facturation.topValue}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_AddComment</name>
        <label>Ajouter un commentaire</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TRANSFORM_Extraire_ContractIds</targetReference>
        </connector>
        <fields>
            <name>INPUT_Commentaire</name>
            <fieldText>Entrer un commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Générer le contrat</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_ChoicePDE</name>
        <label>Choix PDE</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_PDEChoosen</targetReference>
        </connector>
        <fields>
            <name>dataTable_ListePDEToAdd</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liste des PDE sur le devis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_PDEFromQuote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;TECH_PdeReference__c&quot;,&quot;guid&quot;:&quot;column-1c27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Numéro de compteur&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CAR_New__c&quot;,&quot;guid&quot;:&quot;column-c1fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Car Elec&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;CAR&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CARGaz__c&quot;,&quot;guid&quot;:&quot;column-c40f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CAR Gaz&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;CAR&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TECH_Segment__c&quot;,&quot;guid&quot;:&quot;column-c95c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Segment&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;TECH_Segment&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TECH_Tarif__c&quot;,&quot;guid&quot;:&quot;column-9833&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tarif&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;TECH_Tarif&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;DebutDeFourniture__c&quot;,&quot;guid&quot;:&quot;column-b28a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Début de fourniture&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-11d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_erreur</name>
        <label>Erreur création contrat</label>
        <locationX>1106</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEXT_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Error</name>
        <label>Error screen</label>
        <locationX>314</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(173, 54, 46);&quot;&gt;Oups !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Une erreur s&apos;est produite : {!APEX_GeneratePrixContratPDE.message}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contactez votre Admin Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_ShowQuoteInfo</name>
        <label>Détails de l&apos;offre</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S_AddComment</targetReference>
        </connector>
        <fields>
            <name>section_remuneration</name>
            <fieldText>Rémunération</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>section_remuneration_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_RemunerationADE</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>var_SumCommission</elementReference>
                    </defaultValue>
                    <fieldText>Rémunération ADE</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Marges_ELEC_MWh</name>
            <fieldText>Marges ELEC en €/Mwh</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_Marges_ELEC_MWh_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_C1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_C1__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh C1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_Marges_ELEC_MWh_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_C2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_C2__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh C2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_Marges_ELEC_MWh_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_C4</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_C4__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh C4</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_Marges_ELEC_MWh_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_C5</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_C5__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh C5</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Marges_Gaz_en_Mwh</name>
            <fieldText>Marges Gaz en €/Mwh</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marges_Gaz_en_Mwh_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_T1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_T1__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh T1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marges_Gaz_en_Mwh_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_T2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_T2__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh T2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marges_Gaz_en_Mwh_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_T3</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_T3__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh T3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marges_Gaz_en_Mwh_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_marge_T4</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Marge_Mwh_T4__c</elementReference>
                    </defaultValue>
                    <fieldText>Marge €/Mwh T4</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>section_informationContrat</name>
            <fieldText>Informations sur le contrat</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>section_informationContrat_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INPUT_refContrat</name>
                    <dataType>String</dataType>
                    <fieldText>Entrer la référence fournisseur du contrat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_SignatureDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de signature du contrat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>picklist_SiretMultiPayeur</name>
                    <choiceReferences>ch_non</choiceReferences>
                    <choiceReferences>ch_oui</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Y&apos;a-t-il plusieurs siret payeur ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Renouvellement_picklist</name>
                    <choiceReferences>ch_oui</choiceReferences>
                    <choiceReferences>ch_non</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>S&apos;agit-il d&apos;un renouvellement ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>section_informationContrat_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INPUT_RemGlobale</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>formula_CommissionGlobale</elementReference>
                    </defaultValue>
                    <fieldText>Entrer la rémunération globale (Si vide la valeur sera : Rémunération ADE x 2)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>INPUT_DureeEnMois</name>
                    <dataType>Number</dataType>
                    <fieldText>Durée du contrat en mois</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Input_SiretPayeur</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GET_Quote.Opportunity.Account.Siret__c</elementReference>
                    </defaultValue>
                    <fieldText>Entrer le SIRET payeur</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>picklist_SiretMultiPayeur</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ch_non</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contract_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contract</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choisissez le(s) contrat(s) que vous êtes en train de renouveler</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_Contracts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5045&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nom&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contract Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FournisseurPicklist__c&quot;,&quot;guid&quot;:&quot;column-a9ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fournisseur&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-8265&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date de début&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contract Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-100f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date de fin&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Contract End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Nombre_PDE__c&quot;,&quot;guid&quot;:&quot;column-3ab8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre de compteur&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Nombre de PDE&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_selectedContractToRenew</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Renouvellement_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_oui</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_success</name>
        <label>Bravo !</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 204, 102); font-size: 16px;&quot;&gt;Votre contrat a bien été créé !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!INSERT_Contrat}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cliquer ici pour accéder au contrat&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>TRANSFORM_Extraire_ContractIds</name>
        <label>Extraire les Contract Ids</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>INSERT_Contrat</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_selectedContractToRenew[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>col_dateDebut</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_dateDeFin</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_QLITest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_CommissionGlobale</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_maxDateFin</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_minDateDebut</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_selectedContractToRenew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>var_SelectedRenewedContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SumCommission</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
