force-app/main/default/flows/Create_copropriete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_ACR</name>
        <label>Creation de l&apos;ACR</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_ACR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatable_ACR.firstSelectedRow.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ACR.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ACR.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multipicklist_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_ACR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_GestionCopro</name>
        <choiceText>Gestionnaire de la copropriété</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestionnaire de la copropriété</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Signataire</name>
        <choiceText>Signataire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Signataire</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Create copropriété {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create copropriété</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_ACR</name>
        <label>Creation de l&apos;ACR</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>S_redirect</targetReference>
        </connector>
        <inputReference>var_ACR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_cropropriete</name>
        <label>Create cropropriété</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>assign_ACR</targetReference>
        </connector>
        <inputAssignments>
            <field>Campagne_Google_Ads__c</field>
            <value>
                <elementReference>Get_Syndic.Campagne_Google_Ads__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campagne_emailing__c</field>
            <value>
                <elementReference>Get_Syndic.Campagne_emailing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_NAF__c</field>
            <value>
                <elementReference>Get_Syndic.Code_NAF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_postal__c</field>
            <value>
                <elementReference>Code_postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>Get_Syndic.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_de_la_copropriete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_voie__c</field>
            <value>
                <elementReference>Numero_de_voie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Copro_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Siren__c</field>
            <value>
                <elementReference>Siren</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Siret__c</field>
            <value>
                <elementReference>Siret</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Syndic__c</field>
            <value>
                <elementReference>Get_Syndic.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_formulaire__c</field>
            <value>
                <elementReference>Get_Syndic.Type_formulaire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ville__c</field>
            <value>
                <elementReference>Ville</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voie__c</field>
            <value>
                <elementReference>Voie</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>GET_ACR</name>
        <label>GET Contacts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creation_de_la_copropriete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Copro_RecordType</name>
        <label>Get Copro RecordType</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Syndic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Copropriete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Syndic</name>
        <label>Get Syndic</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Creation_de_la_copropriete</name>
        <label>Création de la copropriété</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_cropropriete</targetReference>
        </connector>
        <fields>
            <name>Information_de_la_copropriete</name>
            <fieldText>Information de la copropriété</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_de_la_copropriete_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_de_la_copropriete</name>
                    <dataType>String</dataType>
                    <fieldText>Nom de la copropriété</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Siret</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Syndic.Siret__c</elementReference>
                    </defaultValue>
                    <fieldText>Siret</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_de_la_copropriete_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Siren</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Syndic.Siren__c</elementReference>
                    </defaultValue>
                    <fieldText>Siren</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Adresse</name>
            <fieldText>Adresse</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Adresse_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero_de_voie</name>
                    <dataType>String</dataType>
                    <fieldText>Numéro de voie</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Code_postal</name>
                    <dataType>String</dataType>
                    <fieldText>Code postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Adresse_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Voie</name>
                    <dataType>String</dataType>
                    <fieldText>Voie</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Ville</name>
                    <dataType>String</dataType>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_InformationSignataire</name>
            <fieldText>Information du contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_InformationSignataire_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datatable_ACR</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AccountContactRelation</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GET_ACR</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;ContactName__c&quot;,&quot;guid&quot;:&quot;column-ccd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ContactName&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_InformationSignataire_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>multipicklist_Role</name>
                    <choiceReferences>ch_Signataire</choiceReferences>
                    <choiceReferences>ch_GestionCopro</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role des contacts</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_redirect</name>
        <label>Redirect</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirect_Copro</name>
            <extensionName>c:Redirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Copro_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
