force-app/main/default/flows/Creation_appel_a_facturation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>ch_ADE</name>
        <choiceText>ADE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_AVADV</name>
        <choiceText>En attente de validation ADV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En attente de validation ADV</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_commission</name>
        <choiceText>Commission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commission</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_decommission</name>
        <choiceText>Décommission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Décommission</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_OKPourFacturation</name>
        <choiceText>OK pour facturation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK pour facturation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_PEPS</name>
        <choiceText>PEP&apos;S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PEP&apos;S</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_PWE</name>
        <choiceText>PWE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PWE</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>FORMULA_FacturationName</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_Contract.FournisseurPicklist__c}) &amp; &quot; &quot;&amp;{!PICKLIST_societepayer}&amp; &quot; &quot;&amp; TEXT(MONTH({!input_DateEmission}))&amp;&quot;-&quot;&amp;TEXT(YEAR({!input_DateEmission})) &amp; &quot; &quot; &amp;{!GET_Contract.Account.Name}</expression>
    </formulas>
    <interviewLabel>Création {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création appel à facturation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_AppelAFacturation</name>
        <label>Creation de l&apos;appel à facturation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>input_DateEmission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>input_montant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_decomission__c</field>
            <value>
                <elementReference>input_CommentaireDecommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <elementReference>PICKLIST_societepayer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <elementReference>PICKLIST_StatutPaiement</elementReference>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Afin de bien générer le nom de la facture</description>
        <name>GET_Contract</name>
        <label>Récupérer le contrat</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_InfoPaiement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordType</name>
        <label>Récupérer le type d&apos;enregistrement</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_AppelAFacturation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PICKLIST_TypePaiement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>S_InfoPaiement</name>
        <label>Entrez les infos de payement</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_RecordType</targetReference>
        </connector>
        <fields>
            <name>S_InfoPaiement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_InfoPaiement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_montant</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_DateEmission</name>
                    <dataType>Date</dataType>
                    <fieldText>Mois de facturation concerné</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Merci de rentrer la date du 1er du mois concerné.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_TypePaiement</name>
                    <choiceReferences>ch_commission</choiceReferences>
                    <choiceReferences>ch_decommission</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de paiement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_InfoPaiement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PICKLIST_societepayer</name>
                    <choiceReferences>ch_ADE</choiceReferences>
                    <choiceReferences>ch_PWE</choiceReferences>
                    <choiceReferences>ch_PEPS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Société payée</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_StatutPaiement</name>
                    <choiceReferences>ch_AVADV</choiceReferences>
                    <choiceReferences>ch_OKPourFacturation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_OKPourFacturation</defaultSelectedChoiceReference>
                    <fieldText>Statut du paiement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_CommentaireDecommission</name>
                    <fieldText>Motif de décomission</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PICKLIST_TypePaiement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ch_decommission</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
