force-app/main/default/flows/Creer_opportunite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP005</name>
        <label>Créer Opportunity PDE Relation</label>
        <locationX>974</locationX>
        <locationY>1490</locationY>
        <actionName>AP005_CreateOPRFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CREATE_OpportunityContactRole</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>var_CreatedOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedPDEs</name>
            <value>
                <elementReference>col_SelectedPDE</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP005_CreateOPRFromFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_DemandeDeCotation</name>
        <label>Changement du statut de la demande de cotation</label>
        <locationX>974</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>GET_DemandeCotation.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_AP005</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Tech_FTA_GAZ</name>
        <label>Assign Tech FTA GAZ</label>
        <locationX>2360</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_techFTA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GAZ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_ListPDEEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Tech_FTAC5</name>
        <label>Assign Tech FTA C5</label>
        <locationX>1832</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_techFTA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_ListPDEEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Tech_FTAC54Postes</name>
        <label>Assign Tech FTA C54Postes</label>
        <locationX>2096</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_techFTA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C54Postes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_ListPDEEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_TechFTAC1C2C3C4</name>
        <label>Assign Tech FTA C1C2C3C4</label>
        <locationX>1568</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_techFTA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C1C2C3C4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_ListPDEEmpty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CHOICE_C1C2C3C4</name>
        <choiceText>C1/C2/C3/C4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1/C2/C3/C4</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_C5</name>
        <choiceText>C5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C5</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_C54Postes</name>
        <choiceText>C54POSTES</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CHOICE_Gaz</name>
        <choiceText>Gaz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gaz</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_OppRecordTypeMasse</name>
        <choiceText>Masse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Masse</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_OppRecordTypeSimple</name>
        <choiceText>Simple</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individuelle</stringValue>
        </value>
    </choices>
    <constants>
        <name>CON_Signataire</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Signataire</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DEC_ListPDEEmpty</name>
        <label>Est-ce qu&apos;il y a des points d&apos;énergies à ajouter</label>
        <locationX>1964</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>S_PasDelementAAjouter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_PdeASelectionner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_SelectionnezLesPDE</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_OppSimpleOuMasse</name>
        <label>Choix opportunité Simple ou en Masse</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>GET_OpportunityMasseGazRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Masse GAZ</defaultConnectorLabel>
        <rules>
            <name>ch_Simple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHOICE_OppRecordTypeSimple</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICE_C1C2C3C4</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OppSimpleC1C2C3C4RT</targetReference>
            </connector>
            <label>Simple C1C2C3C4</label>
        </rules>
        <rules>
            <name>ch_SimpleC5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHOICE_OppRecordTypeSimple</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICE_C5</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OpportunitySimpleC5RT</targetReference>
            </connector>
            <label>Simple C5</label>
        </rules>
        <rules>
            <name>ch_SimpleC54Postes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHOICE_OppRecordTypeSimple</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICE_C54Postes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OpportunitySimpleC54PostesRT</targetReference>
            </connector>
            <label>Simple C5 4 Postes</label>
        </rules>
        <rules>
            <name>ch_SimpleGaz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHOICE_OppRecordTypeSimple</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICE_Gaz</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OpportunitySimpleGazRT</targetReference>
            </connector>
            <label>Simple Gaz</label>
        </rules>
        <rules>
            <name>ch_MasseC1C2C3C4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHOICE_OppRecordTypeMasse</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICE_C1C2C3C4</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OpportunityMasseC1C2C3C4RT</targetReference>
            </connector>
            <label>Masse C1C2C3C4</label>
        </rules>
        <rules>
            <name>ch_MasseC5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHOICE_OppRecordTypeMasse</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICE_C5</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OpportunityMasseC5RT</targetReference>
            </connector>
            <label>Masse C5</label>
        </rules>
        <rules>
            <name>ch_MasseC54Poste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHOICE_OppRecordTypeMasse</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHOICE_C54Postes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OpportunityMasseC54PostesRT</targetReference>
            </connector>
            <label>Masse C5 4 POSTES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Segment</name>
        <label>Décision Segment</label>
        <locationX>1964</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GET_Point_d_energie_demande_cotation_GAZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gaz</defaultConnectorLabel>
        <rules>
            <name>ch_C1C2C3C4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PICKLIST_Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICE_C1C2C3C4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Point_d_energie_demande_cotation_C1C2C3C4</targetReference>
            </connector>
            <label>C1C2C3C4</label>
        </rules>
        <rules>
            <name>ch_C5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PICKLIST_Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICE_C5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Point_d_energie_demande_cotation_C5</targetReference>
            </connector>
            <label>C5</label>
        </rules>
        <rules>
            <name>ch_C5_4_Postes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PICKLIST_Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICE_C54Postes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Point_d_energie_demande_cotation_C54Postes</targetReference>
            </connector>
            <label>C5 4 Postes</label>
        </rules>
    </decisions>
    <description>Automatisation de certains champs sur l&apos;opportunité</description>
    <environments>Default</environments>
    <interviewLabel>Créer opportunité {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Créer opportunité</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_OpportuniteMasseC5</name>
        <label>Créer Opportunité Masse C5</label>
        <locationX>1370</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OpportunityMasseC5RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_acheminement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_contribution__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_OpportuniteMasseC54Postes</name>
        <label>Créer Opportunité Masse C5 4 Postes</label>
        <locationX>1634</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OpportunityMasseC54PostesRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_acheminement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_contribution__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>C5 4 postes</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_OpportuniteMasseGAZ</name>
        <label>Créer Opportunité Masse Gaz</label>
        <locationX>1898</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OpportunityMasseGazRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_OpportuniteSimpleC5</name>
        <label>Créer Opportunité Simple C5</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OpportunitySimpleC5RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_acheminement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_contribution__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_OpportuniteSimpleC54Postes</name>
        <label>Créer Opportunité Simple C5 4 Postes</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OpportunitySimpleC54PostesRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_acheminement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_contribution__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>C5 4 postes</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_OpportuniteSimpleGaz</name>
        <label>Créer Opportunité Simple Gaz</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OpportunitySimpleGazRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>acta</description>
        <name>CREATE_OpportunityContactRole</name>
        <label>Créer Opportunité contact role</label>
        <locationX>974</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>UPDATE_DemandeCotation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>S_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GET_DemandeCotation.Signataire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>var_CreatedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>CON_Signataire</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_OpportunityMasseC1C2C3C4</name>
        <label>Créer Opportunité Masse C1C2C3C4</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OpportunityMasseC1C2C3C4RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_acheminement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_contribution__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>C1/C2/C3/C4</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_OpportuniuteSimpleC1C2C3C4</name>
        <label>Créer Opportunité Simple C1C2C3C4</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_DemandeDeCotation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_DemandeCotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demande_Cotation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OppSimpleC1C2C3C4RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsableCotation__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_acheminement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_contribution__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En cours de traitement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <elementReference>var_techFTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateCotation__c</field>
            <value>
                <stringValue>C1/C2/C3/C4</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>GET_DemandeCotation</name>
        <label>GET Demande de cotation</label>
        <locationX>1964</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_SelectRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demande_Cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OpportunityMasseC1C2C3C4RT</name>
        <label>GET Opportunity Masse C1C2C3C4 RT</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportunityMasseC1C2C3C4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Masse_C1C2C3C4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OpportunityMasseC54PostesRT</name>
        <label>GET Opportunity Masse C5 4 Postes RT</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportuniteMasseC54Postes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Masse_C5_4_Postes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OpportunityMasseC5RT</name>
        <label>GET Opportunity Masse C5 RT</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportuniteMasseC5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Masse_C5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OpportunityMasseGazRT</name>
        <label>GET Opportunity Masse Gaz RT</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportuniteMasseGAZ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Masse_Gaz</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OpportunitySimpleC54PostesRT</name>
        <label>GET Opportunity Simple C5 4 Postes RT</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportuniteSimpleC54Postes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simple_C5_4_Postes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OpportunitySimpleC5RT</name>
        <label>GET Opportunity Simple C5 RT</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportuniteSimpleC5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simple_C5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OpportunitySimpleGazRT</name>
        <label>GET Opportunity Simple Gaz RT</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportuniteSimpleGaz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simple_Gaz</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OppSimpleC1C2C3C4RT</name>
        <label>GET Opportunity Simple C1C2C3C4 RT</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_OpportuniuteSimpleC1C2C3C4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simple_C1C2C3C4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Point_d_energie_demande_cotation_C1C2C3C4</name>
        <label>GET Point d&apos;énergie Demande de cotation C1C2C3C4</label>
        <locationX>1568</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_TechFTAC1C2C3C4</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C1</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C2</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C3</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C4</stringValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>col_PdeASelectionner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>PCE_Refonte__c</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Point_d_energie_demande_cotation_C5</name>
        <label>GET Point d&apos;énergie demande cotation C5</label>
        <locationX>1832</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Tech_FTAC5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_C5_4Postes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>col_PdeASelectionner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>PCE_Refonte__c</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Point_d_energie_demande_cotation_C54Postes</name>
        <label>GET Point d&apos;énergie demande cotation C5 4 Postes</label>
        <locationX>2096</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Tech_FTAC54Postes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_C5_4Postes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>col_PdeASelectionner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>PCE_Refonte__c</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Point_d_energie_demande_cotation_GAZ</name>
        <label>GET Point d&apos;énergie demande cotation GAZ</label>
        <locationX>2360</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Tech_FTA_GAZ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CHOICE_Gaz</elementReference>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>col_PdeASelectionner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>PCE_Refonte__c</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_DemandeCotation</name>
        <label>Update demande de cotation</label>
        <locationX>974</locationX>
        <locationY>1706</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>S_Failed</targetReference>
        </faultConnector>
        <inputReference>GET_DemandeCotation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>S_Failed</name>
        <label>Opération échouée</label>
        <locationX>2690</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Un ou plusieurs points d&apos;énergies n&apos;ont pas pu être ajouter à l&apos;opportunité.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Contactez votre administrateur.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_PasDelementAAjouter</name>
        <label>Pas d&apos;éléments à ajouter</label>
        <locationX>2954</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Il n&apos;y a pas de point d&apos;énergie à ajouter.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_SelectionnezLesPDE</name>
        <label>Sélectionnez les PDE</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_OppSimpleOuMasse</targetReference>
        </connector>
        <fields>
            <name>dataTable_ListePDEToAdd</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_PdeASelectionner</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5717&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom du Site&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TypePDE__c&quot;,&quot;guid&quot;:&quot;column-5e82&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type PDE&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;PCE_Refonte__c&quot;,&quot;guid&quot;:&quot;column-f0cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;PCE&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ReferencePointEnergie_Refonte__c&quot;,&quot;guid&quot;:&quot;column-16df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Référence point d&apos;énergie&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Adresse_de_consommation__c&quot;,&quot;guid&quot;:&quot;column-cbc0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Adresse de consommation&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>col_SelectedPDE</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_SelectRecordType</name>
        <label>Sélectionnez le type d&apos;opportunité</label>
        <locationX>1964</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_Segment</targetReference>
        </connector>
        <fields>
            <name>INPUT_OppRecordType</name>
            <choiceReferences>CHOICE_OppRecordTypeSimple</choiceReferences>
            <choiceReferences>CHOICE_OppRecordTypeMasse</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ch_Simple</elementReference>
            </defaultValue>
            <fieldText>Type d&apos;opportunité</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PICKLIST_Segment</name>
            <choiceReferences>CHOICE_C1C2C3C4</choiceReferences>
            <choiceReferences>CHOICE_C5</choiceReferences>
            <choiceReferences>CHOICE_Gaz</choiceReferences>
            <choiceReferences>CHOICE_C54Postes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Segment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1838</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_DemandeCotation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_PdeASelectionner</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>col_SelectedPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_techFTA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
