force-app/main/default/flows/Demande_d_une_Optimisation_TURPE_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP034</name>
        <label>Appel Optimisation/Renouvellement TURPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP034_TURPEOptimisationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCREEN_Appel_Homeys_Succes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailToNotify</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wrapTURPE</name>
            <value>
                <elementReference>Datatable_SelectionPDEEligible.selectedRows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP034_TURPEOptimisationService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_PDE_ligible_afficher_Optimisation_R_cup_ration</name>
        <label>PDE éligible à afficher (Optimisation/Récupération)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.PDEName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.PDE__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.ActionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ActionAFaire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.MessageStatut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_MessageStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.IdSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdAnalyse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.IdAnalyse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdBuilding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.IdBuilding__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Remplissage_PDE_a_afficher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Remplissage_PDE_a_afficher</name>
        <label>Remplissage PDE à afficher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varADCol_WrapTURPEDisplayRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAD_TmpWrapTURPEDisplayRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PDE_eligible_afficher_Renouvellement_depuis_PDE</name>
        <label>PDE éligible à afficher (Renouvellement depuis PDE)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.PDEName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.PDE__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.ActionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ActionAFaire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.MessageStatut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_MessageStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.PDE__r.IdSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdAnalyse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.PDE__r.IdAnalyse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdBuilding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.PDE__r.IdBuilding__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Remplissage_PDE_a_afficher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PDE_eligible_afficher_Renouvellement_depuis_QLI</name>
        <label>PDE éligible à afficher (Renouvellement depuis QLI)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.PDEName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.PDE__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.ActionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ActionAFaire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.MessageStatut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_MessageStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.IdSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdAnalyse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.IdAnalyse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAD_TmpWrapTURPEDisplayRow.IdBuilding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI.IdBuilding__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Remplissage_PDE_a_afficher</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DEC_PDE_Eligible</name>
        <label>PDE éligible ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_QLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_PDE_Eligible_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_EligibilitePDE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Renouvellement_prevoir</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PDE_Eligible_a_Afficher</name>
        <label>PDE Eligible à afficher ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Aucun_compteur_ligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_PDE_Eligible_a_Afficher_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varADCol_WrapTURPEDisplayRow</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Selectionner_le_PDE</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Renouvellement_prevoir</name>
        <label>Renouvellement à prévoir ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_PDE_ligible_afficher_Optimisation_R_cup_ration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_Renouvellement_prevoir_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_ActionAFaire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLI_OPTIMISATION_RENEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Id_Analyse_PDE_associee_renseignee</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_Analyse_PDE_associee_renseignee</name>
        <label>Analyse QLI renseignée ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PDE_eligible_afficher_Renouvellement_depuis_PDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Id_Analyse_PDE_associee_renseignee_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_QLI.IdAnalyse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDE_eligible_afficher_Renouvellement_depuis_QLI</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_ActionAFaire</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    ISBLANK({!LOOP_QLI.IdAnalyse__c}),
    NOT(ISBLANK({!LOOP_QLI.PDE__r.IdAnalyse__c}))
  ),
  &quot;QLI_OPTIMISATION_RENEW&quot;,

  IF(
    ISBLANK({!LOOP_QLI.IdAnalyse__c}),
    &quot;QLI_OPTIMISATION&quot;,

    IF(
      AND(
        NOT(ISBLANK({!LOOP_QLI.IdAnalyse__c})),
        {!LOOP_QLI.DateAppel__c} &lt; (TODAY() - 14),
        {!LOOP_QLI.DatePremierAppel__c} &gt;= (TODAY() - 90)
      ),
      &quot;QLI_RENOUVELLEMENT&quot;,

      IF(
        AND(
          NOT(ISBLANK({!LOOP_QLI.IdAnalyse__c})),
          {!LOOP_QLI.DatePremierAppel__c} &lt; (TODAY() - 90)
        ),
        &quot;QLI_OPTIMISATION_RENEW&quot;,
        &quot;&quot;
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_EligibilitePDE</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!LOOP_QLI.AppelEnCours__c} = false,
  {!LOOP_QLI.PDE__r.AppelEnCours__c} = false,
  NOT(ISBLANK({!LOOP_QLI.PDE__r.SignataireACD__c})),
  {!LOOP_QLI.PDE__r.RecordType.DeveloperName} != &quot;PDE_Gaz&quot;,
  {!LOOP_QLI.PDE__r.RecordType.DeveloperName} != &quot;PDE_ElecC5&quot;,
  OR(
    {!LOOP_QLI.PDE__r.Taux_puissance_souscrite_utilisee__c} &lt; 80,
    {!LOOP_QLI.PDE__r.Taux_puissance_souscrite_utilisee__c} &gt; 120
  ),
  OR(
    /* 🆕 Première optimisation (QLI + PDE sans analyse) */
    AND(
      ISBLANK({!LOOP_QLI.IdAnalyse__c}),
      ISBLANK({!LOOP_QLI.PDE__r.IdAnalyse__c})
    ),
    /* 🔁 Optimisation renew via PDE */
    AND(
      ISBLANK({!LOOP_QLI.IdAnalyse__c}),
      NOT(ISBLANK({!LOOP_QLI.PDE__r.IdAnalyse__c}))
    ),
    /* 🧭 Renouvellement (récupération analyse existante) */
    AND(
      NOT(ISBLANK({!LOOP_QLI.IdAnalyse__c})),
      {!LOOP_QLI.DateAppel__c} &lt; (TODAY() - 14),
      {!LOOP_QLI.DatePremierAppel__c} &gt;= (TODAY() - 90)
    ),
    /* ♻️ Nouvelle optimisation après 90 jours */
    AND(
      NOT(ISBLANK({!LOOP_QLI.IdAnalyse__c})),
      {!LOOP_QLI.DatePremierAppel__c} &lt; (TODAY() - 90)
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_MessageStatus</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    ISBLANK({!LOOP_QLI.IdAnalyse__c}),
    ISBLANK({!LOOP_QLI.PDE__r.IdAnalyse__c})
  ),
  &quot;🟢 Nouvelle optimisation disponible&quot;,
  IF(
    AND(
      ISBLANK({!LOOP_QLI.IdAnalyse__c}),
      NOT(ISBLANK({!LOOP_QLI.PDE__r.IdAnalyse__c}))
    ),
        &quot;🔁 Renouvellement possible vers une nouvelle analyse&quot;,
    IF(
      AND(
        NOT(ISBLANK({!LOOP_QLI.IdAnalyse__c})),
        {!LOOP_QLI.DateAppel__c} &lt; (TODAY() - 14),
        {!LOOP_QLI.DatePremierAppel__c} &gt;= (TODAY() - 90)
      ),
      &quot;🧭 Récupérer les infos de votre optimisation actuelle&quot;,
      IF(
        AND(
          NOT(ISBLANK({!LOOP_QLI.IdAnalyse__c})),
          {!LOOP_QLI.DatePremierAppel__c} &lt; (TODAY() - 90)
        ),
        &quot;🔁 Renouvellement possible vers une nouvelle analyse&quot;,
        &quot;&quot;
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_QLIOlderThan3Months</name>
        <dataType>Boolean</dataType>
        <expression>{!LOOP_QLI.DatePremierAppel__c} &lt; (TODAY() - 90)</expression>
    </formulas>
    <interviewLabel>Demande d&apos;une Optimisation TURPE (Quote) {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Demande d&apos;une Optimisation TURPE (Quote)</label>
    <loops>
        <name>LOOP_QLI</name>
        <label>LOOP QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_QLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_PDE_Eligible</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_PDE_Eligible_a_Afficher</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_QLI</name>
        <label>GET QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PDE__c</queriedFields>
        <queriedFields>IdAnalyse__c</queriedFields>
        <queriedFields>DateAppel__c</queriedFields>
        <queriedFields>DatePremierAppel__c</queriedFields>
        <queriedFields>AppelEnCours__c</queriedFields>
        <queriedFields>IdSource__c</queriedFields>
        <queriedFields>IdBuilding__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SCREEN_Appel_Homeys_Succes</name>
        <label>Appels Homeys - Succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_OptimisationTURPESucces</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(27, 94, 32);&quot;&gt;✅ Appel(s) lancé(s) avec succès&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(27, 94, 32);&quot;&gt;Vos demandes ont bien été envoyées. Vous recevrez les résultats dès qu’ils seront disponibles&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Aucun_compteur_ligible</name>
        <label>Aucun compteur éligible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_AucunPDEEligible</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(69, 90, 100); background-color: rgb(255, 255, 255);&quot;&gt;ℹ️&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(69, 90, 100); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(69, 90, 100); background-color: rgb(255, 255, 255);&quot;&gt;Actuellement, aucun compteur n&apos;est éligible à une optimisation ou un renouvellement TURPE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Selectionner_le_PDE</name>
        <label>Selectionner le PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ACT_AP034</targetReference>
        </connector>
        <fields>
            <name>Datatable_SelectionPDEEligible</name>
            <dataTypeMappings>
                <apexClass>WrapTURPEDisplayRow</apexClass>
                <typeName>T</typeName>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varADCol_WrapTURPEDisplayRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;Apex&quot;,&quot;objectType&quot;:&quot;WrapTURPEDisplayRow&quot;,&quot;fieldReferences&quot;:[&quot;RecordId&quot;],&quot;elementReference&quot;:&quot;varADCol_WrapTURPEDisplayRow&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;PDEName&quot;,&quot;guid&quot;:&quot;column-1afb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nom du Site&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;PDEName&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MessageStatut&quot;,&quot;guid&quot;:&quot;column-5be0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Eligibilité&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;MessageStatut&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;Apex&quot;,&quot;objectType&quot;:&quot;WrapTURPEDisplayRow&quot;,&quot;fieldReferences&quot;:[&quot;PDEName&quot;,&quot;MessageStatut&quot;],&quot;elementReference&quot;:&quot;varADCol_WrapTURPEDisplayRow&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_QLI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAD_TmpWrapTURPEDisplayRow</name>
        <apexClass>WrapTURPEDisplayRow</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varADCol_WrapTURPEDisplayRow</name>
        <apexClass>WrapTURPEDisplayRow</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
