force-app/main/default/flows/Demande_Guichet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP019GenerateDemandeGuichet</name>
        <label>Générer Demande guichet</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <actionName>AP019_GenerateDemandeGuichet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_MailSended</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Commentaire</name>
            <value>
                <elementReference>TEXT_Commentaire</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContentDocumentIds</name>
            <value>
                <elementReference>List_SelectectedDocumentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DateDureeFourniture</name>
            <value>
                <elementReference>DATE_DureeFournitureDatePrecise</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DateRetourSouhaitee</name>
            <value>
                <elementReference>DATE_RetourSouhaite</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DemandeCotation</name>
            <value>
                <elementReference>GET_Demande_de_cotation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DureeFourniture</name>
            <value>
                <elementReference>PICKLIST_DureeFourniture</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailCC1</name>
            <value>
                <elementReference>EMAIL_CC1.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailCC2</name>
            <value>
                <elementReference>EMAIL_CC2.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailCC3</name>
            <value>
                <elementReference>EMAIL_CC3.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailCC4</name>
            <value>
                <elementReference>EMAIL_CC4.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailCC5</name>
            <value>
                <elementReference>EMAIL_CC5.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailFournisseur</name>
            <value>
                <elementReference>EMAIL_Fournisseur.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MargeSouhaitee</name>
            <value>
                <elementReference>TEXT_MargeSouhaitee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedPDEs</name>
            <value>
                <elementReference>List_SelectedPDE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeDemande</name>
            <value>
                <elementReference>PICKLIST_TypeDemande</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeEnergie</name>
            <value>
                <elementReference>PICKLIST_TypeEnergie</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeOffre</name>
            <value>
                <elementReference>PICKLIST_TypeOffre</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP019_GenerateDemandeGuichet</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>POST_chatter</name>
        <label>POST chatter</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>S_EmailOK</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TEMPLATE_EmailSend</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_ContentDocumentId</name>
        <label>ASSIGN ContentDocumentId</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>List_CDLContentDocumentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CDL.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CDL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_numberSelectedPDE</name>
        <label>ASSIGN nombre de PDE sélectionnés</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Number_SelectedPDESize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_SelectedPDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_PDEIsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_SelectedDocumentId</name>
        <label>ASSIGN SelectedDocumentId</label>
        <locationX>270</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>List_SelectectedDocumentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Selected_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Selected_Document</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DUREEFOURNITURE_12mois</name>
        <choiceText>12 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>durée de fourniture de 12 mois</stringValue>
        </value>
    </choices>
    <choices>
        <name>DUREEFOURNITURE_24mois</name>
        <choiceText>24 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>durée de fourniture de 24 mois</stringValue>
        </value>
    </choices>
    <choices>
        <name>DUREEFOURNITURE_36mois</name>
        <choiceText>36 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>durée de fourniture de 36 mois</stringValue>
        </value>
    </choices>
    <choices>
        <name>DUREEFOURNITURE_maximale</name>
        <choiceText>Maximale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>durée de fourniture maximale</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEDEMANDE_capta_renouvellement</name>
        <choiceText>Demande de captation / renouvellement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>demande de captation / renouvellement</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEDEMANDE_Captation</name>
        <choiceText>Demande de captation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>demande de captation</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEDEMANDE_renouvellement</name>
        <choiceText>Demande de renouvellement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>demande de renouvellement</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEDOFFRE_arenh</name>
        <choiceText>ARENH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ARENH</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEENERGIE_elec</name>
        <choiceText>Elec</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Elec</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEENERGIE_gaz</name>
        <choiceText>Gaz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gaz</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEENERGIE_gazelec</name>
        <choiceText>Gaz/Elec</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gaz/Elec</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEOFFRE_arenh_pre_ecrete</name>
        <choiceText>ARENH pré-écrêté</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ARENH pré-écrêté</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEOFFRE_fixe</name>
        <choiceText>Fixe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fixe</stringValue>
        </value>
    </choices>
    <choices>
        <name>TYPEOFFRE_indexe</name>
        <choiceText>Indexé</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>indexé</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_MailSended</name>
        <label>Mail envoyé ?</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>S_EmailKO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_MailSended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_AP019GenerateDemandeGuichet.Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POST_chatter</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PDEIsSelected</name>
        <label>Des PDE ont été sélectionnés ?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>S_ErrorPdeSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_PdeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_SelectedPDE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_SelectedPDESize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Content_Document_Link</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_TEXT_DureeFourniture</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!DATE_DureeFournitureDatePrecise}),
    &apos;Durée de fourniture : &apos; + {!PICKLIST_DureeFourniture},
    &apos;Fin de fourniture : &apos; + 
    IF(DAY({!DATE_DureeFournitureDatePrecise}) &lt; 10, &apos;0&apos;, &apos;&apos;) + TEXT(DAY({!DATE_DureeFournitureDatePrecise})) + &apos;-&apos; +
    IF(MONTH({!DATE_DureeFournitureDatePrecise}) &lt; 10, &apos;0&apos;, &apos;&apos;) + TEXT(MONTH({!DATE_DureeFournitureDatePrecise})) + &apos;-&apos; +
    TEXT(YEAR({!DATE_DureeFournitureDatePrecise}))
)</expression>
    </formulas>
    <interviewLabel>Demande Guichet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demande Guichet</label>
    <loops>
        <name>Loop_CDL</name>
        <label>LOOP sur chaque Content Document Link</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>GET_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_ContentDocumentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ContentDocument</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Selected_Document</name>
        <label>LOOP Selected Document</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <collectionReference>Col_ContentDocumentSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_SelectedDocumentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SCREEN_Infos_Demande_Guichet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_Content_Document_Link</name>
        <label>GET Content Document Link</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CDL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Demande_de_cotation.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocument</name>
        <label>Get Content Document</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_selectACD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>List_CDLContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Demande_de_cotation</name>
        <label>GET Demande de cotation</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Perimetre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demande_Cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Récupérer les PDEs concernés par la demande guichet</description>
        <name>GET_Perimetre</name>
        <label>GET Périmètre</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_selectPDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>S_EmailKO</name>
        <label>Demande guichet KO</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_EmailKO</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 51, 51); font-size: 24px;&quot;&gt;Oups...&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Votre demande guichet n&apos;a pas pu être envoyée, contactez votre admin Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_EmailOK</name>
        <label>Demande guichet OK</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DFP_Step4</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Sélectionner votre périmètre,Sélectionner l&apos;ACD,Détails de la demande,La demande est effectuée !</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>La demande est effectuée !</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_EmailOK</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(88, 173, 46);&quot;&gt;Félicitation !&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Votre demande guichet a été envoyée avec succès !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_ErrorPdeSelected</name>
        <label>SCREEN Aucun Pde sélectionné</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_PDENotselected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Vous n&apos;avez sélectionné aucun PDE.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_selectACD</name>
        <label>SCREEN sélection ACD</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LOOP_Selected_Document</targetReference>
        </connector>
        <fields>
            <name>DFP_Step2</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Sélectionner votre périmètre,Sélectionner l&apos;ACD,Détails de la demande,La demande est effectuée !</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Sélectionner l&apos;ACD</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_selectACD_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_selectACD_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_selectACD_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DATATABLE_ACD</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_ContentDocument</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-cef4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-4da4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date de création&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-9920&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Col_ContentDocumentSelected</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_selectPDE</name>
        <label>SCREEN sélection PDE</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_numberSelectedPDE</targetReference>
        </connector>
        <fields>
            <name>DFP_Step1</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Sélectionner votre périmètre,Sélectionner l&apos;ACD,Détails de la demande,La demande est effectuée !</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Sélectionner votre périmètre</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_selectPDE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_selectPDE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_selectPDE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DATATABLE_Pde</name>
            <dataTypeMappings>
                <typeName>t</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc001_DataTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>GET_Perimetre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selected</name>
                <value>
                    <elementReference>List_SelectedPDE</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>List_SelectedPDE</assignToReference>
                <name>selected</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Infos_Demande_Guichet</name>
        <label>SCREEN Infos Demande Guichet</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_AP019GenerateDemandeGuichet</targetReference>
        </connector>
        <fields>
            <name>DFP_Step3</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Sélectionner votre périmètre,Sélectionner l&apos;ACD,Détails de la demande,La demande est effectuée !</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Détails de la demande</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SCREEN_Infos_Demande_Guichet_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCREEN_Infos_Demande_Guichet_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type_de_demande_guichet</name>
            <fieldText>Détails demande guichet</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Type_de_demande_guichet_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PICKLIST_TypeDemande</name>
                    <choiceReferences>TYPEDEMANDE_Captation</choiceReferences>
                    <choiceReferences>TYPEDEMANDE_renouvellement</choiceReferences>
                    <choiceReferences>TYPEDEMANDE_capta_renouvellement</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>TYPEDEMANDE_Captation</defaultSelectedChoiceReference>
                    <fieldText>Type de demande</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_TypeEnergie</name>
                    <choiceReferences>TYPEENERGIE_gaz</choiceReferences>
                    <choiceReferences>TYPEENERGIE_elec</choiceReferences>
                    <choiceReferences>TYPEENERGIE_gazelec</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>TYPEENERGIE_elec</defaultSelectedChoiceReference>
                    <fieldText>Type d&apos;énergie</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_TypeOffre</name>
                    <choiceReferences>TYPEOFFRE_fixe</choiceReferences>
                    <choiceReferences>TYPEOFFRE_indexe</choiceReferences>
                    <choiceReferences>TYPEDOFFRE_arenh</choiceReferences>
                    <choiceReferences>TYPEOFFRE_arenh_pre_ecrete</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>TYPEOFFRE_fixe</defaultSelectedChoiceReference>
                    <fieldText>Type d&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Type_de_demande_guichet_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DATE_RetourSouhaite</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GET_Demande_de_cotation.Date_RDV_Client__c</elementReference>
                    </defaultValue>
                    <fieldText>Retour souhaité le</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TEXT_MargeSouhaitee</name>
                    <dataType>String</dataType>
                    <fieldText>Marge à partager souhaitée (ex : 20€, ex : 15€ sinon 10€, etc...)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Duree_fourniture</name>
            <fieldText>Choix durée fourniture</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Duree_fourniture_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DATE_DureeFournitureDatePrecise</name>
                    <dataType>Date</dataType>
                    <fieldText>Date précise</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Si une date précise est choisie, la durée définie ne sera pas prise en compte et la date précise sera renseignée dans le mail.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Duree_fourniture_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PICKLIST_DureeFourniture</name>
                    <choiceReferences>DUREEFOURNITURE_maximale</choiceReferences>
                    <choiceReferences>DUREEFOURNITURE_12mois</choiceReferences>
                    <choiceReferences>DUREEFOURNITURE_24mois</choiceReferences>
                    <choiceReferences>DUREEFOURNITURE_36mois</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>DUREEFOURNITURE_maximale</defaultSelectedChoiceReference>
                    <fieldText>Durée définie</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Adresses_mail</name>
            <fieldText>Mail fournisseur &amp; copies</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Adresses_mail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EMAIL_Fournisseur</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email du FOURNISSEUR</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>email@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EMAIL_CC3</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email en copie 3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>email@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Adresses_mail_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EMAIL_CC1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email en copie 1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>email@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GET_Demande_de_cotation.Charge_affaire__r.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EMAIL_CC4</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>email@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email en copie 4</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Adresses_mail_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EMAIL_CC2</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email en copie 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>email@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EMAIL_CC5</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>email@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email en copie 5</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SCREEN_Infos_Demande_Guichet_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCREEN_Infos_Demande_Guichet_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Commentaire</name>
                    <fieldText>Commentaire</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Demande_de_cotation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TEMPLATE_EmailSend</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Guichet envoyé à {!EMAIL_Fournisseur.value} et voici le détail :
Type de demande : {!PICKLIST_TypeDemande}.
Type d&apos;offre : {!PICKLIST_TypeOffre}. 
Type d&apos;energie : {!PICKLIST_TypeEnergie}.
{!formula_TEXT_DureeFourniture}.
Marge à partager : {!TEXT_MargeSouhaitee}.
Retour souhaité le : {!DATE_RetourSouhaite}.</text>
    </textTemplates>
    <variables>
        <name>Col_ContentDocumentSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>List_CDLContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_SelectectedDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_SelectedCDL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>List_SelectedPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>Number_SelectedPDESize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContentDocumentSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
</Flow>
