force-app/main/default/flows/Demande_Cotation_Retour_Commercial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP028</name>
        <label>Vérification NB dossier vente indirecte depuis APEX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP028_CheckNbDemandeCotationFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_Plus_de_x_dossier_le_m_me_jour</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>DateRDVClient</name>
            <value>
                <elementReference>Nouveau_Rendez_vous_client</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserCompany</name>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP028_CheckNbDemandeCotationFromFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ACT_AP031</name>
        <label>Récupération des dates indisponible pour la vente indirecte depuis Apex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP031_GetDateIndispo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Partenaire_hors_limite_DDC_par_jour</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>UserCompany</name>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP031_GetDateIndispo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Statut</name>
        <label>ASSIGN Statut</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Demande_Cotation.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demande de réactualisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Demande_Cotation.Date_RDV_reactualisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nouveau_Rendez_vous_client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Demande_Cotation.Infos_reactualisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INPUT_modifications_cahier_charges_souhaiter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Demande_Cotation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_statut_DDC</name>
        <label>Assign statut DDC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Demande_Cotation.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VisualPickList_Statut.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DDC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Statut_Motif_Perte</name>
        <label>Assign Statut + Motif de perte</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Demande_Cotation.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perdue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Demande_Cotation.Motif_perte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Changement de périmètre</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_DDC2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_ClientPerdu</name>
        <choiceIcon>
            <iconName>standard:first_non_empty</iconName>
        </choiceIcon>
        <choiceText>Client Perdu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Perdu</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_DDCPerdue</name>
        <choiceIcon>
            <iconName>standard:recycle_bin</iconName>
        </choiceIcon>
        <choiceText>Cotation Perdue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Perdue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_DemandeDeReactu</name>
        <choiceIcon>
            <iconName>standard:business_hours</iconName>
        </choiceIcon>
        <choiceText>Demande de réactualisation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demande de réactualisation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_enAttenteRetourClient</name>
        <choiceIcon>
            <iconName>standard:skill</iconName>
        </choiceIcon>
        <choiceText>En attente de retour client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En attente de retour client</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_NouveauPerimetre</name>
        <choiceIcon>
            <iconName>standard:replace</iconName>
        </choiceIcon>
        <choiceText>NON, il y a une modification du périmètre.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>nouveauPerimetre</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Oui</name>
        <choiceIcon>
            <iconName>utility:anywhere_chat</iconName>
        </choiceIcon>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_PerimetreIdentique</name>
        <choiceIcon>
            <iconName>standard:task2</iconName>
        </choiceIcon>
        <choiceText>OUI, ce sont les mêmes compteurs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PerimetreIdentique</stringValue>
        </value>
    </choices>
    <choices>
        <name>ouiperimetre</name>
        <choiceText>OUI, c&apos;est le même périmètre de compteurs.</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>nonchange</elementReference>
        </value>
    </choices>
    <decisions>
        <name>DEC_ADE_or_partenaire_exclus</name>
        <label>Est de ADE ou partenaire exclus ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ACT_AP028</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_ADE_or_partenaire_exclus_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_is_partenaire_exclude_or_ADE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Statut</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_MotifRenseigne</name>
        <label>Aucun motif renseigné</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_statut_DDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>ch_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demande_Cotation.Motif_mise_en_attente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Demande_Cotation.Motif_perte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_ErrorMotifManquant</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PerimetreIdentique</name>
        <label>Le périmètre est-il identique ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Statut_Motif_Perte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>visualPicket_Perimetre.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PerimetreIdentique</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACT_AP031</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Plus_de_x_dossier_le_m_me_jour</name>
        <label>Plus de x dossier le même jour ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Statut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_Plus_de_x_dossier_le_m_me_jour_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_AP028.DMLSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_plus_de_place_disponible</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Reactu</name>
        <label>Réactualisation ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCREEN_choix_motif</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_OuiReactu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisualPickList_Statut.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de réactualisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changement_de_p_rim_tre</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_ReactuAutoriser</name>
        <label>Est-ce que vous avez le droit de réactualiser le dossier ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S_RetourCommercialNotAuthorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_ReactuOK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Demande_Cotation.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comparatif prêt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Demande_Cotation.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente de retour client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_ChoixAction</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <description>Vérification si il s&apos;agit d&apos;ADE ou partenaire exclus pour la limite de DDC</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_AncienneCAR</name>
        <dataType>Number</dataType>
        <expression>{!Get_Demande_Cotation.CAR_Elec__c} + {!Get_Demande_Cotation.CAR_Gaz__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_Current_User_CompanyName</name>
        <dataType>String</dataType>
        <expression>{!$User.CompanyName}</expression>
    </formulas>
    <formulas>
        <name>formula_is_partenaire_exclude_or_ADE</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  NOT(ISBLANK({!Get_Partenaire_hors_limite_DDC_par_jour.Label})),
  {!$User.CompanyName} = &quot;ADE&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Cette formule compte le nombre de jour ouvré.

Si il est 15H passé on considère que la journée est terminée.</description>
        <name>formula_NombreDeJourOuvre</name>
        <dataType>Number</dataType>
        <expression>(
    5 * FLOOR((DATEVALUE({!Nouveau_Rendez_vous_client}) - DATE(1900, 1, 8)) / 7) +
    MIN(5, MOD(DATEVALUE({!Nouveau_Rendez_vous_client}) - DATE(1900, 1, 8), 7))
  ) -
  (
    5 * FLOOR((DATEVALUE({!$Flow.CurrentDateTime}) - DATE(1900, 1, 8)) / 7) +
    MIN(5, MOD(DATEVALUE({!$Flow.CurrentDateTime}) - DATE(1900, 1, 8), 7))
  )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Demande Cotation Retour Commercial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demande Cotation Retour Commercial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Demande_Cotation</name>
        <label>Get Demande Cotation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_ReactuAutoriser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demande_Cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partenaire_hors_limite_DDC_par_jour</name>
        <label>Get Partenaire hors limite DDC par jour</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_CahierDesCharges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partenaires_hors_limite_DDC_par_jour__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DDC</name>
        <label>Update DDC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Demande_Cotation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_DDC2</name>
        <label>UPDATE DDC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SubFlow_CreateDDC</targetReference>
        </connector>
        <inputReference>Get_Demande_Cotation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Supprimer le assign et faire les assignation directement dans l&apos;update de la demande de cotation
Ajouter un screen en cas d&apos;erreur de la mise à jour</description>
        <name>Update_Demande_Cotation</name>
        <label>Update Demande Cotation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_UpdateSuccess</targetReference>
        </connector>
        <inputReference>Get_Demande_Cotation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Changement_de_p_rim_tre</name>
        <label>Changement de périmètre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_PerimetreIdentique</targetReference>
        </connector>
        <fields>
            <name>TEXT_DemandeReactu</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(41, 42, 46);&quot;&gt;Vous souhaitez faire une demande de réactualisation.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChangementPerimetre</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 20px;&quot;&gt;Le périmètre est-il identique ?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>visualPicket_Perimetre</name>
            <choiceReferences>ch_PerimetreIdentique</choiceReferences>
            <choiceReferences>ch_NouveauPerimetre</choiceReferences>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>8</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_CahierDesCharges</name>
        <label>Infos Ancien Cahier des charges</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_ADE_or_partenaire_exclus</targetReference>
        </connector>
        <fields>
            <name>DT_DatesIndisponibles</name>
            <fieldText>&lt;p&gt;ATTENTION : Les plannings cotations du canal partenaire sont complets pour les dates suivantes :&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!ACT_AP031.datesindisponibles}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>ACT_AP031.DMLSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formula_Current_User_CompanyName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>ADE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formula_Current_User_CompanyName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Energy +</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TEXT_CDC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Ancien Cahier des charges de votre demande ( non modifiable )&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Offre_souhait_e</name>
            <fieldText>Qualification de l&apos;offre souhaitée</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Offre_souhait_e_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_concurrence</name>
                    <fieldText>&lt;p&gt;Concurrence identifiée : &lt;strong&gt;{!Get_Demande_Cotation.Concurrence_identifiee__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Duree_de_l_offre_souhait_e</name>
                    <fieldText>&lt;p&gt;Durée de l&apos;offre souhaitée : &lt;strong&gt;{!Get_Demande_Cotation.Duree_offre__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Offre_souhait_e_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Boolean_Renouvellement</name>
                    <fieldText>&lt;p&gt;Souhaitez-vous une offre de renouvellemen : &lt;strong&gt;{!Get_Demande_Cotation.Offre_Renouvellement__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TEXT_marge</name>
                    <fieldText>&lt;p&gt;Marge souhaitée : &lt;strong&gt;{!Get_Demande_Cotation.Marge_souhaitee__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Offre_souhait_e_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Plus_de_10_Compteurs</name>
                    <fieldText>&lt;p&gt;Nombre de compteur : &lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Demande_Cotation.Nombre_PDE__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Displaytext_CAR</name>
                    <fieldText>&lt;p&gt;CAR Totale : &lt;strong&gt;{!formula_AncienneCAR}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sp_cificit_de_l_offre</name>
            <fieldText>Spécificité de l&apos;offre</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sp_cificit_de_l_offre_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Specificite_offre</name>
                    <fieldText>&lt;p&gt;Spécificité de l&apos;offre : &lt;strong&gt;{!Get_Demande_Cotation.Specificite_offre__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Charg_d_affaire</name>
            <fieldText>Chargé d&apos;affaire</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Charg_d_affaire_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Charge_affaire</name>
                    <fieldText>&lt;p&gt;Nom : &lt;strong&gt;{!Get_Demande_Cotation.Charge_affaire__r.FirstName}  {!Get_Demande_Cotation.Charge_affaire__r.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Charg_d_affaire_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Informations_Complementaires</name>
                    <fieldText>&lt;p&gt;Message pour votre chargé d&apos;affaire : &lt;strong&gt;{!Get_Demande_Cotation.Infos_complementaires__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Infos_R_actualisation</name>
            <fieldText>Modification du cahier des charges</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Infos_R_actualisation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INPUT_modifications_cahier_charges_souhaiter</name>
                    <fieldText>Quelles modifications du cahier des charges souhaitez-vous ?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Infos_R_actualisation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nouveau_Rendez_vous_client</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Nouveau Rendez-vous client</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(41, 42, 46);&quot;&gt;Le délai d’une demande de réactualisation est de 48h ouvré&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!formula_NombreDeJourOuvre} &gt;= 2</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_RetourCommercialNotAuthorized</name>
        <label>Screen retour commercial interdit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_DemandeReactuNotAuthorized</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 22px;&quot;&gt;Pas de retour commercial possible sur cette demande de cotation.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 22px;&quot;&gt;Merci d&apos;en créer une nouvelle&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_UpdateSuccess</name>
        <label>S_UpdateSuccess</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(5, 212, 26);&quot;&gt;Demande de cotation réactualiser avec succès&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_choix_motif</name>
        <label>SCREEN choix motif</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_MotifRenseigne</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Demande_Cotation.Motif_perte__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>VisualPickList_Statut.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_ClientPerdu</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VisualPickList_Statut.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_DDCPerdue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Demande_Cotation.Motif_mise_en_attente__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VisualPickList_Statut.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_enAttenteRetourClient</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_ChoixAction</name>
        <label>Souhaitez-vous réactualisé le dossier ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_Reactu</targetReference>
        </connector>
        <fields>
            <name>DISPLAY_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Quelle a été l&apos;issue de votre rendez-vous client ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VisualPickList_Statut</name>
            <choiceReferences>ch_enAttenteRetourClient</choiceReferences>
            <choiceReferences>ch_ClientPerdu</choiceReferences>
            <choiceReferences>ch_DDCPerdue</choiceReferences>
            <choiceReferences>Ch_DemandeDeReactu</choiceReferences>
            <extensionName>flowruntime:visualPicker</extensionName>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>visualPickerSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_ErrorMotifManquant</name>
        <label>Screen erreur motif manquant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_statut_DDC</targetReference>
        </connector>
        <fields>
            <name>TEXT_MotifManquant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Merci de renseigner un motif&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_plus_de_place_disponible</name>
        <label>Screen plus de place disponible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_ChoixDateRDVKO</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Notre planning est complet, Veuillez choisir une autre date pour le rendez-vous client&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demande_Cotation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SubFlow_CreateDDC</name>
        <label>Création d&apos;une nouvelle DDC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>DemandeCot</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Demande_Cotation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>nonchange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
