force-app/main/default/flows/Demande_cotation_AfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ADD_ToCollection</name>
        <label>ADD collection to update</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>coll_OppToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OppUpdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_newValueOpp</name>
        <label>MAJ Opp</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_OppUpdated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppUpdated.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_RDV_Client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADD_ToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Attention, les deux chemins ne peuvent pas être pris en même temps</description>
        <name>dec_dateRDVOuStatut</name>
        <label>La date de RDV ou le statut a changé</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DateRDVUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_RDV_Client__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Opportunites</targetReference>
            </connector>
            <label>La date de RDV est mise à jour</label>
        </rules>
        <rules>
            <name>Client_Perdu_Compte_au_statut_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Perdu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_account</targetReference>
            </connector>
            <label>Le statut passe à &apos;Client Perdu&apos; &amp;  Compte au statut &apos;Prospect&apos;</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Demande de cotation MAJ des champs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demande cotation After Update</label>
    <loops>
        <name>LOOP_Opportunities</name>
        <label>Pour chaque opportunité</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>GET_Opportunites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_newValueOpp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_RelatedOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Opportunites</name>
        <label>GET : Related opportunities</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_account</name>
        <label>Update related account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Perdu</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_RelatedOpp</name>
        <label>UPDATE: Toutes les opp</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>coll_OppToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_dateRDVOuStatut</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Date_RDV_Client__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Demande_Cotation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_OppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_OppUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
