force-app/main/default/flows/DemandeCotationRefus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <dynamicChoiceSets>
        <name>ChoiceSet_MotifRefus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motif_refus__c</picklistField>
        <picklistObject>Demande_Cotation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Demande de cotation : Refus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demande Cotation Refus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UPDATE_DemandeCotation</name>
        <label>Update Demande cotation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motif_refus__c</field>
            <value>
                <elementReference>Picklist_MotifRefus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Refusée</stringValue>
            </value>
        </inputAssignments>
        <object>Demande_Cotation__c</object>
    </recordUpdates>
    <screens>
        <name>S_RefusDeLaDemandeDeCotation</name>
        <label>Refus de la demande de cotation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPDATE_DemandeCotation</targetReference>
        </connector>
        <fields>
            <name>Picklist_MotifRefus</name>
            <choiceReferences>ChoiceSet_MotifRefus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motif du refus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Terminé</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_RefusDeLaDemandeDeCotation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
