force-app/main/default/flows/Demande_Cotation_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP016</name>
        <label>Envoie mail chargé d&apos;affaire</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>AP016_SendEmailChargeAffaireCreationDDC</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP016_SendEmailChargeAffaireCreationDDC</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_DemandeCotationStatutCPRefusee</name>
        <label>MAIL : Owner</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>Demande_Cotation__c.Demande_cotation_statut_CP_Refusee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Demande_Cotation__c.Demande_cotation_statut_CP_Refusee</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_DemandeCotationStatutDemandeDeReactualisation</name>
        <label>MAIL : Chargée d&apos;affaire</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <actionName>Demande_Cotation__c.Demande_cotation_statut_Demande_de_Reactualisation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Demande_Cotation__c.Demande_cotation_statut_Demande_de_Reactualisation</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_DemandeCotationStatutRefusee</name>
        <label>MAIL : Owner</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>Demande_Cotation__c.Demande_cotation_statut_CP_Refusee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Demande_Cotation__c.Demande_cotation_statut_CP_Refusee</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NOTIFICATION_DemandeCotationChangementStatut</name>
        <label>NOTIF : Owner</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>EA_DemandeCotationStatutCPRefusee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_CustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TEXT_DemandeCotationChangementStatut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TEXTE_DemandeCotationTitre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>col_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NOTIFICATION_DemandeCotationChangementStatut3</name>
        <label>NOTIF : Owner</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>EA_DemandeCotationStatutRefusee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_CustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TEXT_DemandeCotationChangementStatut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TEXTE_DemandeCotationTitre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>col_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NOTIFICATION_DemandeCotationChangementStatut5</name>
        <label>NOTIF : Chargé d&apos;affaire</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_CustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TEXT_DemandeCotationChangementStatutPourCA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TEXTE_DemandeCotationTitre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>col_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NOTIFICATION_DemandeCotationChangementStatut6</name>
        <label>NOTIF : Chargé d&apos;affaire</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>EA_DemandeCotationStatutDemandeDeReactualisation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_CustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TEXT_DemandeCotationChangementStatutPourCA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TEXTE_DemandeCotationTitre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>col_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NOTIFICATION_DemandeCotationEnCoursDeTraitement</name>
        <label>NOTIF : Owner</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_CustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TEXT_DemandeCotationChangementStatut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TEXTE_DemandeCotationTitre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>col_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NOTIFICATION_NewDemandeCotation</name>
        <label>NOTIF : Chargé affaire</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ACT_AP016</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_CustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TEXT_NewDemandeCotation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TEXTE_DemandeCotationTitre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>col_RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_ColRecipientId</name>
        <label>ASSIGN : Owner Id</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>col_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NOTIFICATION_DemandeCotationEnCoursDeTraitement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_ColRecipientId2</name>
        <label>ASSIGN : Chargé d&apos;affaire Id</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>col_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Charge_affaire__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NOTIFICATION_NewDemandeCotation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_ColRecipientId3</name>
        <label>ASSIGN : Chargé d&apos;affaire Id</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>col_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Charge_affaire__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NOTIFICATION_DemandeCotationChangementStatut6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_ColRecipientId4</name>
        <label>ASSIGN : Owner Id</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>col_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NOTIFICATION_DemandeCotationChangementStatut3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_ColRecipientId5</name>
        <label>ASSIGN : Owner Id</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>col_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NOTIFICATION_DemandeCotationChangementStatut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_ColRecipientId7</name>
        <label>ASSIGN : Chargé d&apos;affaire Id</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>col_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Charge_affaire__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NOTIFICATION_DemandeCotationChangementStatut5</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_DemandeCotationStatut</name>
        <label>Statut de la demande ?</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ch_DemandeCotationStatutIsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FORMULA_Boolean_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_ColRecipientId2</targetReference>
            </connector>
            <label>Nouvelle demande</label>
        </rules>
        <rules>
            <name>ch_DemandeCotationStatutIsEnCoursDeTraitement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours de traitement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_ColRecipientId</targetReference>
            </connector>
            <label>En cours de traitement</label>
        </rules>
        <rules>
            <name>ch_DemandeCotationStatutIsComparatifPret</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comparatif prêt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_ColRecipientId5</targetReference>
            </connector>
            <label>Comparatif pret</label>
        </rules>
        <rules>
            <name>ch_DemandeCotationStatutIsRefusee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_ColRecipientId4</targetReference>
            </connector>
            <label>Refusée</label>
        </rules>
        <rules>
            <name>ch_DemandeCotationStatutIsDemandeDeReactualisation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de réactualisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_ColRecipientId3</targetReference>
            </connector>
            <label>Demande de réactualisation</label>
        </rules>
        <rules>
            <name>ch_DemandeCotationStatutIsPerdue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Perdu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_ColRecipientId7</targetReference>
            </connector>
            <label>Perdue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FORMULA_Boolean_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Demande de cotation Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demande Cotation Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_CustomNotification</name>
        <label>GET : Custom Notification</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_DemandeCotationStatut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande_Cotation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_CustomNotification</targetReference>
        </connector>
        <filterFormula>OR(
ISNEW() = true,
ISCHANGED({!$Record.Statut__c}) = true
)</filterFormula>
        <object>Demande_Cotation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TEXT_DemandeCotationChangementStatut</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Votre demande de cotation {!$Record.Name} est passé au statut : {!$Record.Statut__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>TEXT_DemandeCotationChangementStatutPourCA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>La demande de cotation {!$Record.Name} est passé au statut : {!$Record.Statut__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>TEXT_NewDemandeCotation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Vous avez été assigné comme chargé d&apos;affaire sur cette nouvelle demande de cotation.</text>
    </textTemplates>
    <textTemplates>
        <name>TEXTE_DemandeCotationTitre</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Demande de cotation : {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>col_RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
