force-app/main/default/flows/DemandeCot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP003</name>
        <label>Créer demande de cotation</label>
        <locationX>1348</locationX>
        <locationY>4802</locationY>
        <actionName>AP003_DemandeCotationFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_DemandeCotationIsCreate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Account</name>
            <value>
                <elementReference>GET_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChargeAffaireId</name>
            <value>
                <elementReference>var_ChargeAffaireId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ConcurrenceIdentifiee</name>
            <value>
                <elementReference>picklist_concurrence</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DateEcheance</name>
            <value>
                <elementReference>var_Date_Echeance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DateRDVClient</name>
            <value>
                <elementReference>INPUT_Date_RDV_Client</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DureeOffre</name>
            <value>
                <elementReference>Duree_de_l_offre_souhait_e</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InfosComplementaires</name>
            <value>
                <elementReference>TEXT_Informations_Complementaires</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ManagerId</name>
            <value>
                <elementReference>formula_Text_ManagerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MargeSouhaitee</name>
            <value>
                <elementReference>pickliste_marge</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OffreRenouvellement</name>
            <value>
                <elementReference>picklist_Renouvellement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plusde1Giga</name>
            <value>
                <elementReference>Plus_de_CAR_1Gwh</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedPDEs</name>
            <value>
                <elementReference>ListOfSelectedPDE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SignataireId</name>
            <value>
                <elementReference>DATATABLE_Signataires.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>souhaiteOffreTURPE</name>
            <value>
                <elementReference>checkbox_TURPE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SpecificiteOffre</name>
            <value>
                <elementReference>TEXT_Specificite_offre</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP003_DemandeCotationFromFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ACT_AP028</name>
        <label>Vérification NB dossier vente indirecte depuis APEX</label>
        <locationX>1502</locationX>
        <locationY>4094</locationY>
        <actionName>AP028_CheckNbDemandeCotationFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Plus_de_x_dossier_le_m_me_jour</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>DateRDVClient</name>
            <value>
                <elementReference>INPUT_Date_RDV_Client</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserCompany</name>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP028_CheckNbDemandeCotationFromFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ACT_AP031</name>
        <label>Récupération des dates indisponible pour la vente indirecte depuis Apex</label>
        <locationX>1139</locationX>
        <locationY>3554</locationY>
        <actionName>AP031_GetDateIndispo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Partenaire_hors_limite_DDC_par_jour</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>UserCompany</name>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP031_GetDateIndispo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Ajout_PDE_du_CSV_a_la_liste</name>
        <label>Ajout PDE du CSV à la liste</label>
        <locationX>1408</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>ListOfSelectedPDE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Liste_PDE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbpde</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Liste_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_ContactIdToListOfContactIds</name>
        <label>ASSIGN : ContactId a la liste de contactId</label>
        <locationX>868</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>col_ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_ACRCollection.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_ACRCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Nombre_de_demande_de_cotation_en_retard</name>
        <label>ASSIGN: Nombre de demande de cotation en retard</label>
        <locationX>680</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NUMBER_DemandesCotationEnRetard</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListOfDemandeDeCotationEnRetard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demande_de_cotation_en_retard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Vider_la_liste_PDE_selectionne</name>
        <label>Vider la liste PDE selectionné(s)</label>
        <locationX>1320</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>ListOfSelectedPDE</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ListOfSelectedPDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Liste_PDE</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_12mois</name>
        <choiceText>12 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 mois</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_24mois</name>
        <choiceText>24 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24 mois</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_36mois</name>
        <choiceText>36 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36 mois</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_dureeMax</name>
        <choiceText>Durée max</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Durée max</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_margemax</name>
        <choiceText>Marge maximale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marge maximale</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_margemin</name>
        <choiceText>Marge minimale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marge minimale</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_margemoy</name>
        <choiceText>Marge moyenne</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marge moyenne</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_NeSaisPas</name>
        <choiceText>Ne sais pas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ne sais pas</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_RDVPhysique</name>
        <choiceText>RDV Physique</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RDV Physique</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_RDVTelephonique</name>
        <choiceText>RDV Téléphonique</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ch_RDVTelephonique</stringValue>
        </value>
    </choices>
    <constants>
        <name>testsignataire</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Signataire</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DEC_ACRIsNull</name>
        <label>ACR Trouvé ?</label>
        <locationX>547</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>LOOP_ACRCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>ch_ACRisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ContactsIdFromACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_SignataireNotFound</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ADE_or_partanaire_exclus</name>
        <label>Est de ADE ou partanaire exclus ?</label>
        <locationX>1348</locationX>
        <locationY>3986</locationY>
        <defaultConnector>
            <targetReference>ACT_AP028</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formula_is_partenaire_exclude_or_ADE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_Infos_Compte</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Aucun_PDE_trouve</name>
        <label>Aucun PDE trouvé ?</label>
        <locationX>1320</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>DEC_PDEIsSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PDE trouvé(s)</defaultConnectorLabel>
        <rules>
            <name>DEC_Aucun_PDE_trouve_PDE_non_trouves</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfSelectedPDE</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Aucun_PDE_correspondant</targetReference>
            </connector>
            <label>PDE non trouvé(s)</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_BypasDDC</name>
        <label>Bypass DDC en retard ?</label>
        <locationX>233</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GET_Demande_de_cotation_en_retard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_DDC_en_retard</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GET_Account</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <description>https://salesforce.stackexchange.com/questions/289594/why-does-flow-proceed-even-though-required-fields-are-blank</description>
        <name>DEC_ChargeNotNull</name>
        <label>Est-ce que le chargé d&apos;affaire est renseigné</label>
        <locationX>1139</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>dec_ADE_or_partanaire_exclus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChargeAffaireId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_ErreurChargeAffaire</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_ContactIsNotNull</name>
        <label>Contacts trouvé ?</label>
        <locationX>780</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Le_compte_est_il_un_syndic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>ch_ContactIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_SignataireNotFound</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_DemandeCotationIsCreate</name>
        <label>Demande de cotation créée ?</label>
        <locationX>1348</locationX>
        <locationY>4910</locationY>
        <defaultConnector>
            <targetReference>S_Echec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_DemandeCotationIsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_AP003.DMLSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_GETACDUploadIsFound</name>
        <label>ACD Trouvé ?</label>
        <locationX>1310</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>S_ACDNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_GETACDUploadIsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ACDUpload</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_ContactsIdFromACR</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Mode</name>
        <label>Mode ?</label>
        <locationX>1474</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>DEC_PDEIsSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manuel</defaultConnectorLabel>
        <rules>
            <name>DEC_Mode_CSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_CSVModeActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Vider_la_liste_PDE_selectionne</targetReference>
            </connector>
            <label>CSV</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PDEIsSelected</name>
        <label>PDE(s) Selectionné(s) ?</label>
        <locationX>1474</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Pde_not_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_PDEIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfSelectedPDE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_nbpde</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACT_AP031</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_PDENotNull</name>
        <label>Il existe des PDE ?</label>
        <locationX>1070</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>PDE_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>ch_PDEisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfPDE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran2</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Valeur_CSV_conforme_un_PDE_de_la_liste</name>
        <label>Valeur CSV conforme à un PDE de la liste ?</label>
        <locationX>1540</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>LOOP_Liste_PDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_Valeur_CSV_conforme_au_PDE_selectionnable_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_SelectedPDE</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOP_Liste_PDE.TECH_num_compteur__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Ajout_PDE_du_CSV_a_la_liste</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Demande_de_cotation_en_retard</name>
        <label>Demande de cotation en retard ?</label>
        <locationX>680</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GET_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Demande_de_cotation_en_retard_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NUMBER_DemandesCotationEnRetard</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TEXT_DemandeDeCotationEnRetard</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Le_compte_est_il_un_syndic</name>
        <label>Le compte est-il un syndic ?</label>
        <locationX>1070</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>GET_Point_Energie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Oui_Syndic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syndic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Point_Energie_Syndic</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plus_de_x_dossier_le_m_me_jour</name>
        <label>Plus de x dossier le même jour ?</label>
        <locationX>1502</locationX>
        <locationY>4202</locationY>
        <defaultConnector>
            <targetReference>S_Infos_Compte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_AP028.DMLSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_plus_de_place_disponible</targetReference>
            </connector>
            <label>oui</label>
        </rules>
    </decisions>
    <description>Fix : import CSV</description>
    <environments>Default</environments>
    <formulas>
        <name>CommentaireTemplate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>EndOfDay</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT(DATEVALUE({!INPUT_Date_RDV_Client} + 1)) + &quot; 00:00:00&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_48HToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <formulas>
        <name>formula_Currente_User_CompanyName</name>
        <dataType>String</dataType>
        <expression>{!$User.CompanyName}</expression>
    </formulas>
    <formulas>
        <name>formula_Date_MoinsDe60Jours</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 60</expression>
    </formulas>
    <formulas>
        <name>formula_EstPartenaire</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} = &apos;Utilisateur Partenaire Communauté&apos;</expression>
    </formulas>
    <formulas>
        <name>formula_is_partenaire_exclude_or_ADE</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  NOT(ISBLANK({!Get_Partenaire_hors_limite_DDC_par_jour.Label})),
  {!$User.CompanyName} = &quot;ADE&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_LienRapportPartenaire</name>
        <dataType>String</dataType>
        <expression>IF(
    {!formula_EstPartenaire},
    &quot;https://alliancedesenergies.my.site.com/partenaire/s/report/00O2o000009BEaMEAW/ddc-a-mettre-%C3%A0-jour&quot;,
    &quot;https://alliancedesenergies.lightning.force.com/lightning/r/Report/00O2o000009BEaMEAW/view?queryScope=userFolders&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Cette formule compte le nombre de jour ouvré.

Si il est 15H passé on considère que la journée est terminée.</description>
        <name>formula_NombreDeJourOuvre</name>
        <dataType>Number</dataType>
        <expression>(
    5 * FLOOR((DATEVALUE({!INPUT_Date_RDV_Client}) - DATE(1900, 1, 8)) / 7) +
    MIN(5, MOD(DATEVALUE({!INPUT_Date_RDV_Client}) - DATE(1900, 1, 8), 7))
  ) -
  (
    5 * FLOOR((DATEVALUE({!$Flow.CurrentDateTime}) - DATE(1900, 1, 8)) / 7) +
    MIN(5, MOD(DATEVALUE({!$Flow.CurrentDateTime}) - DATE(1900, 1, 8), 7))
  )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_Plus_10_PDE</name>
        <dataType>Boolean</dataType>
        <expression>IF({!var_nbpde} &gt; 10, true, false)</expression>
    </formulas>
    <formulas>
        <name>formula_Text_ManagerId</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerId}</expression>
    </formulas>
    <formulas>
        <name>StartOfDay</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT(DATEVALUE({!INPUT_Date_RDV_Client})) + &quot; 00:00:00&quot; )</expression>
    </formulas>
    <interviewLabel>DemandeCot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demande Cotation</label>
    <loops>
        <name>LOOP_ACRCollection</name>
        <label>Pour chaque ACR</label>
        <locationX>780</locationX>
        <locationY>1214</locationY>
        <collectionReference>GET_ContactsIdFromACR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_ContactIdToListOfContactIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Liste_PDE</name>
        <label>Loop Liste PDE</label>
        <locationX>1320</locationX>
        <locationY>2462</locationY>
        <collectionReference>ListOfPDE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Valeur_CSV_conforme_un_PDE_de_la_liste</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_Aucun_PDE_trouve</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_Account</name>
        <label>GET: Account</label>
        <locationX>1310</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ACDUpload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACDUpload</name>
        <label>GET: ACD Upload</label>
        <locationX>1310</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_GETACDUploadIsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>GET : Contacts</label>
        <locationX>780</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_ContactIsNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>col_ContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ContactsIdFromACR</name>
        <label>GET : ContactIds from ACR</label>
        <locationX>547</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_ACRIsNull</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signataire</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signataire;Gestionnaire de la copropriété</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Demande_de_cotation_en_retard</name>
        <label>GET: Demande de cotation en retard</label>
        <locationX>680</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Nombre_de_demande_de_cotation_en_retard</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (3 AND 4)) AND 5</filterLogic>
        <filters>
            <field>Date_RDV_Client__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formula_48HToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comparatif prêt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_RDV_Client__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formula_Date_MoinsDe60Jours</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En attente de retour client</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>Demande_Cotation__c</object>
        <outputReference>ListOfDemandeDeCotationEnRetard</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Partenaire_hors_limite_DDC_par_jour</name>
        <label>Get Partenaire hors limite DDC par jour</label>
        <locationX>1139</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_CahierDesCharges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.CompanyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partenaires_hors_limite_DDC_par_jour__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Point_Energie</name>
        <label>Get Point Energie</label>
        <locationX>1202</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_PDENotNull</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5)</filterLogic>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>DateEcheance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Premiere_mise_en_service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>ListOfPDE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>TECH_num_compteur__c</queriedFields>
        <queriedFields>Contrat_actif__c</queriedFields>
        <queriedFields>Demande_Cotation__c</queriedFields>
        <queriedFields>TECH_CAR__c</queriedFields>
        <queriedFields>Fournisseur__c</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Point_Energie_Syndic</name>
        <label>Get Point Energie Syndic</label>
        <locationX>938</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_PDENotNull</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5)</filterLogic>
        <filters>
            <field>TECH_Syndic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>DateEcheance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Premiere_mise_en_service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PDE__c</object>
        <outputReference>ListOfPDE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>TECH_num_compteur__c</queriedFields>
        <queriedFields>Contrat_actif__c</queriedFields>
        <queriedFields>Demande_Cotation__c</queriedFields>
        <queriedFields>TECH_CAR__c</queriedFields>
        <queriedFields>Fournisseur__c</queriedFields>
        <queriedFields>ReferencePointEnergie_Refonte__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1216</locationX>
        <locationY>5018</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DemandeTransmises</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(51, 195, 25);&quot;&gt;Votre demande a bien été créée !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran2</name>
        <label>Ecran2</label>
        <locationX>666</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PointEbenrgie</name>
            <fieldText>&lt;p&gt;Vous devez renseigner à minima un point d&apos;énergie.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PDE_Selection</name>
        <label>PDE Selection</label>
        <locationX>1474</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_Mode</targetReference>
        </connector>
        <fields>
            <name>TEXT_PDEChoice</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choisissez vos PDE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LWC_DDC_Import_Compteur</name>
            <extensionName>c:lwc031_DDCImportCompteurs</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varT_SelectedPDE</assignToReference>
                <name>selectedPDE</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varB_CSVModeActive</assignToReference>
                <name>csvModeActive</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LWC_datatable</name>
            <dataTypeMappings>
                <typeName>t</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc001_DataTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>ListOfPDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selected</name>
                <value>
                    <elementReference>ListOfSelectedPDE</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ListOfSelectedPDE</assignToReference>
                <name>selected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_nbpde</assignToReference>
                <name>selectedRowsCount</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_ACDNotFound</name>
        <label>ACD Non trouvé</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ACDNotFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ACD non trouvé&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_ACDErrorMessage</name>
            <fieldText>&lt;p&gt;L&apos;ACD n&apos;a pas été trouvé. Merci de l&apos;ajouter avant d&apos;effectuer votre demande.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_CahierDesCharges</name>
        <label>Infos Cahier des charges</label>
        <locationX>1139</locationX>
        <locationY>3770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_ChargeNotNull</targetReference>
        </connector>
        <fields>
            <name>DatesIndisponibles</name>
            <fieldText>&lt;p&gt;ATTENTION : Les plannings cotations du canal partenaire sont complets pour les dates suivantes :&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!ACT_AP031.datesindisponibles}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>ACT_AP031.DMLSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formula_is_partenaire_exclude_or_ADE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TEXT_ChargeAffaire</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Cahier des charges de votre demande&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rendez_vous</name>
            <fieldText>Rendez-vous</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Rendez_vous_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INPUT_Date_RDV_Client</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date et heure de votre rendez-vous</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Merci de respecter un délai de 48H ouvré &lt;/p&gt;</errorMessage>
                        <formulaExpression>{!formula_NombreDeJourOuvre} &gt;= 2</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Offre_souhait_e</name>
            <fieldText>Qualification de l&apos;offre souhaitée</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Offre_souhait_e_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklist_concurrence</name>
                    <choiceReferences>ch_oui</choiceReferences>
                    <choiceReferences>ch_non</choiceReferences>
                    <choiceReferences>ch_NeSaisPas</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_NeSaisPas</defaultSelectedChoiceReference>
                    <fieldText>Concurrence identifiée</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Duree_de_l_offre_souhait_e</name>
                    <choiceReferences>ch_12mois</choiceReferences>
                    <choiceReferences>ch_24mois</choiceReferences>
                    <choiceReferences>ch_36mois</choiceReferences>
                    <choiceReferences>ch_dureeMax</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Durée de l&apos;offre souhaitée</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Offre_souhait_e_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklist_Renouvellement</name>
                    <choiceReferences>ch_oui</choiceReferences>
                    <choiceReferences>ch_non</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_non</defaultSelectedChoiceReference>
                    <fieldText>Souhaitez-vous une offre de renouvellement ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pickliste_marge</name>
                    <choiceReferences>ch_margemin</choiceReferences>
                    <choiceReferences>ch_margemoy</choiceReferences>
                    <choiceReferences>ch_margemax</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_margemoy</defaultSelectedChoiceReference>
                    <fieldText>Marge souhaitée</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Offre_souhait_e_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Plus_de_CAR_1Gwh</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Plus de CAR : +1Gwh ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>formula_EstPartenaire</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Plus_de_10_Compteurs</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>formula_Plus_10_PDE</elementReference>
                    </defaultValue>
                    <fieldText>Plus de 10 Compteurs ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>formula_EstPartenaire</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_Specificite_offre</name>
            <fieldText>Spécificité de l&apos;offre</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;La saisie ne doit pas dépasser 255 caractères. Veuillez réduire la taille du texte.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!TEXT_Specificite_offre}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Service_PEPS</name>
            <fieldText>Service PEP&apos;S</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_PEPS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>checkbox_TURPE</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Souhaitez-vous une offre TURPE ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Service_PEPS_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Charge_d_affaire</name>
            <fieldText>Chargé d&apos;affaire</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Charge_d_affaire_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LOOKUP_ChargeAffaire</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Demande_Cotation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Charge_affaire__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nom</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_ChargeAffaireId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Charge_d_affaire_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TEXT_Informations_Complementaires</name>
                    <fieldText>Message pour votre chargé d&apos;affaire</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Echec</name>
        <label>Echec</label>
        <locationX>1480</locationX>
        <locationY>5018</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DemandeKO</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(199, 22, 22);&quot;&gt;Une erreur est survenue, veuillez réessayer dans quelques instants.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Infos_Compte</name>
        <label>Infos Compte</label>
        <locationX>1348</locationX>
        <locationY>4694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_AP003</targetReference>
        </connector>
        <fields>
            <name>TEXT_InfosCompte</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informations du compte&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_ChooseSignataire</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(92, 92, 92); font-size: 12px;&quot;&gt;Choisissez un signataire&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DATATABLE_Signataires</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liste des signataires</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fbcc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-ab9d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-c55a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Business Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_SignataireNotFound</name>
        <label>Signataire Non trouvé</label>
        <locationX>547</locationX>
        <locationY>5738</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ACRNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Signataire&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; non trouvé&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_ACRErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Renseignez au moins un signataire pour ce compte.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Attention, le signataire doit avoir une adresse mail et un numéro de téléphone  mobile valide.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Verification</name>
        <label>Verification</label>
        <locationX>233</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_BypasDDC</targetReference>
        </connector>
        <fields>
            <name>TEXT_Avant_de_commencer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Avant de commencer&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_Prerequis</name>
            <fieldText>&lt;p&gt;Voici les éléments nécessaires pour la réalisation de votre cotation :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;L’Autorisation de Collecte de Données (ACD)&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;L’échéance actuelle du contrat&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Le SIREN payeur et le SIRET du site&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Les informations du contact signataire (nom, prénom, téléphone, e-mail)&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Le(s) PDE concerné(s) (date d&apos;échéance, RAE/PDL/PCE)  &lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Le type d&apos;offre souhaité&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Le délai pour une demande de cotation d’un mono-site doit être au minimum de 48h ouvrées (2 jours pleins)&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Le délai pour une demande de cotation multi-sites doit être au minimum de 7 jours ouvrés&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Si votre demande n&apos;est pas complète merci de fermer cette fenêtre en cliquant sur la croix .&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Aucun_PDE_correspondant</name>
        <label>Aucun PDE correspondant</label>
        <locationX>1188</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_AucunPDEduCSVTrouve</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(224, 122, 45);&quot;&gt;⚠️&lt;/span&gt;&lt;span style=&quot;color: rgb(224, 122, 45);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(224, 122, 45); font-size: 16px;&quot;&gt;Aucun PDE trouvé&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 122, 45); font-size: 16px;&quot;&gt; Les numéros de compteurs du CSV ne correspondent à aucun PDE sélectionnable.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 122, 45); font-size: 16px;&quot;&gt; Vérifiez votre fichier CSV puis réessayez.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_ErreurChargeAffaire</name>
        <label>SCREEN_ErreurChargeAffaire</label>
        <locationX>930</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ErreurChargeAffaire</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;ATTENTION&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; Il y&apos;a eu une erreur lors de la sélection de votre chargé d&apos;affaire merci de revenir à l&apos;écran précédent&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Pde_not_selected</name>
        <label>SCREEN Pde not selected</label>
        <locationX>1810</locationX>
        <locationY>3554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_PDENotselected</name>
            <fieldText>&lt;p&gt;Vous n&apos;avez sélectionné aucun PDE.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_plus_de_place_disponible</name>
        <label>Screen plus de place disponible</label>
        <locationX>1370</locationX>
        <locationY>4310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChoixDateRDVKO</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Notre planning est complet, Veuillez choisir une autre date pour le rendez-vous client&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TEXT_DemandeDeCotationEnRetard</name>
        <label>Demande de cotation en retard</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_TitreDemandeDeCotationEnRetard</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;⚠️&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;﻿Demande de cotation en retard&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_CotationEnRetard</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;ATTENTION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vous avez &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!NUMBER_DemandesCotationEnRetard} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;demandes de cotation en retard&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!formula_LienRapportPartenaire}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;Cliquez ici pour consulter et mettre à jour les demandes en retard&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>107</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Objet</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Demande de cotation pour le compte {!GET_Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateComment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!CommentaireTemplate} :{!TEXT_Informations_Complementaires}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_Copro</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfDemandeDeCotation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Demande_Cotation__c</objectType>
    </variables>
    <variables>
        <name>ListOfDemandeDeCotationEnRetard</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Demande_Cotation__c</objectType>
    </variables>
    <variables>
        <name>ListOfPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListOfPdeToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListOfSelectedPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NUMBER_DemandesCotationEnRetard</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NUMBER_SelectedPDESize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RTPartenaireId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ChargeAffaireId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Date_Echeance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_nbpde</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varB_CSVModeActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNbElementsDDC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varT_SelectedPDE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
