force-app/main/default/flows/Demande_d_une_Optimisation_TURPE_PDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP034_OptimisationTURPE</name>
        <label>Optimisation TURPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP034_TURPEOptimisationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCREEN_Optimisation_TURPE_Succes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailToNotify</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wrapTURPE</name>
            <value>
                <elementReference>varADCol_WrapTURPEDisplayRow</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP034_TURPEOptimisationService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ACT_AP034_RecuperationOptimisationTURPE</name>
        <label>Récupération Optimisation TURPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP034_TURPEOptimisationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCREEN_R_cup_ration_d_une_Optimisation_TURPE_Succ_s</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailToNotify</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wrapTURPE</name>
            <value>
                <elementReference>varADCol_WrapTURPEDisplayRow</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP034_TURPEOptimisationService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_TURPE_Wrapper</name>
        <label>Assign TURPE Wrapper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varADCol_WrapTURPEDisplayRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TRANSFORM_PDE_Recuperation_Optimisation_TURPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_AP034_RecuperationOptimisationTURPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TURPE_Wrapper_Optimisation</name>
        <label>Assign TURPE Wrapper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varADCol_WrapTURPEDisplayRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TRANSFORM_PDE_Optimisation_TURPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_AP034_OptimisationTURPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TURPE_Wrapper_Renew</name>
        <label>Assign TURPE Wrapper (Renew)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varADCol_WrapTURPEDisplayRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Transform_PDE_Optimisation_TURPE_Renew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_AP034_OptimisationTURPE</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>ACD_Toujours_valide</name>
        <label>ACD Toujours valide ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_ACDNonValide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE.ACD_valide__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_DateAppel_3_mois</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Contact_Signataire_renseigne</name>
        <label>Contact Signataire renseigné ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Renseignez_un_contact_signataire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_Contact_Signataire_renseigne_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE.SignataireACD__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACD_Toujours_valide</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_DateAppel_3_mois</name>
        <label>Date Premier Appel &gt; 3 mois ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DEC_PDEStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_DateAppel_3_mois_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_PDEOlderThan3Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Transform_PDE_Optimisation_TURPE_Renew</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PDEStatus</name>
        <label>Statut du PDE ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>DEC_PDEStatus_X1er_Appel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE.IdSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TRANSFORM_PDE_Optimisation_TURPE</targetReference>
            </connector>
            <label>1er Appel</label>
        </rules>
        <rules>
            <name>DEC_PDEStatus_X1er_Appel_en_Cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE.IdSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_PDE.DateAppel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_PDE.AppelEnCours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Optimisation_TURPE_Appel_en_cours</targetReference>
            </connector>
            <label>1er Appel En Cours</label>
        </rules>
        <rules>
            <name>DEC_PDEStatus_Renouvellement_Bloque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE.IdSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_PDE.DateAppel__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Formula_14DaysBeforeDateAppel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_PDE.AppelEnCours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_R_cup_ration_Optimisation_TURPE_Limite_non_atteinte</targetReference>
            </connector>
            <label>Renouvellement Bloqué</label>
        </rules>
        <rules>
            <name>DEC_PDEStatus_Renouvellement_Autorise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE.IdSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_PDE.DateAppel__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_14DaysBeforeDateAppel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_PDE.AppelEnCours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Tout_les_champs_sont_remplis</targetReference>
            </connector>
            <label>Renouvellement Autorisé</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Tout_les_champs_sont_remplis</name>
        <label>Tout les champs sont remplis ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TRANSFORM_PDE_Recuperation_Optimisation_TURPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_Tout_les_champs_sont_remplis_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_PDE.TECH_OptimisationFieldsMissing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R_cup_ration_d_une_Optimisation_TURPE_Deja_A_Jour</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_14DaysBeforeDateAppel</name>
        <dataType>Date</dataType>
        <expression>TODAY() -14</expression>
    </formulas>
    <formulas>
        <name>Formula_PDEOlderThan3Months</name>
        <dataType>Boolean</dataType>
        <expression>{!GET_PDE.DatePremierAppel__c} &lt; (TODAY() - 90)</expression>
    </formulas>
    <interviewLabel>Demande d&apos;une Optimisation TURPE (PDE) {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Demande d&apos;une Optimisation TURPE (PDE)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_PDE</name>
        <label>GET PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Contact_Signataire_renseigne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>R_cup_ration_d_une_Optimisation_TURPE_Deja_A_Jour</name>
        <label>Récupération d&apos;une Optimisation TURPE - Déjà à jour</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_RecuperationOptimisationTURPEDejaAJour</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(69, 90, 100); font-size: 16px;&quot;&gt;ℹ️ Votre optimisation est déjà à jour&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ACDNonValide</name>
        <label>ACD Expiré</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Displaytext_ACDNonValide</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;L&apos;ACD a expiré.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Vous ne pouvez pas faire de  demande d&apos;optimisation de TURPE.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Optimisation_TURPE_Appel_en_cours</name>
        <label>Optimisation TURPE - Appel en cours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_OptimisationTURPEAppelEnCours</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;⚠️&lt;strong style=&quot;color: rgb(230, 81, 0); font-size: 16px;&quot;&gt; Appel déjà en cours&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(230, 81, 0); font-size: 16px;&quot;&gt;Un appel est déjà en cours pour ce PDE. Merci de patienter le temps que l&apos;optimisation soit terminée&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Optimisation_TURPE_Succes</name>
        <label>Optimisation TURPE - Succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_OptimisationTURPESucces</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(27, 94, 32); font-size: 16px;&quot;&gt;✅ Appel lancé avec succès&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(27, 94, 32); font-size: 16px;&quot;&gt;L’optimisation TURPE a bien été envoyée. Vous recevrez les résultats dès qu’ils seront disponibles&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_R_cup_ration_d_une_Optimisation_TURPE_Succ_s</name>
        <label>Récupération d&apos;une Optimisation TURPE - Succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_RecuperationOptimisationTURPESucces</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;✅&lt;strong style=&quot;font-size: 16px; color: rgb(46, 125, 50);&quot;&gt; Votre demande de récupération de votre Optimisation à été effectuée !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_R_cup_ration_Optimisation_TURPE_Limite_non_atteinte</name>
        <label>Récupération Optimisation TURPE - Limite non atteinte</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_RenouvellementTURPELimiteNonAtteinte</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(230, 81, 0); font-size: 16px;&quot;&gt;⏳ Délai non atteint&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(230, 81, 0); font-size: 16px;&quot;&gt;Une demande d’optimisation a déjà été effectuée récemment. Vous pourrez relancer un appel après le délai de 2 semaines&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Renseignez_un_contact_signataire</name>
        <label>Renseignez un contact signataire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_RenseignerUnContactSignataire</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;⚠️&lt;/span&gt;&lt;strong style=&quot;color: rgb(230, 81, 0); font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(230, 81, 0); font-size: 16px;&quot;&gt;Avant d&apos;envoyer une optimisation, veuillez renseignez un contact signataire  ACD sur ce PDE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_PDE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Copy_1_of_Transform_PDE_Optimisation_TURPE_Renew</name>
        <label>Transform PDE Optimisation TURPE (Renew)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>WrapTURPEDisplayRow</apexClass>
        <connector>
            <targetReference>Assign_TURPE_Wrapper_Renew</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>RecordId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ActionType</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>PDE_OPTIMISATION_RENEW</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdAnalyse</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdAnalyse__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdBuilding</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdBuilding__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdSource__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>TRANSFORM_PDE_Optimisation_TURPE</name>
        <label>Transform PDE Optimisation TURPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>WrapTURPEDisplayRow</apexClass>
        <connector>
            <targetReference>Assign_TURPE_Wrapper_Optimisation</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>RecordId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ActionType</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>PDE_OPTIMISATION</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdAnalyse</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdAnalyse__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdBuilding</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdBuilding__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdSource__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>TRANSFORM_PDE_Recuperation_Optimisation_TURPE</name>
        <label>Transform PDE Récupération Optimisation TURPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>WrapTURPEDisplayRow</apexClass>
        <connector>
            <targetReference>ASSIGN_TURPE_Wrapper</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>RecordId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdSource__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdBuilding</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdBuilding__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IdAnalyse</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDE.IdAnalyse__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ActionType</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>PDE_RENOUVELLEMENT</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varADCol_WrapTURPEDisplayRow</name>
        <apexClass>WrapTURPEDisplayRow</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
