force-app/main/default/flows/DocuSign_Status_AFTER.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_ConvertLEad</name>
        <label>Convertion du lead</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>AP020_ConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_convertSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_alert_piste_non_convertie2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.dfsle__Lead__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP020_ConvertLead</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>EA_piste_non_convertie</name>
        <label>Email alert piste non convertie</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Lead.ACD_Signee_Piste_convertie_erreur</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.dfsle__Lead__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.ACD_Signee_Piste_convertie_erreur</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_PisteConvertie</name>
        <label>Email alert piste convertie</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Lead.ACD_Signee_Piste_convertie</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.dfsle__Lead__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.ACD_Signee_Piste_convertie</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_piste_non_convertie2</name>
        <label>Email alert piste non convertie</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Lead.ACD_Signee_Piste_convertie_erreur</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.dfsle__Lead__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.ACD_Signee_Piste_convertie_erreur</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>dec_convertSuccess</name>
        <label>Est-ce que le lead a été converti</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>EA_piste_non_convertie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_ConvertLEad.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_PisteConvertie</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <description>Conversion de la piste après la signature d&apos;une ACD</description>
    <environments>Default</environments>
    <interviewLabel>DocuSign Status AFTER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocuSign Status AFTER</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ACT_ConvertLEad</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
