force-app/main/default/flows/FL004_AccountBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>APE</name>
        <label>APE</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAPE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isblank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNAF</targetReference>
            </connector>
            <label>IsAPE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>APE_LEFT</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
LEFT({!$Record.ELLISPHERE__Elli_ActivityTypeAndCode__c},7),&quot;[&quot;,&quot;&quot;),&quot;]&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Isblank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.ELLISPHERE__Elli_ActivityTypeAndCode__c})</expression>
    </formulas>
    <interviewLabel>FL004_AccountBefore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL004_AccountAfter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNAF</name>
        <label>GetNAF</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ELLISPHERE__Elli_code_ape08__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CodeNAF__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_TECH_Parent_Account_Owner</name>
        <label>UPDATE TECH Parent Account Owner</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>APE</targetReference>
        </connector>
        <inputAssignments>
            <field>Parent_AccountOwner__c</field>
            <value>
                <stringValue>{!$Record.Parent.Owner.FirstName} {!$Record.Parent.Owner.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Code_NAF__c</field>
            <value>
                <elementReference>GetNAF.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UPDATE_TECH_Parent_Account_Owner</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
