force-app/main/default/flows/FL010_CreationPDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_copro</name>
        <label>Infos copros</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Numero_Voie_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountId.Numero_voie__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Voie_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountId.Voie__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Code_Postal_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountId.Code_postal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ville_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountId.Ville__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cr_ation_d_un_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_EJP</name>
        <label>Infos Entité Juridique principale</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Voie_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountId.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ville_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountId.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Code_Postal_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountId.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cr_ation_d_un_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C1_C2</name>
        <label>C1_C2</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C1C2_RTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cr_ationPDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C3_C4</name>
        <label>C3_C4</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C3C4_RTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cr_ationPDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C5_C5</name>
        <label>C5_</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C5_RTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cr_ationPDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C5_par_d_faut</name>
        <label>C5 par défaut</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C5_RTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cr_ationPDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ScreenChoixGAZ</name>
        <label>ScreenChoixGAZ</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ProfilGAZ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tarif</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gaz_RTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SegmentRT</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aucun</name>
        <choiceText>Aucun</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aucun</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1</name>
        <choiceText>C1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2</name>
        <choiceText>C2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2</stringValue>
        </value>
    </choices>
    <choices>
        <name>C3</name>
        <choiceText>C3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C3</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4</name>
        <choiceText>C4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4</stringValue>
        </value>
    </choices>
    <choices>
        <name>C5</name>
        <choiceText>C5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electricite</name>
        <choiceText>Electricité</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electricité</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gaz</name>
        <choiceText>Gaz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gaz</stringValue>
        </value>
    </choices>
    <choices>
        <name>S36KVACU</name>
        <choiceText>BT inférieure ou égale à &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;36 KVA - CU&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT &lt;= 36 KVA - CU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBTINF36KVACU</name>
        <choiceText>BT inférieure ou égale à 36 KVA - CU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT &lt;= 36 KVA - CU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBTINF36KVACU4POSTES</name>
        <choiceText>BT inférieure ou égale à 36 KVA - CU 4 postes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT &lt;= 36 KVA - CU 4 postes</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBTINF36KVAMU</name>
        <choiceText>BT inférieure ou égale à 36 KVA - MU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT &lt;= 36 KVA - MU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBTINF36KVAMU4POSTES</name>
        <choiceText>BT inférieure ou égale à 36 KVA - MU 4 postes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT &lt;= 36 KVA - MU 4 postes</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBTSUP36KVACU</name>
        <choiceText>BT supérieure à 36 KVA - CU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT &gt; 36 KVA - CU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBTSUP36KVALU</name>
        <choiceText>BT supérieure à 36 KVA - LU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT &gt; 36 KVA - LU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SHTAPFCU</name>
        <choiceText>HTA - PF - CU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HTA - PF - CU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SHTAPFLU</name>
        <choiceText>HTA - PF - LU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HTA - PF - LU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SHTAPMCU</name>
        <choiceText>HTA - PM - CU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HTA - PM - CU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SHTAPMLU</name>
        <choiceText>HTA - PM - LU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HTA - PM - LU</stringValue>
        </value>
    </choices>
    <choices>
        <name>T1</name>
        <choiceText>T1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T1</stringValue>
        </value>
    </choices>
    <choices>
        <name>T2</name>
        <choiceText>T2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T2</stringValue>
        </value>
    </choices>
    <choices>
        <name>T3</name>
        <choiceText>T3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T3</stringValue>
        </value>
    </choices>
    <choices>
        <name>T4</name>
        <choiceText>T4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T4</stringValue>
        </value>
    </choices>
    <choices>
        <name>TEXT_MES</name>
        <choiceText>Première mise en service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Première mise en service</stringValue>
        </value>
    </choices>
    <choices>
        <name>TEXT_Pas_Echeance</name>
        <choiceText>Pas de date d&apos;échéance</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>ch_AccountRecordType</name>
        <label>Est-ce une copropriété</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>assign_EJP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copropriete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copropriete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_copro</targetReference>
            </connector>
            <label>Copropriété</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_DateEcheance</name>
        <label>Choix date échéance correct ?</label>
        <locationX>1062</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>S_Choix_Date_Echeance_Non_Correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Date mal rempli</defaultConnectorLabel>
        <rules>
            <name>ch_DateEcheanceIsCorrect</name>
            <conditionLogic>(1 AND 2 ) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>INPUT_Date_Echeance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TEXT_MES</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INPUT_Date_Echeance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TEXT_MES</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Energie</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>SegmentRT</name>
        <label>SegmentRT</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Cr_ationPDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>defaut</defaultConnectorLabel>
        <rules>
            <name>C1C2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C1_C2</targetReference>
            </connector>
            <label>C1C2</label>
        </rules>
        <rules>
            <name>C3C4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C3_C4</targetReference>
            </connector>
            <label>C3C4</label>
        </rules>
        <rules>
            <name>C5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C5_C5</targetReference>
            </connector>
            <label>C5</label>
        </rules>
        <rules>
            <name>C5_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RTId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Segment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C5_par_d_faut</targetReference>
            </connector>
            <label>C5 Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Energie</name>
        <label>Select Energie</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>RPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>choixElec</defaultConnectorLabel>
        <rules>
            <name>choixGaz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_denergie</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Gaz</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PCE_Screen</targetReference>
            </connector>
            <label>choixGaz</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Fournisseur</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fournisseur__c</picklistField>
        <picklistObject>PDE__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FTA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FTA__c</picklistField>
        <picklistObject>PDE__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickList_Profil</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Profil__c</picklistField>
        <picklistObject>PDE__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickList_Tarif</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tarif__c</picklistField>
        <picklistObject>PDE__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_ACDSignatureDateInFuture</name>
        <dataType>Boolean</dataType>
        <expression>{!input_DateSignature} &gt; TODAY()</expression>
    </formulas>
    <formulas>
        <name>Formula_MES</name>
        <dataType>Boolean</dataType>
        <expression>{!INPUT_MES_PasEcheance} = &apos;Première mise en service&apos;</expression>
    </formulas>
    <interviewLabel>FL010_CreationPDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL010_CreationPDE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cr_ationPDE</name>
        <label>CréationPDE</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignRecordIdToReference>NewPdeId</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_FAULT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Code_Postal__c</field>
            <value>
                <elementReference>input_CodePostal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commentaires__c</field>
            <value>
                <elementReference>Commentaires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateEcheance__c</field>
            <value>
                <elementReference>INPUT_Date_Echeance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_signature_ACD__c</field>
            <value>
                <elementReference>input_DateSignature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntiteJuridique__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fournisseur__c</field>
            <value>
                <elementReference>Fournisseur_actuel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_du_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVoie__c</field>
            <value>
                <elementReference>input_numeroVoie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCE_Refonte__c</field>
            <value>
                <elementReference>PCE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiere_mise_en_service__c</field>
            <value>
                <elementReference>Formula_MES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferencePointEnergie_Refonte__c</field>
            <value>
                <elementReference>Reference_point_d_energie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>Segment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Siret_payeur__c</field>
            <value>
                <elementReference>Siret</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteConsommation__c</field>
            <value>
                <elementReference>Site_de_consommation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarif__c</field>
            <value>
                <elementReference>Tarif</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ville__c</field>
            <value>
                <elementReference>input_Ville</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>voie__c</field>
            <value>
                <elementReference>input_voie</elementReference>
            </value>
        </inputAssignments>
        <object>PDE__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountId</name>
        <label>GetAccountId</label>
        <locationX>1062</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTIdC5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRTId_C1C2</name>
        <label>GetRTId_C1C2</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTId_C3C4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elec_C1C2</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDE__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C1C2_RTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTId_C3C4</name>
        <label>GetRTId_C3C4</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTId_Gaz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elec_C3_C4</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDE__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C3C4_RTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTId_Gaz</name>
        <label>GetRTId_Gaz</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ch_AccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDE_Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDE__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Gaz_RTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTIdC5</name>
        <label>GetRTIdC5</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTId_C1C2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDE_ElecC5</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDE__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C5_RTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cr_ation_d_un_PDE</name>
        <label>Création d&apos;un PDE</label>
        <locationX>1062</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S_DateEchance</targetReference>
        </connector>
        <fields>
            <name>Cr_ation_d_un_PDE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cr_ation_d_un_PDE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_du_Site</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetAccountId.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nom du Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Type_denergie</name>
                    <choiceReferences>Electricite</choiceReferences>
                    <choiceReferences>Gaz</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&apos;énergie</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Commentaires</name>
                    <fieldText>Commentaires</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_ation_d_un_PDE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Site_de_consommation</name>
                    <dataType>String</dataType>
                    <fieldText>Site de consommation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Siret</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetAccountId.Siret__c</elementReference>
                    </defaultValue>
                    <fieldText>Siret (Ne doit pas contenir d&apos;espace)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La taille du SIRET doit être de 14 caractères&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX( {!Siret} ,&quot;^\\d{14,14}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PCE_Screen</name>
        <label>PCE</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenChoixGAZ</targetReference>
        </connector>
        <fields>
            <name>section_Adresse</name>
            <fieldText>Adressse</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>section_Adresse_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_numeroVoie</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Numero_Voie_Input</elementReference>
                    </defaultValue>
                    <fieldText>Numéro de voie</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_Ville</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ville_Input</elementReference>
                    </defaultValue>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>section_Adresse_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_voie</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Voie_Input</elementReference>
                    </defaultValue>
                    <fieldText>Voie</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_CodePostal</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Code_Postal_Input</elementReference>
                    </defaultValue>
                    <fieldText>Code Postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_InformationCompteur</name>
            <fieldText>Information du compteur</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_InformationCompteur_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PCE</name>
                    <dataType>String</dataType>
                    <fieldText>PCE (Ne doit pas contenir d&apos;espace)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La taille du PCE ne doit pas dépasser 14 caractères.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!PCE} ,&quot;^[a-zA-Z0-9_]{1,14}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_InformationCompteur_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tarif</name>
                    <choiceReferences>T1</choiceReferences>
                    <choiceReferences>T2</choiceReferences>
                    <choiceReferences>T3</choiceReferences>
                    <choiceReferences>T4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tarif</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecId</name>
            <extensionName>c:Redirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>NewPdeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RPE</name>
        <label>Référence Point d&apos;énergie</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SegmentRT</targetReference>
        </connector>
        <fields>
            <name>Reference_point_d_energie</name>
            <dataType>String</dataType>
            <fieldText>Référence point d&apos;énergie (Ne doit pas contenir d&apos;espace)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La taille du PCE ne doit pas dépasser 14 caractères.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Reference_point_d_energie} ,&quot;^[a-zA-Z0-9_]{1,14}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Segment</name>
            <choiceReferences>C1</choiceReferences>
            <choiceReferences>C2</choiceReferences>
            <choiceReferences>C3</choiceReferences>
            <choiceReferences>C4</choiceReferences>
            <choiceReferences>C5</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>C5</defaultSelectedChoiceReference>
            <fieldText>Segment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Choix_Date_Echeance_Non_Correct</name>
        <label>Choix date échéance non correct</label>
        <locationX>1546</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_MauvaisChoixDateEcheance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Mauvais choix de date d&apos;échéance&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TEXT_ErrorDateEcheance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Vous devez choisir une date d&apos;échéance &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;OU &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;choisir s&apos;il s&apos;agit d&apos;une première mise en service.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_DateEchance</name>
        <label>Info date d&apos;échéance</label>
        <locationX>1062</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_DateEcheance</targetReference>
        </connector>
        <fields>
            <name>TEXT_InfosCompte</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informations du compte&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_DateEchance_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_DateEchance_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INPUT_Date_Echeance</name>
                    <dataType>Date</dataType>
                    <fieldText>Date d&apos;échéance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_DateEchance_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_DateSignature</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de signature de l&apos;ACD</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Vous ne pouvez pas rentrer une date supérieur à aujourd&apos;hui.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>TODAY() &gt;= {!input_DateSignature}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>INPUT_MES_PasEcheance</name>
            <choiceReferences>TEXT_MES</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ou</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fournisseur_actuel</name>
            <choiceReferences>Fournisseur</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fournisseur actuel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_FAULT</name>
        <label>S_FAULT</label>
        <locationX>1282</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirect</targetReference>
        </connector>
        <fields>
            <name>TEXT_ErrorInsert</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>C1C2_RTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>C3C4_RTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>C5_RTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>choixScreenFTA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Code_Postal_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dp_FtaValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DP_SegmentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Gaz_RTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewPdeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Numero_Voie_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PDE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ProfilGAZ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SegmentElec</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ville_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Voie_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
