force-app/main/default/flows/flow_701aT00000gSnyaQAC_1772169224835.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Determine_CRM_Record_for_Individual_Action_1</name>
        <label>Determine CRM Record for Individual Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionCallPaths>
            <connector>
                <targetReference>Get_Records_2</targetReference>
            </connector>
            <pathName>Lead</pathName>
        </actionCallPaths>
        <actionName>determineCrmRecordForIndv</actionName>
        <actionType>determineCrmRecordForIndv</actionType>
        <connector>
            <targetReference>Send_Email_Message_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>determineCrmRecordForIndv</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Message_Action</name>
        <label>Marketing Cloud - Société info &amp; pharrow - 1shot Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendEmailMessage</actionName>
        <actionType>sendEmailMessage</actionType>
        <connector>
            <targetReference>Wait_Until_Event_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentId</name>
            <value>
                <stringValue>marketing--Default_Content_Workspace.sfdc_cms__email--MCMYT7KDVPMBCEVDI5AC5YOBJH24</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isTemplate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <stringValue>35aaT000002FMNFQA4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clickTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>communicationSubscriptionId</name>
            <value>
                <stringValue>0XlaT000000085dSAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>commSubscriptionChannelTypeId</name>
            <value>
                <stringValue>0eBaT00000005anUAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outreachSourceCodeId</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOfferIds</name>
        </inputParameters>
        <nameSegment>sendEmailMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>true</areMetricsLoggedToDataCloud>
    <dataSpace>default</dataSpace>
    <environments>Default</environments>
    <interviewLabel>Marketing Cloud - Société info &amp; pharrow - 1shot Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Cloud - Société info &amp; pharrow - 1shot Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Marketing Cloud List - Cold Mailing - Prospects Hot</description>
        <name>Add_Lead_to_a_List</name>
        <label>Add Lead to a List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701aT00000gSb9cQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Get_Records_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Marketing Cloud List - Cold Mailing - Prospects Hot</description>
        <name>Copy_1_of_Add_Lead_to_a_List</name>
        <label>Add Lead to a List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701aT00000gSyaaQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Get_Records_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Message_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Lead_Field_value</name>
        <label>Change Lead Field value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Lead_to_a_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qualification_Marketing__c</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_CRM_Record_for_Individual_Action_1</targetReference>
        </connector>
        <dataGraph>Individual_data_graph</dataGraph>
        <object>UnifiedIndividual__dlm</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Once</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-03-05</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <segment>1sgaT0000000253QAA</segment>
        <triggerType>Segment</triggerType>
    </start>
    <status>Draft</status>
    <timeZoneSidKey>Europe/Paris</timeZoneSidKey>
    <waits>
        <name>Wait_Until_Event_1</name>
        <elementSubtype>WaitUntilEvent</elementSubtype>
        <label>Wait Until Open Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Event_Occurs_Wait_Until_Event_1</name>
            <automationEventName>default__trgrOnEmailOpenEngagement</automationEventName>
            <automationEventType>trgrOnEmailOpenEngagement</automationEventType>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Change_Lead_Field_value</targetReference>
            </connector>
            <inputParameters>
                <name>associatedContent</name>
                <value>
                    <elementReference>Send_Email_Message_Action</elementReference>
                </value>
            </inputParameters>
            <label>Event_Occurs_Wait_Until_Event_1</label>
            <recordTriggerType>Create</recordTriggerType>
        </waitEvents>
        <waitEvents>
            <name>Timeout_Wait_Until_Event_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Copy_1_of_Add_Lead_to_a_List</targetReference>
            </connector>
            <label>Timeout_Wait_Until_Event_1</label>
            <offset>4</offset>
            <offsetUnit>Days</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
