force-app/main/default/flows/flow_701aT00000d1dTuQAI_1768982397668.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Message_Action1</name>
        <label>Marketing Cloud - Cold mailing parcours exemple Email (1)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendEmailMessage</actionName>
        <actionType>sendEmailMessage</actionType>
        <connector>
            <targetReference>Wait_Until_Event_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clickTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentId</name>
            <value>
                <stringValue>marketing--Default_Content_Workspace.sfdc_cms__email--MC55XKJCL5KVFD5DGQI6KCRZJ7LY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendEmailMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Message_Action2</name>
        <label>Marketing Cloud - Cold mailing parcours exemple Email (2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendEmailMessage</actionName>
        <actionType>sendEmailMessage</actionType>
        <connector>
            <targetReference>Wait_two_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentId</name>
            <value>
                <stringValue>marketing--Default_Content_Workspace.sfdc_cms__email--MCALAITE2EAFAEJAEVEC5CBITJBQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clickTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outreachSourceCodeId</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOfferIds</name>
        </inputParameters>
        <nameSegment>sendEmailMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Message_Action_3</name>
        <label>Marketing Cloud - Cold mailing parcours exemple Email (3)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendEmailMessage</actionName>
        <actionType>sendEmailMessage</actionType>
        <connector>
            <targetReference>Wait_Until_Email_Open3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentId</name>
            <value>
                <stringValue>marketing--Default_Content_Workspace.sfdc_cms__email--MCWP3SK53YUNCHXNA7INZ6YZGSNU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clickTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outreachSourceCodeId</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOfferIds</name>
        </inputParameters>
        <nameSegment>sendEmailMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>true</areMetricsLoggedToDataCloud>
    <dataSpace>default</dataSpace>
    <environments>Default</environments>
    <experiments>
        <name>Path_Experiment_1</name>
        <label>Path Experiment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <duration>2</duration>
        <durationUnit>Weeks</durationUnit>
        <fallbackMode>BestPerformer</fallbackMode>
        <paths>
            <name>Lyon_Queue</name>
            <connector>
                <targetReference>Get_Hot_Lead_Queue_Lyon</targetReference>
            </connector>
            <label>Lyon Queue</label>
            <percentage>70</percentage>
        </paths>
        <paths>
            <name>Lille_Queue</name>
            <connector>
                <targetReference>Copy_2_of_Get_Hot_Lead_Queue_Lille</targetReference>
            </connector>
            <label>Lille Queue</label>
            <percentage>30</percentage>
        </paths>
        <testGroupPercentage>0</testGroupPercentage>
        <type>Manual</type>
    </experiments>
    <interviewLabel>Marketing Cloud - Cold mailing parcours exemple Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Cloud - Cold mailing parcours exemple Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Delete the campaign Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_2.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701aT00000d1dTuQAI</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Records_2</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Qualification_Marketing_to_Warm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Lead__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Hot_Lead_Queue_Lille</name>
        <label>Get Hot Lead Queue - Lille</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Lead_to_Lille_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Emailing_Hot_Lille</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hot_Lead_Queue_Lyon</name>
        <label>Get Hot Lead Queue - Lyon</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_to_Lyon_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Emailing_Hot_Lyon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeQualificationMarketingtoCold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Lead__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lead_to_Lyon_Queue</name>
        <label>Assign Lead to Lyon Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Records_2.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Hot_Lead_Queue_Lyon.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Qualification_Marketing_to_Hot</name>
        <label>Change Qualification Marketing to Hot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Path_Experiment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Records_2.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qualification_Marketing__c</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Qualification_Marketing_to_Warm</name>
        <label>Change Qualification Marketing to Warm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Message_Action2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Records_2.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qualification_Marketing__c</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>ChangeQualificationMarketingtoCold</name>
        <label>Change Qualification Marketing to Cold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_2.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qualification_Marketing__c</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Assign_Lead_to_Lille_Queue</name>
        <label>Assign Lead to Lille Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Records_2.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_2_of_Get_Hot_Lead_Queue_Lille.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Message_Action1</targetReference>
        </connector>
        <object>UnifiedIndividual__dlm</object>
        <publishSegment>true</publishSegment>
        <schedule>
            <frequency>Once</frequency>
        </schedule>
        <segment>1sgaT000000026fQAA</segment>
        <triggerType>Segment</triggerType>
    </start>
    <status>InvalidDraft</status>
    <waits>
        <name>Wait_two_days</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 2 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Email_Message_Action_3</targetReference>
            </connector>
            <label>el_0</label>
            <offset>2</offset>
            <offsetUnit>Days</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Until_Email_Open3</name>
        <elementSubtype>WaitUntilEvent</elementSubtype>
        <label>Wait Until Email 3 Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Event_Occurs_Wait_Until_Email_3_Open</name>
            <automationEventName>default__trgrOnEmailOpenEngagement</automationEventName>
            <automationEventType>trgrOnEmailOpenEngagement</automationEventType>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Change_Qualification_Marketing_to_Hot</targetReference>
            </connector>
            <inputParameters>
                <name>associatedContent</name>
                <value>
                    <elementReference>Send_Email_Message_Action_3</elementReference>
                </value>
            </inputParameters>
            <label>Event_Occurs_Wait_Until_Email_3_Open</label>
            <recordTriggerType>Create</recordTriggerType>
        </waitEvents>
        <waitEvents>
            <name>Timeout_Wait_Until_Email_3_Open</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Path_Experiment_1</targetReference>
            </connector>
            <label>Timeout_Wait_Until_Email_3_Open</label>
            <offset>2</offset>
            <offsetUnit>Days</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Until_Event_1</name>
        <elementSubtype>WaitUntilEvent</elementSubtype>
        <label>Wait Until Email Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Event_Occurs_Wait_Until_Email_Open</name>
            <automationEventName>default__trgrOnEmailOpenEngagement</automationEventName>
            <automationEventType>trgrOnEmailOpenEngagement</automationEventType>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Copy_1_of_Get_Records_2</targetReference>
            </connector>
            <inputParameters>
                <name>associatedContent</name>
                <value>
                    <elementReference>Send_Email_Message_Action1</elementReference>
                </value>
            </inputParameters>
            <label>Event_Occurs_Wait_Until_Email_Open</label>
            <recordTriggerType>Create</recordTriggerType>
        </waitEvents>
        <waitEvents>
            <name>Timeout_Wait_Until_Email_Open</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Records_2</targetReference>
            </connector>
            <label>Timeout_Wait_Until_Email_Open</label>
            <offset>2</offset>
            <offsetUnit>Days</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
