force-app/main/default/flows/GRDF_Fetch_Data_Manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GRDF_Recuperer_Donnees_PCE_Action</name>
        <label>GRDF - Récupérer Données PCE Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GRDFFetchData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCREEN_DataReceive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCREEN_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pceRecords</name>
            <value>
                <elementReference>DATATABLE_RetrievedPDE.selectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type_action</name>
            <value>
                <elementReference>var_TypeAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GRDFFetchData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Col_PDE</name>
        <label>Assign Col PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_RetrievedPDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_infos_PDE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TypeAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MANUAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Selection_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Col_PDE_Account</name>
        <label>Assign Col PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_RetrievedPDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_infos_PDE_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Selection_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Col_PDE_DDC</name>
        <label>Assign Col PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_RetrievedPDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_infos_PDE_DDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Selection_PDE</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DEC_Ou_est_le_flow</name>
        <label>Ou est le flow ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GET_infos_PDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PDE Page</defaultConnectorLabel>
        <rules>
            <name>ch_Account_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_infos_PDE_Account</targetReference>
            </connector>
            <label>Account Page</label>
        </rules>
        <rules>
            <name>ch_DDC_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_infos_PDE_DDC</targetReference>
            </connector>
            <label>DDC Page</label>
        </rules>
    </decisions>
    <description>Récupère les data techniques et contractuelles d&apos;un ou plusieurs PDEs depuis un screen flow</description>
    <environments>Default</environments>
    <interviewLabel>GRDF Fetch Data Manual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Récupérer les données GRDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_infos_PDE</name>
        <label>Récupérer les infos PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Col_PDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_infos_PDE_Account</name>
        <label>Récupérer les infos PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Col_PDE_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Syndic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GRDF_Statut_Droit_Acces__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande d&apos;accès validée</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_infos_PDE_DDC</name>
        <label>Récupérer les infos PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Col_PDE_DDC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GRDF_Statut_Droit_Acces__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande d&apos;accès validée</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCREEN_DataReceive</name>
        <label>SCREEN_DataReceive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_DataReceive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 176, 79); font-size: 14px;&quot;&gt;La demande de rafraichissement des données a été envoyée avec succès.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous pouvez fermer cet écran.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Disclaimer</name>
        <label>SCREEN_Disclaimer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_Ou_est_le_flow</targetReference>
        </connector>
        <fields>
            <name>TEXT_Disclaimer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Avant de commencer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Pour récupérer les données d&apos;un PDE, ce dernier doit avoir :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Un droit d&apos;accès validé&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Si vous n&apos;avez pas déclarer de droit d&apos;accès pour vos PCEs, merci d&apos;utiliser le bouton &quot;&lt;strong&gt;Déclarer droit d&apos;accès GRDF&lt;/strong&gt;&quot;.&lt;/p&gt;&lt;p&gt;Si vous ne trouvez pas un PDE dans la liste qui s&apos;affichera, c&apos;est qu&apos;il ne remplit pas ces critères.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Fault</name>
        <label>SCREEN_Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;OUPS ! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Selection_PDE</name>
        <label>SCREEN Selection PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GRDF_Recuperer_Donnees_PCE_Action</targetReference>
        </connector>
        <fields>
            <name>DATATABLE_RetrievedPDE</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selectionnez les PDEs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_RetrievedPDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;PDE__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;col_RetrievedPDE&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-32d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom du Site&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TECH_num_compteur__c&quot;,&quot;guid&quot;:&quot;column-fc82&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Numéro compteur&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Numéro de compteur&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;GRDF_Statut_Donnees_Contractuelles__c&quot;,&quot;guid&quot;:&quot;column-cf15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Statut Donnees Contractuelles&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;GRDF: Statut données contractuelles&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GRDF_Erreur_donnees_contractuelles__c&quot;,&quot;guid&quot;:&quot;column-93b1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Erreur Donnees Contractuelles&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;GRDF: Erreur données contractuelles&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GRDF_Statut_Donnees_Techniques__c&quot;,&quot;guid&quot;:&quot;column-262e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Statut Données Techniques&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;GRDF: Statut données techniques&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GRDF_Erreur_donnees_techniques__c&quot;,&quot;guid&quot;:&quot;column-6e4f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Erreur Données Techniques&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;GRDF: Erreur données techniques&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;PDE__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;TECH_num_compteur__c&quot;,&quot;GRDF_Statut_Donnees_Contractuelles__c&quot;,&quot;GRDF_Erreur_donnees_contractuelles__c&quot;,&quot;GRDF_Statut_Donnees_Techniques__c&quot;,&quot;GRDF_Erreur_donnees_techniques__c&quot;],&quot;elementReference&quot;:&quot;col_RetrievedPDE&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCREEN_Disclaimer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_RetrievedPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Mettre &quot;MANUAL&quot; pour synchrone, sinon laisser vide pour Queueable</description>
        <name>var_TypeAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
