force-app/main/default/flows/GRDF_Creation_Droit_Acces.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_Creer_droit_d_acc_s_GRDF</name>
        <label>ACT - Créer droit d&apos;accès GRDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GRDFCreateDroits</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCREEN_OUTPUT_TEST</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pces</name>
            <value>
                <elementReference>DATATABLE_PDEList.selectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userEmail</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GRDFCreateDroits</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Col_PDE</name>
        <label>Assign Col PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_RetrievePDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PDE_Gaz_Eligible_GRDF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Creation_droit_d_acces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Col_PDE_DDC</name>
        <label>Assign Col PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_RetrievePDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PDE_Gaz_Eligible_GRDF_DDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Creation_droit_d_acces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Col_PDESolo</name>
        <label>Assign Col PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_RetrievePDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Creation_droit_d_acces</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Depuis quelle record page le flow a t-il été lancé ?</description>
        <name>DEC_Le_Flow_se_trouve_ou</name>
        <label>Le flow se trouve où ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GET_PDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sur un PDE</defaultConnectorLabel>
        <rules>
            <name>ch_Sur_un_compte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDE_Gaz_Eligible_GRDF</targetReference>
            </connector>
            <label>Sur un compte</label>
        </rules>
        <rules>
            <name>ch_Sur_une_DDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PDE_Gaz_Eligible_GRDF_DDC</targetReference>
            </connector>
            <label>Sur une DDC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GRDF Création Droit Accès {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GRDF Création Droit Accès</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_PDE</name>
        <label>GET PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Col_PDESolo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDE_Gaz_Eligible_GRDF</name>
        <label>GET PDE Gaz Eligible GRDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Col_PDE</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>GRDF_Statut_Droit_Acces__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Demande d&apos;accès validée</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Syndic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ACD_valide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDE_Gaz_Eligible_GRDF_DDC</name>
        <label>GET PDE Gaz Eligible GRDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Col_PDE_DDC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GRDF_Statut_Droit_Acces__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Demande d&apos;accès validée</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypePDE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gaz</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACD_valide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Demande_Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCREEN_Creation_droit_d_acces</name>
        <label>GRDF : Création droit d&apos;accès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ACT_Creer_droit_d_acc_s_GRDF</targetReference>
        </connector>
        <fields>
            <name>DATATABLE_PDEList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_RetrievePDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;PDE__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;col_RetrievePDE&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d5d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom du Site&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PCE_Refonte__c&quot;,&quot;guid&quot;:&quot;column-00a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Réf. Compteur&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;PCE&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GRDF_Statut_Droit_Acces__c&quot;,&quot;guid&quot;:&quot;column-543e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;GRDF Statut&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;GRDF: Statut droit d&apos;accès&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GRDF_Erreur_Droit_Acces__c&quot;,&quot;guid&quot;:&quot;column-b476&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;GRDF: Erreur droit d&apos;accès&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;PDE__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;PCE_Refonte__c&quot;,&quot;GRDF_Statut_Droit_Acces__c&quot;,&quot;GRDF_Erreur_Droit_Acces__c&quot;],&quot;elementReference&quot;:&quot;col_RetrievePDE&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Disclaimer</name>
        <label>SCREEN_Disclaimer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_Le_Flow_se_trouve_ou</targetReference>
        </connector>
        <fields>
            <name>TEXT_Avant_de_commencer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Avant de commencer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Pour déclarer un droit d&apos;accès aux données d&apos;un PDE, ce dernier doit avoir :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Une ACD valide&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Code Postal déjà renseigné&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Être de type Gaz&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Si vous ne trouvez pas un PDE dans la liste qui s&apos;affichera, c&apos;est qu&apos;il ne remplit pas ces critères.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_OUTPUT_TEST</name>
        <label>SCREEN OUTPUT TEST</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEST_OUTPUT</name>
            <fieldText>&lt;p&gt;{!ACT_Creer_droit_d_acc_s_GRDF.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCREEN_Disclaimer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_RetrievePDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
