force-app/main/default/flows/GrilllesFournisseurs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_GrilleFournisseur</name>
        <label>GET Grille fournisseur</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>AP021_GrilleFournisseur</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_ErreurGrilleFournisseur</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_Erreur</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dureeOffre</name>
            <value>
                <elementReference>formula_selectedPickList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fournisseur</name>
            <value>
                <elementReference>GET_quote.Fournisseur__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>margeMwh</name>
            <value>
                <elementReference>formule_input_marge</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP021_GrilleFournisseur</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignation obligatoire pour pouvoir récupérer la valeur de la picklist (Passer par une formule ne marchera pas)</description>
        <name>assign_DureeOffre</name>
        <label>Assignation de la valeur de la picklist</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_picklistTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_picklistHellio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreHellio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_picklistGEG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreGEG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_picklistEngiePro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreEngiePro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_picklistVattenfall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_ChoixOffreVattenfall</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_GrilleFournisseur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Marge</name>
        <label>Assignation de la valeur de la Marge</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_picklist_marge_ekwateur</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Marge_Ekwateur</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_input_marge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Marge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DureeOffre</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_12</name>
        <choiceText>Offre 12 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_24</name>
        <choiceText>Offre 24 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_36</name>
        <choiceText>Offre 36 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_8</name>
        <choiceText>8 à partager</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ch_Fin26</name>
        <choiceText>Fin 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FIN_26</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Fin27</name>
        <choiceText>Fin 2027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FIN_27</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Fin28</name>
        <choiceText>Fin 2028</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FIN_28</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Horizon12</name>
        <choiceText>Horizon 12 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Horizon24</name>
        <choiceText>Horizon 24 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Horizon36</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Horizon 36 mois&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_marge_10</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Marge 10€ à partager (Gaz)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_marge_15</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Marge 15€ à partager (Elec)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_marge_8</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Marge 8€ à partager (Elec)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe12mois</name>
        <choiceText>Offre fixe 12 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12_fixe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe24mois</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre fixe 24 mois&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24_fixe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36mois</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre fixe 36 mois&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisElec10p</name>
        <choiceText>Offre C4 fixe 36 mois 10% (MES)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_10pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisElec15p</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre C4/C5 fixe 36 mois 15%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_15pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisElec20p</name>
        <choiceText>Offre C5 fixe 36 mois 20% (Chgt de fournisseur)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_20pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrefixe36moisGaz5p</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Offre Gaz fixe 36 mois 5%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>36_fixe_5pct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offrenonfixe12mois</name>
        <choiceText>Offre Latitude 12 mois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12_variable</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_ErreurGrilleFournisseur</name>
        <label>Le calcul s&apos;est-il bien passé ?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>S_Erreur2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_CalculOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_GrilleFournisseur.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_Sucess</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_FournisseurDureeEngagement</name>
        <label>Le fournisseur a-t-il un prix par durée d&apos;engagement ?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ACT_GrilleFournisseur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autre</defaultConnectorLabel>
        <rules>
            <name>ch_oui</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TotalEnergies</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GEG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hellio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ekwateur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vattenfall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_ChoixDureeTotal</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_QuoteBienRemplie</name>
        <label>Les dates de début et de fin sont-elles renseignées ?</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>S_ErreurDates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_DatesPresentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_quote.Minimum_date_de_debut__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_quote.Maximum_date_de_fin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_FournisseurDureeEngagement</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <description>Mise à jours du flows</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_selectedPickList</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!var_picklistGEG})),
  {!var_picklistGEG},
  IF(
    NOT(ISBLANK({!var_picklistEngiePro})),
    {!var_picklistEngiePro},
    IF(
      NOT(ISBLANK({!var_picklistVattenfall})),
      {!var_picklistVattenfall},
      IF(
        NOT(ISBLANK({!var_picklistTotal})),
        {!var_picklistTotal},
        IF(
          NOT(ISBLANK({!var_picklistHellio})),
          {!var_picklistHellio},
          null
        )
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>formule_input_marge</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!GET_quote.Fournisseur__c} = &quot;Ekwateur&quot;,
    VALUE({!var_picklist_marge_ekwateur}),
    {!var_input_marge}
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Grilles Fournisseurs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grilles Fournisseurs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_quote</name>
        <label>GET Quote</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_QuoteBienRemplie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Quote</name>
        <label>Mise à jour de la grille</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calcul_grille__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>S_ChoixDureeTotal</name>
        <label>Selection de la durée de l&apos;offre</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_Marge</targetReference>
        </connector>
        <fields>
            <name>Section_DureeTotal</name>
            <fieldText>Sélectionner la durée de l&apos;offre</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_DureeTotal_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist_ChoixOffreTotal</name>
                    <choiceReferences>ch_Horizon12</choiceReferences>
                    <choiceReferences>ch_Horizon24</choiceReferences>
                    <choiceReferences>ch_Horizon36</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_Horizon36</defaultSelectedChoiceReference>
                    <fieldText>Choix de la durée de l&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TotalEnergies</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreHellio</name>
                    <choiceReferences>ch_12</choiceReferences>
                    <choiceReferences>ch_24</choiceReferences>
                    <choiceReferences>ch_Fin26</choiceReferences>
                    <choiceReferences>ch_Fin27</choiceReferences>
                    <choiceReferences>ch_Fin28</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_12</defaultSelectedChoiceReference>
                    <fieldText>Choix de la durée de l&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hellio</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreGEG</name>
                    <choiceReferences>ch_12</choiceReferences>
                    <choiceReferences>ch_24</choiceReferences>
                    <choiceReferences>ch_36</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_12</defaultSelectedChoiceReference>
                    <fieldText>Choix de la durée de l&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>GEG</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreEngiePro</name>
                    <choiceReferences>Offrefixe12mois</choiceReferences>
                    <choiceReferences>Offrefixe24mois</choiceReferences>
                    <choiceReferences>Offrefixe36moisElec20p</choiceReferences>
                    <choiceReferences>Offrefixe36moisElec15p</choiceReferences>
                    <choiceReferences>Offrefixe36moisElec10p</choiceReferences>
                    <choiceReferences>Offrefixe36moisGaz5p</choiceReferences>
                    <choiceReferences>Offrenonfixe12mois</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Offrefixe12mois</defaultSelectedChoiceReference>
                    <fieldText>Choix du type d&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Engie</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_DureeTotal_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Marge</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Entrer une marge en €/Mwh</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La marge est hors limite&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(AND({!GET_quote.Fournisseur__c} = &apos;GEG&apos;,{!input_Marge} &lt;=25,{!input_Marge} &gt;=0),AND({!GET_quote.Fournisseur__c} = &apos;Hellio&apos;,{!input_Marge} &lt;=20,{!input_Marge} &gt;=0))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>GEG</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hellio</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>input_Marge_Ekwateur</name>
                    <choiceReferences>ch_marge_8</choiceReferences>
                    <choiceReferences>ch_marge_15</choiceReferences>
                    <choiceReferences>ch_marge_10</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Entrer une marge en €/Mwh</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ekwateur</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Picklist_ChoixOffreVattenfall</name>
                    <choiceReferences>ch_24</choiceReferences>
                    <choiceReferences>ch_36</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ch_24</defaultSelectedChoiceReference>
                    <fieldText>Choix de la durée de l&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_quote.Fournisseur__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Vattenfall</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Disclaimer</name>
        <label>Screen disclaimer</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_quote</targetReference>
        </connector>
        <fields>
            <name>TEXT_DureeEngagementObligatoire</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;Attention !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Il faut renseigner une &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;durée d&apos;engagement&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; sur tous les éléments de devis.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Erreur</name>
        <label>Screen erreur calcul</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEXT_ErreurCalcul</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;Erreur du flux !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Erreur2</name>
        <label>Erreur lors du calcul de la grille fournisseur</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ErreurCalcul2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;Erreur lors du calcul de la grille fournisseur &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;﻿&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!ACT_GrilleFournisseur.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_ErreurDates</name>
        <label>Screen Erreur dates</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ErreurDates</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Oups !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Il manque une &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;durée d&apos;engagement&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; sur l&apos;un des éléments de devis.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Sucess</name>
        <label>Le calcul s&apos;est bien passé</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPDATE_Quote</targetReference>
        </connector>
        <fields>
            <name>TEXT_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(21, 176, 54);&quot;&gt;Félicitations !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ACT_GrilleFournisseur.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_Disclaimer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_input_marge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_picklist_marge_ekwateur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_picklistEngiePro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_picklistGEG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_picklistHellio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_picklistTotal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_picklistVattenfall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
