force-app/main/default/flows/Initialisation_Optimisation_TURPE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Ajouter_la_QLI_la_collection</name>
        <label>Ajouter la QLI à la collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCol_QLIToUpd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_newQLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount_NewQLICreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_OPR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Nouvelle_QLI</name>
        <label>Nouvelle QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_newQLI.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_newQLI.PDE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_OPR.PDE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_newQLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ProductByPDEType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_newQLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_PriceBookEntryIdByPDEType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_newQLI.Opportunit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_newQLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_newQLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Ajouter_la_QLI_la_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Quote_Nouvellement_Creee</name>
        <label>Quote Nouvellement Créée</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_QuoteNouvellementCreee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_QLI_Existantes</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FILTER_Filtre_QLI_par_Compteur</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtre QLI par Compteur</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FILTER_Filtre_QLI_par_Compteur</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GET_QLI_Existantes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FILTER_Filtre_QLI_par_Compteur.PDE__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_OPR.PDE__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DEC_QLI_Existe_pour_cette_OPR</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DEC_Compteur_Eligible</name>
        <label>Compteur Eligible ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_OPR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_Compteur_Eligible_Oui</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_OPR.PDE__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDE_Gaz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOOP_OPR.PDE__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDE_ElecC5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOOP_OPR.PDE__r.Taux_puissance_souscrite_utilisee__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOOP_OPR.PDE__r.Taux_puissance_souscrite_utilisee__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Nouvelle_QLI</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_QLI_Existe_pour_cette_OPR</name>
        <label>QLI Existe pour cette OPR ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_OPR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>DEC_QLI_Existe_pour_cette_OPR_Aucune_QLI_existante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FILTER_Filtre_QLI_par_Compteur</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Compteur_Eligible</targetReference>
            </connector>
            <label>Aucune QLI existante</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Quote_TURPE_trouvee</name>
        <label>Quote TURPE trouvée ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CREATE_Quote_TURPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DEC_Quote_TURPE_trouvee_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTQuoteId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_QLI_Existantes</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Statut</name>
        <label>Statut ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Cr_ation_des_QLI_Aucun_changement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de nouvelles QLI</defaultConnectorLabel>
        <rules>
            <name>DEC_Statut_Nouvelle_Quote_sans_QLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_QuoteNouvellementCreee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCount_NewQLICreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_Empty_Quote</targetReference>
            </connector>
            <label>Nouvelle Quote sans QLI</label>
        </rules>
        <rules>
            <name>DEC_Statut_Nouvelle_Quote_avec_QLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_QuoteNouvellementCreee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCount_NewQLICreated</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Creation_des_QLI_Succes</targetReference>
            </connector>
            <label>Nouvelle Quote avec QLI</label>
        </rules>
        <rules>
            <name>DEC_Statut_Ajout_QLI_dans_Quote_Existante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_QuoteNouvellementCreee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCount_NewQLICreated</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Ajout_des_QLI_sur_Quote_Existante_Succes</targetReference>
            </connector>
            <label>Ajout QLI dans Quote Existante</label>
        </rules>
    </decisions>
    <description>Screen Flow permettant de créer une nouvelle Quote de type Optimisation TURPE avec ces QLI par compteurs liés à cette opportunité. Si une Quote de type &apos;Optimisation TURPE&apos; existe déjà alors on va chercher si de nouveaux PDE sont disponibles et les rajouter à cette même Quote si besoin.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_PriceBookEntryIdByPDEType</name>
        <dataType>String</dataType>
        <expression>IF(
  {!LOOP_OPR.PDE__r.TypePDE__c} = &quot;Gaz&quot;,
  {!GET_Product_Gaz.Id},
  {!GET_Product_Elec.Id}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_ProductByPDEType</name>
        <dataType>String</dataType>
        <expression>IF(
  {!LOOP_OPR.PDE__r.TypePDE__c} = &quot;Gaz&quot;,
  {!GET_Product_Gaz.Product2Id},
  {!GET_Product_Elec.Product2Id}
)</expression>
    </formulas>
    <interviewLabel>Initialisation Optimisation TURPE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initialisation Optimisation TURPE</label>
    <loops>
        <name>LOOP_OPR</name>
        <label>LOOP OPR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_OPR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FILTER_Filtre_QLI_par_Compteur</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE_QLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_QLI</name>
        <label>Create QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Statut</targetReference>
        </connector>
        <inputReference>varCol_QLIToUpd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Quote_TURPE</name>
        <label>Create Quote TURPE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varTQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>ASSIGN_Quote_Nouvellement_Creee</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_de_fin_de_contrat__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsOptimisationTURPE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Optimisation TURPE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GET_Pricebook2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordDeletes>
        <name>DELETE_Empty_Quote</name>
        <label>Delete Empty Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Cr_ation_des_QLI_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOptimisationTURPE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
    </recordDeletes>
    <recordLookups>
        <name>GET_OPR</name>
        <label>Get OPR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Pricebook2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityPDERelation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PDE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Pricebook2</name>
        <label>Get Pricebook2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Product_Elec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AllianceDesEnergies</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Product_Elec</name>
        <label>Get Product (Elec)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Product_Gaz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Pricebook2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ELEC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Product_Gaz</name>
        <label>Get Product (Gaz)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Quote_TURPE_trouvee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Pricebook2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GAZ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_QLI_Existantes</name>
        <label>Get QLI Existante(s) ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_OPR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PDE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_QUOTE</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_OPR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOptimisationTURPE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>varTQuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Cr_ation_des_QLI_Info</name>
        <label>Création des QLI - Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_CreateQLIInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(183, 28, 28);&quot;&gt;⚠️ Aucun point de livraison n’est éligible à une Optimisation TURPE pour cette opportunité.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(183, 28, 28);&quot;&gt;Aucun devis n’a été conservé.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Ajout_des_QLI_sur_Quote_Existante_Succes</name>
        <label>Ajout des QLI sur Quote Existante - Succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DT_CreateQLISucces</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(27, 94, 32); font-size: 16px;&quot;&gt;✅ &lt;/strong&gt;&lt;strong style=&quot;color: rgb(27, 94, 32); font-size: 16px;&quot;&gt;De nouvelles lignes de devis ont été ajoutées sur l&apos;optimisation TURPE existante &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Cr_ation_des_QLI_Aucun_changement</name>
        <label>Création des QLI - Aucun changement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_CreateQLIAucunChangement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(69, 90, 100); font-size: 16px;&quot;&gt;ℹ️ Aucun nouveau point de livraison n’était éligible. Le devis existant reste inchangé.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Creation_des_QLI_Succes</name>
        <label>Création des QLI - Succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_CreateQLISucces</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(27, 94, 32);&quot;&gt;✅ Une nouvelle quote Optimisation TURPE a été créée avec ses lignes de devis associées.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_QUOTE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FILTER_Filtre_QLI_par_Compteur</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_QuoteNouvellementCreee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCol_QLIToUpd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varCount_NewQLICreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_newQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varTQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
