force-app/main/default/flows/Lead_BEFORE_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Avant_2025</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2025-01-01</dateValue>
        </value>
    </constants>
    <decisions>
        <name>DEC_AEPartenaireID</name>
        <label>AE Partenaire ID ?</label>
        <locationX>501</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>DEC_TCHElliSiretVide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AE_PartenaireId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_ApporteurAffaires</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_TCHElliSiretVide</name>
        <label>Siret OK, Elli Siret KO ?</label>
        <locationX>501</locationX>
        <locationY>2087</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_TCHElliSiretVide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Siret__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_ELLISPHERE_Elli_Siret</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <description>Pour savoir si le statut de la piste a changé ou pas</description>
        <name>DEC_UpdateLastModifiedStatusDate</name>
        <label>Est ce que le statut a été changé ?</label>
        <locationX>501</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Est_ce_la_piste_est_une_piste_prospection_t_l_phonique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_LastModifiedStatusDate</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_la_piste_est_une_piste_prospection_t_l_phonique</name>
        <label>Est-ce la piste est une piste prospection téléphonique ?</label>
        <locationX>501</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>UPDATE_TECH_AA_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospection téléphonique</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Est_ce_une_cr_ation</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_que_c_est_le_premier_appel_passer</name>
        <label>Est-ce que c&apos;est le premier appel passer ?</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Est_ce_que_l_on_vient_de_prendre_un_RDV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_1erAppel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nombre_appel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Status</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_que_l_on_vient_de_prendre_un_RDV</name>
        <label>Est-ce que l&apos;on vient de prendre le premier RDV ?</label>
        <locationX>446</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>UPDATE_TECH_AA_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>RDV_Pris</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDV commercial pris</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Date_1er_RDVPris__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Date_Premier_RDV</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_une_cr_ation</name>
        <label>Est-ce une création ?</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Est_ce_que_c_est_le_premier_appel_passer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, c&apos;est une mise à jour</defaultConnectorLabel>
        <rules>
            <name>ch_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Commentaire</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Boolean_Updated</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISBLANK(TEXT($Record__Prior.Status)),
TEXT($Record.Status) &lt;&gt; TEXT($Record__Prior.Status)
)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead BEFORE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead BEFORE Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UPDATE_AE_PartenaireId</name>
        <label>UPDATE AE_PartenaireId__c</label>
        <locationX>369</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>DEC_TCHElliSiretVide</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_PartenaireId__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Récupère la valeur de AE_PartenaireId__c et le colle dans Apporteur_affaires__c</description>
        <name>UPDATE_ApporteurAffaires</name>
        <label>UPDATE Apporteur_affaires__c</label>
        <locationX>369</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>UPDATE_AE_PartenaireId</targetReference>
        </connector>
        <inputAssignments>
            <field>Apporteur_affaires__c</field>
            <value>
                <elementReference>$Record.AE_PartenaireId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Commentaire</name>
        <label>UPDATE Commentaire</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>UPDATE_TECH_AA_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Commentaires__c</field>
            <value>
                <stringValue>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Date :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Action :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Commentaire :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Date :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Action :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Commentaire :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Date :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Action :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Commentaire :&lt;/strong&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Date_Premier_RDV</name>
        <label>UPDATE Date premier RDV</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>UPDATE_TECH_AA_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_appel__c</field>
            <value>
                <stringValue>Répond</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Date_1er_RDVPris__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_ELLISPHERE_Elli_Siret</name>
        <label>UPDATE ELLISPHERE__Elli_Siret__c</label>
        <locationX>369</locationX>
        <locationY>2195</locationY>
        <inputAssignments>
            <field>ELLISPHERE__Elli_Siret__c</field>
            <value>
                <elementReference>$Record.Siret__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELLISPHERE__Elli_TCH_CountryCode__c</field>
            <value>
                <stringValue>FRA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_LastModifiedStatusDate</name>
        <label>UPDATE LastModifiedStatusDate</label>
        <locationX>369</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Est_ce_la_piste_est_une_piste_prospection_t_l_phonique</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Modified_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Status</name>
        <label>UPDATE Status</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Est_ce_que_l_on_vient_de_prendre_un_RDV</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours de prospection</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_TECH_AA_Name</name>
        <label>UPDATE TECH AA Name</label>
        <locationX>501</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>DEC_AEPartenaireID</targetReference>
        </connector>
        <inputAssignments>
            <field>TECH_AA_Name__c</field>
            <value>
                <elementReference>$Record.Apporteur_affaires__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_UpdateLastModifiedStatusDate</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
