force-app/main/default/flows/Lead_AFTER_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AssignmentRule</name>
        <label>Activer l&apos;assignement Rule</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>invocableApplyLeadAssignmentRules</actionName>
        <actionType>invocableApplyLeadAssignmentRules</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>invocableApplyLeadAssignmentRules</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>EA_NotifOwner</name>
        <label>EA_NotifOwner</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <actionName>Lead.Account_Engagement_update_lead_existante</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Account_Engagement_update_lead_existante</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EA_NotifOwner_Peps</name>
        <label>EA_NotifOwner_Peps</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <actionName>Lead.B2BMA_update_piste_PEPS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.B2BMA_update_piste_PEPS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Rerun_Lead_Assign_Rules</name>
        <label>Rerun Lead Assign Rules</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <actionName>AP024_ApplyLeadAssignmentRules</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP024_ApplyLeadAssignmentRules</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SEND_Email</name>
        <label>SEND Email to Lead Owner</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record__Prior.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Votre piste a montré un nouvel intérêt </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!TT_Body_Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DEC_Achat_groupe</name>
        <label>Achat groupé ?</label>
        <locationX>1040</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>DEC_quelle_demande</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Achat_groupe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Achat_groupe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Responsable_achat_group_trouve</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_B2BMA_Update_Date</name>
        <label>B2BMA Update Date demande?</label>
        <locationX>1469</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>CH_B2BMA_completionform</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2BMA Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_la_derniere_demande__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Formulaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Formulaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Achat_groupe</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CompletionFormReactivation</name>
        <label>B2BMA complétion formulaire réactivation ?</label>
        <locationX>825</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>DEC_B2BMA_Update_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>CH_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_formulaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emailing - Réactivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2BMA Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_la_derniere_demande__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Raison_de_l_abandon</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_quelle_demande</name>
        <label>De quelle demande s&apos;agit t-il ?</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Rerun_Lead_Assign_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>CH_demande_ADE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formulaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_NotifOwner</targetReference>
            </connector>
            <label>Demande ADE</label>
        </rules>
        <rules>
            <name>CH_demande_peps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formulaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_NotifOwner_Peps</targetReference>
            </connector>
            <label>Demande PEPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Responsable_achat_group_trouve</name>
        <label>Responsable achat groupé trouvé ?</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Responsable_achat_group_trouve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsable_achat_groupe__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Responsable_achat_groupe</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_que_le_lead_est_cr_e_avant_2025</name>
        <label>Est-ce que le lead est crée avant 2025 ?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>SEND_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Après 2025</defaultConnectorLabel>
        <rules>
            <name>Avant_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateTimeValue>2024-12-31T23:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACT_AssignmentRule</targetReference>
            </connector>
            <label>Avant 2025</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DemandetypeTEMP</name>
        <dataType>String</dataType>
        <expression>&quot;Chemin Rerun pris - Valeur Formulaire : &quot; + {!$Record.Formulaire__c}</expression>
    </formulas>
    <interviewLabel>Lead AFTER Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead AFTER B2BMA Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Owner_Responsable_achat_groupe</name>
        <label>Owner = Responsable achat groupé</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Responsable_achat_groupe__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Raison_de_l_abandon</name>
        <label>Update Status &amp; Raison de l&apos;abandon</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Est_ce_que_le_lead_est_cr_e_avant_2025</targetReference>
        </connector>
        <inputAssignments>
            <field>RaisonAbandon__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_CompletionFormReactivation</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Template Email envoyé à l&apos;owner de la piste suite à la complétion du formulaire de réactivation</description>
        <name>TT_Body_Email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Owner:User.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;La piste &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;  a complété un formulaire du site dans le cadre de la &lt;strong&gt;campagne de réactivation des pistes et comptes&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://alliancedesenergies.lightning.force.com/lightning/r/Lead/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Lien vers votre piste &lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Body_Email2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.FirstName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre piste &lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt; vient de faire une demande PEP&apos;S&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://alliancedesenergies.lightning.force.com/lightning/r/Lead/{!$Record.URL_page_origine__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cliquez ici pour voir le service PEP&apos;S demandé.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez vous approcher de Mathilde Huber pour plus de détails.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://alliancedesenergies.lightning.force.com/lightning/r/Lead/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Lien vers votre piste.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>ListRecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
