force-app/main/default/flows/Lead_Prospection_Tel_Create_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DEC_Ancien_RDV_Trouve</name>
        <label>Ancien RDV Trouvé ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Ancien_RDV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_Supprimer_l_ancien_RDV</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Nouvelle_Piste_ou_MAJ</name>
        <label>Nouvelle Piste ou MAJ ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GET_Ancien_RDV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MAJ</defaultConnectorLabel>
        <rules>
            <name>ch_Nouvelle_Piste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_Boolean_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event</targetReference>
            </connector>
            <label>Nouvelle Piste</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_Boolean_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Ajoute 1h à la date de RDV R1.</description>
        <name>formula_DateTime_FinRDV</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Date_RDV_R1__c} + (60/1440)</expression>
    </formulas>
    <formulas>
        <description>Ajoute le nom de la piste + &quot;RDV R1&quot;</description>
        <name>formula_TEXT_DescriptionEvent</name>
        <dataType>String</dataType>
        <expression>&quot;RDV R1 - &quot; + {!$Record.Company} + &quot; - &quot; + TEXT({!$Record.Salutation}) + &quot; &quot; + {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Lead Prospection Tel - Create Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Prospection Tel - Create Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formula_TEXT_DescriptionEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>formula_DateTime_FinRDV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventSubtype</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Date_RDV_R1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>RDV R1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DELETE_Supprimer_l_ancien_RDV</name>
        <label>Supprimer l&apos;ancien RDV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputReference>GET_Ancien_RDV</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GET_Ancien_RDV</name>
        <label>GET Ancien RDV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Ancien_RDV_Trouve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RDV R1</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Nouvelle_Piste_ou_MAJ</targetReference>
        </connector>
        <filterFormula>AND(
   ISPICKVAL({!$Record.LeadSource}, &quot;Prospection téléphonique hebdomadaire&quot;),
   NOT(ISBLANK({!$Record.Date_RDV_R1__c})),
   OR(
      ISNEW(),
      ISCHANGED({!$Record.Date_RDV_R1__c})
   )
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
