force-app/main/default/flows/MassRefreshSite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>X02_RefreshSiteFromEnedis</name>
        <label>02_RefreshSiteFromEnedis</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <actionName>SGEManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddResultToList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenKO</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>X01_ForAllSite</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SGEManager</nameSegment>
        <outputParameters>
            <assignToReference>currentPDEResult.messageConsulterMesure</assignToReference>
            <name>messageConsulterMesure</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>currentPDEResult.messageConsulterPoint</assignToReference>
            <name>messageConsulterPoint</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>currentPDEResult.messageUpdate</assignToReference>
            <name>messageUpdate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>currentPDEResult.siteName</assignToReference>
            <name>siteName</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddResultToList</name>
        <label>AddResultToList</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>pdeResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentPDEResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X01_ForAllSite</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>MassRefreshSite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MassRefreshSite</label>
    <loops>
        <name>X01_ForAllSite</name>
        <label>01_ForAllSite</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X02_RefreshSiteFromEnedis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResultOK</name>
            <fieldText>&lt;p&gt;Résultat du rafraichissement des informations :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>tableResult</name>
            <extensionName>c:enedisResultDataTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{label: &quot;Nom du site&quot;,fieldName: &quot;siteName&quot;},{label: &quot;resultat&quot;,fieldName: &quot;message&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>pdeResult</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenKO</name>
        <label>ScreenKO</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>messageFault</name>
            <fieldText>&lt;p&gt;Erreur : &lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X01_ForAllSite</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentPDEResult</name>
        <apexClass>WrapPDEInfoEnedis</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pdeResult</name>
        <apexClass>WrapPDEInfoEnedis</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
