force-app/main/default/flows/ModifierListePDEContrat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APEX_GeneratePrixContratPDE</name>
        <label>Générér prix contrat PDE</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <actionName>AP017_GeneratePrixContratPDE</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_PrixContractPDECreated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ContractId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ListQLIFromFlow</name>
            <value>
                <elementReference>dataTable_ListeQLIToAdd.selectedRows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP017_GeneratePrixContratPDE</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_NumeroCompteur</name>
        <label>On ajout le numéro de compteur</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>col_numCompteurOnContrat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PDEOnContrat.Numero_compteur__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PDEOnContrat</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter</name>
        <choiceText>Ajouter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ajouter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supprimer</name>
        <choiceText>Supprimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supprimer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_AddOrDeletePDE</name>
        <label>Ajouter ou supprimer des points d&apos;énergies ?</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>S_ChoicePDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supprimer</defaultConnectorLabel>
        <rules>
            <name>ch_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ajouter</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_DisclaimerAdd</targetReference>
            </connector>
            <label>Ajouter</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PrixContractPDECreated</name>
        <label>Prix Contrat PDE créés ?</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>S_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_PrixContractPDECreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APEX_GeneratePrixContratPDE.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_success</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Modifier liste PDE contrat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modifier liste PDE contrat</label>
    <loops>
        <name>loop_PDEOnContrat</name>
        <label>On parcours les PDE déjà sur le contrat</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>GET_PDEOnContrat</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_NumeroCompteur</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DELETE_PrixContratPDE</name>
        <label>On supprime les pde du contrat</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>S_ErrorDeletePrixContratPDE</targetReference>
        </faultConnector>
        <inputReference>dataTable_ListePDEToDelete.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GET_Contrat</name>
        <label>On récupère le contrat</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PDEOnContrat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Opportunity</name>
        <label>On récupère toutes les opp du compte</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_SelectOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contrat.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEOnContrat</name>
        <label>On récupère tous les PDE du contrat</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_AddOrDeletePDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prix_contrat_PDE__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Numero_compteur__c</queriedFields>
        <queriedFields>CAR__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>Tarif__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Quote</name>
        <label>On récupère les devis de l&apos;opportunité choisie</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_SelectQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_ListeOppToSelect.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_QuoteLineItem</name>
        <label>On récupère les lignes de devis</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_SelectQLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dataTable_ListeQuoteToSelect.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_PdeReference__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>col_numCompteurOnContrat</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>S_ChoicePDE</name>
        <label>Choix supprimer les PDE</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DELETE_PrixContratPDE</targetReference>
        </connector>
        <fields>
            <name>dataTable_ListePDEToDelete</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Prix_contrat_PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liste des PDE présent sur le contrat</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_PDEOnContrat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Numero_compteur__c&quot;,&quot;guid&quot;:&quot;column-bbc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Numéro de compteur&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CAR__c&quot;,&quot;guid&quot;:&quot;column-b6f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;CAR&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Segment__c&quot;,&quot;guid&quot;:&quot;column-fcd6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Segment&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tarif__c&quot;,&quot;guid&quot;:&quot;column-307e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Tarif&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_ChoixAction</name>
        <label>Ajouter ou supprimer PDE ?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_Contrat</targetReference>
        </connector>
        <fields>
            <name>RB_ActionChoice</name>
            <choiceReferences>Ajouter</choiceReferences>
            <choiceReferences>Supprimer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Souhaitez vous ajouter ou supprimer des points d&apos;énergies</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_DisclaimerAdd</name>
        <label>Disclaimer ajout PDE</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_PDEOnContrat</targetReference>
        </connector>
        <fields>
            <name>TEXT_DisclaimerAdd</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Attention, pour ajouter un PDE sur un contrat il faut que ce PDE soit présent dans au moins une opportunité.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Error</name>
        <label>Error screen</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(173, 54, 46);&quot;&gt;Oups !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Une erreur s&apos;est produite : {!APEX_GeneratePrixContratPDE.message}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contactez votre Admin Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_ErrorDeletePrixContratPDE</name>
        <label>Erreur lors de la suppression des PDE</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TEXT_ErrorDeletePrixContratPDE</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;color: rgb(173, 54, 46); font-size: 16px;&quot;&gt;Oups !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Une erreur s&apos;est produite : &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Contactez votre Admin Salesforce.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_SelectOpp</name>
        <label>Choix Opp</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_Quote</targetReference>
        </connector>
        <fields>
            <name>TEXT_ChoixOpp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Choisissez l&apos;opportunité qui contient les points d&apos;énergie que vous souhaitez ajoutés.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_ListeOppToSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liste des opportunités du compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aad5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Nombre_de_PDE__c&quot;,&quot;guid&quot;:&quot;column-bed2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre de PDE&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;ChoixFournisseurs__c&quot;,&quot;guid&quot;:&quot;column-ca85&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Choix Fournisseurs&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_SelectQLI</name>
        <label>Choix ligne de devis</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APEX_GeneratePrixContratPDE</targetReference>
        </connector>
        <fields>
            <name>TEXT_ChoixQLI</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choisissez les points d&apos;énergie que vous souhaitez ajoutés.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dataTable_ListeQLIToAdd</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liste des PDE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_QuoteLineItem</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;TECH_PdeReference__c&quot;,&quot;guid&quot;:&quot;column-9771&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Numéro de compteur&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Numéro de compteur&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CAR_New__c&quot;,&quot;guid&quot;:&quot;column-2396&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CAR Elec&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;CAR&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CARGaz__c&quot;,&quot;guid&quot;:&quot;column-beb8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CAR Gaz&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;CAR&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TECH_nom_site__c&quot;,&quot;guid&quot;:&quot;column-19f6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nom du site&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;TECH nom du site&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_SelectQuote</name>
        <label>Choix devis</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_QuoteLineItem</targetReference>
        </connector>
        <fields>
            <name>TEXT_ChoixDevis</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choisissez le devis qui contient les points d&apos;énergie que vous souhaitez ajoutés.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dataTable_ListeQuoteToSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Quote</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liste des devis de l&apos;opportunité</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>GET_Quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Fournisseur__c&quot;,&quot;guid&quot;:&quot;column-a837&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Fournisseur&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TypeOffre__c&quot;,&quot;guid&quot;:&quot;column-200b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type d&apos;Offre&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-4c18&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_success</name>
        <label>Bravo !</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_SuccessAdd</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 204, 102); font-size: 16px;&quot;&gt;Les PDE ont bien été ajoutés au contrat !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_ChoixAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_numCompteurOnContrat</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
