force-app/main/default/flows/News_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_Creation</name>
        <label>Notification Création</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Col_UserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TextTemplate_CreatedNewsTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TextTemplate_NewsBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_MAJ</name>
        <label>Notification MAJ</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Col_UserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TextTemplate_MAJNewsTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TextTemplate_NewsBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_UserIds</name>
        <label>ASSIGN : UserIds</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Col_UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Get_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Get_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_New_or_Update</name>
        <label>Création ou MAJ ?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Notification_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Création</defaultConnectorLabel>
        <rules>
            <name>ch_MAJ</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_MAJ</targetReference>
            </connector>
            <label>MAJ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>News Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>News Notifications</label>
    <loops>
        <name>LOOP_Get_Ids</name>
        <label>LOOP : Get Ids</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>GET_All_active_users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_UserIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_New_or_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_All_active_users</name>
        <label>GET : All active users</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Get_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Notification_Type</name>
        <label>GET : Notification Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_All_active_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>News_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Notification_Type</targetReference>
        </connector>
        <filterFormula>OR (
ISNEW(),
ISCHANGED({!$Record.Name})
)</filterFormula>
        <object>News__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate_CreatedNewsTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nouvelle actu : {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_MAJNewsTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Actu mise à jour : {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_NewsBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cliquez ici pour la voir.</text>
    </textTemplates>
    <variables>
        <name>Col_UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
