force-app/main/default/flows/Quote_API_Callback_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Demande_Action_Manuelle</name>
        <label>Envoi d&apos;email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Email.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>tech@alliancedesenergies.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>formula_Email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>template_Demande_Action_Manuelle_Body_HTML</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Demande_Rejetee</name>
        <label>Envoi d&apos;email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Email.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>tech@alliancedesenergies.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>formula_Email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>template_Demande_Rejetee_Body_HTML</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Demande_Validee</name>
        <label>Envoi d&apos;email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Email.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>tech@alliancedesenergies.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>formula_Email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>template_Demande_Validee_Body_HTML</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Email_Error_Process_Mulesoft</name>
        <label>Envoi d&apos;email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Email.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>tech@alliancedesenergies.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>formula_Email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>template_Erreur_Process_Mulesoft</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DEC_Status_Update</name>
        <label>Quel est le nouveau statut ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Autres statuts</defaultConnectorLabel>
        <rules>
            <name>ch_Demande_prix_validee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Api_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de prix validée par le fournisseur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Demande_Validee</targetReference>
            </connector>
            <label>Demande de prix validée par le fournisseur</label>
        </rules>
        <rules>
            <name>ch_Demande_prix_rejetee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Api_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de prix rejetée par le fournisseur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Demande_Rejetee</targetReference>
            </connector>
            <label>Demande de prix rejetée par le fournisseur</label>
        </rules>
        <rules>
            <name>ch_Erreur_Procces_Mulesoft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Api_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erreur Process Mulesoft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Error_Process_Mulesoft</targetReference>
            </connector>
            <label>Erreur Procces Mulesoft</label>
        </rules>
        <rules>
            <name>ch_Demande_prix_action_manuelle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Api_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de prix en attente d&apos;action manuelle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Demande_Action_Manuelle</targetReference>
            </connector>
            <label>Demande de prix en attente d&apos;action manuelle</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Récupère la base url de l&apos;environnement (sandbox ou prod)</description>
        <name>formula_BaseURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Org_Base_URL}</expression>
    </formulas>
    <formulas>
        <name>formula_Email_subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &quot; : &quot; + TEXT({!$Record.Api_status__c})</expression>
    </formulas>
    <formulas>
        <description>URL complète du quote</description>
        <name>formula_QuoteURL</name>
        <dataType>String</dataType>
        <expression>{!formula_BaseURL} &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Quote : API Callback Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote : API Callback Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Email</name>
        <label>Get User Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Status_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Api_status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>template_Demande_Action_Manuelle_Body_HTML</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Fournisseur__c} a besoin que vous fassiez &lt;strong style=&quot;color: rgb(255, 102, 0);&quot;&gt;une action manuelle&lt;/strong&gt; pour le quote : &lt;strong&gt;{!$Record.Name}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Message du fournisseur :&lt;/p&gt;&lt;p&gt;{!$Record.Api_error_message__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pour accéder au quote, veuillez &lt;a href=&quot;{!formula_QuoteURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;cliquez ici&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;&lt;p&gt;L’équipe Salesforce.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template_Demande_Rejetee_Body_HTML</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Fournisseur__c} a &lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;rejeté votre demande de prix&lt;/strong&gt; pour le quote : &lt;strong&gt;{!$Record.Name}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Message du fournisseur :&lt;/p&gt;&lt;p&gt;{!$Record.Api_error_message__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pour accéder au quote, veuillez &lt;a href=&quot;{!formula_QuoteURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;cliquez ici&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;&lt;p&gt;L’équipe Salesforce.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template_Demande_Validee_Body_HTML</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Fournisseur__c}&lt;/span&gt; a &lt;strong style=&quot;color: rgb(0, 167, 56);&quot;&gt;validé votre demande de prix&lt;/strong&gt; pour le quote: &lt;strong&gt;{!$Record.Name}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Pour y accéder, veuillez &lt;/span&gt;&lt;a href=&quot;{!formula_QuoteURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;cliquer ici&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;&lt;p&gt;L’équipe Salesforce.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template_Erreur_Process_Mulesoft</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre demande de prix pour le devis : &lt;strong&gt;{!$Record.Name}&lt;/strong&gt; &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;a&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;échouée à cause du erreur Mulesoft&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez contacter votre admin Salesforce en lui donnant le lien du quote pour investigation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;P&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;our accéder au quote, v&lt;/span&gt;euillez &lt;a href=&quot;{!formula_QuoteURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;cliquez ici&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;&lt;p&gt;L’équipe Salesforce.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
