force-app/main/default/flows/Reattribution_des_leads_demande_de_contact_site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EMAIL_Envoi_mail_rettribue</name>
        <label>EMAIL : Envoi mail réattribué à Directeur sédentaire</label>
        <locationX>308</locationX>
        <locationY>684</locationY>
        <actionName>Lead.Piste_Reattribuee</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Piste_Reattribuee</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>dec_ReAssign</name>
        <label>A qui appartient le lead ?</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>GET_UserRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Le lead n&apos;appartient ni a l&apos;équipe sédentaire ni a PEP&apos;S</defaultConnectorLabel>
        <rules>
            <name>ch_AutreQueSedentaire</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial sédentaire ADE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Directeur commercial sédentaire ADE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.CompanyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEP&apos;S</stringValue>
                </rightValue>
            </conditions>
            <label>Le lead appartient déjà a l&apos;équipe sédentaire ou a PEP&apos;S</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Réattribution des leads demande de contact site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Réattribution des leads demande de contact site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_DirecteurCommercialSedentaire</name>
        <label>GET Directeur Sédentaire</label>
        <locationX>308</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_UserRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_UserRole</name>
        <label>GET User Role</label>
        <locationX>308</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_DirecteurCommercialSedentaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Directeur commercial sédentaire ADE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Lead</name>
        <label>Update Lead Owner</label>
        <locationX>308</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>EMAIL_Envoi_mail_rettribue</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GET_DirecteurCommercialSedentaire.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_ReAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_BuisnessDaysElapsed__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande de contact site</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apporteur_affaires__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_DoNotReassign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-29</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
