force-app/main/default/flows/Recuperer_Prix_Endesa_Callback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GET_Prix_Elec_Callack</name>
        <label>GET Prix Elec Callack</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <actionName>AP022_GetEndesaElecPriceController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_StatusCode_200</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>date_validite</name>
            <value>
                <elementReference>Date_validite_offre_souhaitee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>GET_Quote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sites</name>
            <value>
                <elementReference>col_Sites</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type_offre</name>
            <value>
                <elementReference>PICKLIST_Type_Offre</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP022_GetEndesaElecPriceController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Site_Info_Standard</name>
        <label>ASSIGN : Site infos standard</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.date_debut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_DateDebutFournitureSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.date_fin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_DateNouvelleEcheanceSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.nom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI_Creation_Site.TECH_PdeReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.prm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_QLI_Creation_Site.TECH_PdeReference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Abo_Commission_Identique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Site_Montant_Identique</name>
        <label>ASSIGN : Site Montant Identique</label>
        <locationX>270</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.abonnement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NUMBER_Montant_Abonnement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.commission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NUMBER_Montant_Commission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_site_to_sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Site_Montant_Perso</name>
        <label>ASSIGN : Site Montant Perso</label>
        <locationX>534</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.abonnement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NUMBER_Montant_Abonnement_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteElecEndesa.commission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NUMBER_Montant_Commission_Site</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_site_to_sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_site_to_sites</name>
        <label>ASSIGN site to sites</label>
        <locationX>402</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>col_Sites</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SiteElecEndesa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_QLI_Creation_Site</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Abo_Commission_Different_Par_Site</name>
        <choiceText>Différent par site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Différent par site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Abo_Commission_Identique</name>
        <choiceText>Identique</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Identique</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Competitivite</name>
        <choiceText>Compétitivité</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compétitivité</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PrixFixeMarche</name>
        <choiceText>Prix fixe marché</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prix fixe marché-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Serenite</name>
        <choiceText>Sérénité</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sérénité-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Simplicite</name>
        <choiceText>Simplicité</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Simplicité-1</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_Abo_Commission_Identique</name>
        <label>Abo &amp; Commission Identique ?</label>
        <locationX>402</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>S_Montant_Commission_Abo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Abo_Commission_Identique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PICKLIST_Type_Commission_Abo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Abo_Commission_Identique</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Site_Montant_Identique</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Date_Debut_Fourniture_Found</name>
        <label>Date de début fourniture</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>S_Debut_Fourniture_Not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Date_Debut_Fourniture_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_QLI_CheckValidity.DebutDeFourniture__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Nouvelle_Echeance_Found</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Nouvelle_Echeance_Found</name>
        <label>Nouvelle échéance</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>S_Nouvelle_Echeance_Not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_Nouvelle_Echeance_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_QLI_CheckValidity.Nouvelle_Echeance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_QLI_CheckValidity</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_QLI_Found</name>
        <label>QLI Trouvées ?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>S_QLI_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_QLI_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_QLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_QLI_CheckValidity</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_StatusCode_200</name>
        <label>Tout s&apos;est bien passé ?</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>S_Retour_API_KO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_StatusCode_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Prix_Elec_Callack.StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_Retour_API</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_DateDebutFournitureSite</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!LOOP_QLI_Creation_Site.DebutDeFourniture__c})), 2, &quot;0&quot;) + &quot;/&quot; + LPAD(TEXT(MONTH({!LOOP_QLI_Creation_Site.DebutDeFourniture__c})), 2, &quot;0&quot;) + &quot;/&quot; + TEXT(YEAR({!LOOP_QLI_Creation_Site.DebutDeFourniture__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_DateLimiteValidite</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 2</expression>
    </formulas>
    <formulas>
        <name>formula_DateNouvelleEcheanceSite</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!LOOP_QLI_Creation_Site.Nouvelle_Echeance__c})), 2, &quot;0&quot;) + &quot;/&quot; + LPAD(TEXT(MONTH({!LOOP_QLI_Creation_Site.Nouvelle_Echeance__c})), 2, &quot;0&quot;) + &quot;/&quot; + TEXT(YEAR({!LOOP_QLI_Creation_Site.Nouvelle_Echeance__c}))</expression>
    </formulas>
    <interviewLabel>Récupérer Prix Endesa Callback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Récupérer Prix Endesa Callback</label>
    <loops>
        <name>LOOP_QLI_CheckValidity</name>
        <label>LOOP QLI Check Validité</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>GET_QLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Date_Debut_Fourniture_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_QLI_Creation_Site</name>
        <label>LOOP QLI Création Site</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <collectionReference>GET_QLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_Site_Info_Standard</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_Prix_Elec_Callack</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_QLI</name>
        <label>GET QLI</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_QLI_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Quote</name>
        <label>GET Quote</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_Type_Offre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>S_Debut_Fourniture_Not_found</name>
        <label>Pas de date début fourniture</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_ErreurPrerequisAPIEndesa_2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ErreurPrerequisAPIEndesa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_DDF_Not_Found</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Ba alors...&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Comme dit dans l&apos;écran précédent, vous avez besoin d&apos;au moins :&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;x Une date de début de fourniture sur chaque QLI&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pardon...</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Montant_Commission_Abo</name>
        <label>Screen Montant Commission Abo</label>
        <locationX>534</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_Site_Montant_Perso</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo_4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Logo Endesa</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_Montant_Commission_Abo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Montant_Commission_Abo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Montant_Commission_Abo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text_Montant_Commission_Abo</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(31, 171, 240);&quot;&gt;Site PRM :  {!LOOP_QLI_Creation_Site.TECH_PdeReference__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Nom : &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!LOOP_QLI_Creation_Site.PDE__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Site de conso : &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!LOOP_QLI_Creation_Site.PDE__r.SiteConsommation__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NUMBER_Montant_Commission_Site</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant commission (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NUMBER_Montant_Abonnement_Site</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant abonnement (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Montant_Commission_Abo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Nouvelle_Echeance_Not_found</name>
        <label>Pas de date nouvelle échéance</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_ErreurPrerequisAPIEndesa_3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ErreurPrerequisAPIEndesa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_NE_Not_Found</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 22px;&quot;&gt;Ba alors...&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Comme dit dans l&apos;écran précédent, vous avez besoin d&apos;au moins :&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;x Une date de nouvelle échéance sur chaque QLI&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pardon...</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Prerequis</name>
        <label>Screen Prérequis</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_QLI</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Logo Endesa</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_Prerequis</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(31, 171, 240); font-size: 22px;&quot;&gt;Prérequis de l&apos;API&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Pour profiter des prix Endesa, vous avez besoin d&apos;avoir au moins :&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- Un élément de devis&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- Une date de &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;début de fourniture&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; sur chaque &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;élément de devis&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- Une date de &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;nouvelle échéance&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; sur chaque &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;élément de devis&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>J&apos;ai compris</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_QLI_Not_Found</name>
        <label>Pas de QLI trouvé</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_ErreurPrerequisAPIEndesa</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ErreurPrerequisAPIEndesa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_QLI_Not_Found</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Ba alors...&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Comme dit dans l&apos;écran précédent, vous avez besoin d&apos;au moins :&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;x Une Quote Line Item&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pardon...</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Retour_API</name>
        <label>Screen Retour API</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_EndesaLogo_5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Logo Endesa</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_Retour_API</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(11, 220, 247); font-size: 22px;&quot;&gt;{!GET_Prix_Elec_Callack.response}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Vous pouvez fermer cet écran :)&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fermer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Retour_API_KO</name>
        <label>Screen Retour API KO</label>
        <locationX>314</locationX>
        <locationY>2714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IMG_EndesaLogo_6</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Logo Endesa</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_Retour_API_KO</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Aïe Aïe Aïe...&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Message Erreur :  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!GET_Prix_Elec_Callack.response}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Si ce message d&apos;erreur ne vous dit rien, merci de le transmettre à l&apos;admin Salesforce.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fermer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Type_Abo_Commission</name>
        <label>Screen Type Abo Commission</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Date_Validite</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo_3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Logo Endesa</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_Type_Abo_Commission_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Type_Abo_Commission_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Type_Abo_Commission_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text_Type_Commission</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(31, 171, 240);&quot;&gt;Type de commission &amp;amp; abonnement&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Identique&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; : La commission et l&apos;abonnement sera la même pour tous les sites&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;-- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Différent par site&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; : La commission et l&apos;abonnement seront à renseigner sur chaque site&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_Type_Commission_Abo</name>
                    <choiceReferences>Choice_Abo_Commission_Identique</choiceReferences>
                    <choiceReferences>Choice_Abo_Commission_Different_Par_Site</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_Abo_Commission_Identique</defaultSelectedChoiceReference>
                    <fieldText>Type de commission &amp; abonnement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NUMBER_Montant_Commission</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant commission (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PICKLIST_Type_Commission_Abo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_Abo_Commission_Identique</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NUMBER_Montant_Abonnement</name>
                    <dataType>Number</dataType>
                    <fieldText>Montant abonnement (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PICKLIST_Type_Commission_Abo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_Abo_Commission_Identique</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Type_Abo_Commission_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Type_Offre</name>
        <label>Screen Type Offre</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S_Type_Abo_Commission</targetReference>
        </connector>
        <fields>
            <name>IMG_EndesaLogo_2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EndesaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>96</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Logo Endesa</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S_Type_Offre_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Type_Offre_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Type_Offre_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text_Type_Offre</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(31, 171, 240);&quot;&gt;Type d&apos;offre souhaitée&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Vous avez le choix entre : Prix fixe marché, Simplicité, Compétitivité, Sérénité&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PICKLIST_Type_Offre</name>
                    <choiceReferences>Choice_PrixFixeMarche</choiceReferences>
                    <choiceReferences>Choice_Simplicite</choiceReferences>
                    <choiceReferences>Choice_Competitivite</choiceReferences>
                    <choiceReferences>Choice_Serenite</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_PrixFixeMarche</defaultSelectedChoiceReference>
                    <fieldText>Type d&apos;offre</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Type_Offre_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Date_Validite</name>
        <label>Screen Date Validite</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LOOP_QLI_Creation_Site</targetReference>
        </connector>
        <fields>
            <name>Date_validite_offre_souhaitee</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date validité  offre souhaitée</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;La date de validité souhaitée ne peut pas être supérieure à 24 heures à partir d&apos;aujourd&apos;hui.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_validite_offre_souhaitee}  &lt; {!formula_DateLimiteValidite}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_Prerequis</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>col_Sites</name>
        <apexClass>WrapSiteElecEndesa</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SiteElecEndesa</name>
        <apexClass>WrapSiteElecEndesa</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
