force-app/main/default/flows/Renouvellement_ACD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_AP033</name>
        <label>SEND ACD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AP033_SendACDToDocuSign</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCREEN_SuccessEmailEnvoye</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>SELECT_Signataire.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP033_SendACDToDocuSign</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DEC_Signataire</name>
        <label>Signataire ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Aucun_Signataire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ACR</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TRANSFORM_ACR</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <description>Ce flow permet de sélectionner un signataire et des PDE pour générer un ACD, puis l&apos;envoyer via DocuSign. L&apos;utilisateur peut télécharger l&apos;ACD avant envoi et reçoit une confirmation de succès.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_LinkRenouvellementACD</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$Api.Partner_Server_URL_530}, &apos;sandbox&apos;),
    &apos;https://alliancedesenergies--ellisphere--c.sandbox.vf.force.com/apex/renouvellementACD&apos;,
    &apos;https://alliancedesenergies--c.vf.force.com/apex/renouvellementACD&apos;
) 
&amp; &apos;?AccountId=&apos; &amp; URLENCODE({!recordId}) &amp;
&apos;&amp;SignataireId=&apos; &amp; URLENCODE({!SELECT_Signataire.firstSelectedRow.Id})</expression>
    </formulas>
    <interviewLabel>Renouvellement ACD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renouvellement ACD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_ACR</name>
        <label>GET ACR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Signataire</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signataire</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signataire;Gestionnaire de la copropriété</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Contacts</name>
        <label>GET Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN_SelectionnerSignataire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TRANSFORM_ACR</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDE</name>
        <label>GET PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN_PDESelection</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Syndic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adresse_de_consommation__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date_signature_ACD__c</queriedFields>
        <queriedFields>TECH_num_compteur__c</queriedFields>
        <queriedFields>TypePDE__c</queriedFields>
        <queriedFields>TECH_CAR__c</queriedFields>
        <queriedFields>Fournisseur__c</queriedFields>
        <queriedFields>Contrat_actif__c</queriedFields>
        <queriedFields>TECH_SelectedPDE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PDEAssociedWithAccountsOrSyndic</name>
        <label>On récupère les PDE associé au compte (ou Syndic)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TRANSFORM_PDEAssociedWithAccountsOrSyndic</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Syndic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TECH_SelectedPDE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_PDEAssociedWithAccountsOrSyndic</name>
        <label>UPDATE PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_PDE</targetReference>
        </connector>
        <inputReference>TRANSFORM_PDEAssociedWithAccountsOrSyndic</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SelectedPDE</name>
        <label>Mise à jour des enregistrements de PDE selectionnés</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCREEN_TelechargerACD</targetReference>
        </connector>
        <inputReference>TRANSFORM_PDE</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SCREEN_Aucun_Signataire</name>
        <label>Aucun Signataire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_AucunSignataire</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(69, 90, 100); background-color: rgb(255, 255, 255);&quot;&gt;ℹ️ Aucun signataire n&apos;est actuellement présent sur ce compte.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Stage_1Signataire</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>SCREEN_PDESelection</name>
        <label>Selectionner les PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TRANSFORM_PDE</targetReference>
        </connector>
        <fields>
            <name>LWC_datatable</name>
            <dataTypeMappings>
                <typeName>t</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc001_DataTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>GET_PDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selected</name>
                <value>
                    <elementReference>listOfSelectedPDE</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>listOfSelectedPDE</assignToReference>
                <name>selected</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Stage_2SelectionnerLesPDE</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>SCREEN_SelectionnerSignataire</name>
        <label>Selectionner le signataire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_PDEAssociedWithAccountsOrSyndic</targetReference>
        </connector>
        <fields>
            <name>SELECT_Signataire</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Liste des signataires</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e9f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-543b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Stage_1Signataire</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>SCREEN_SuccessEmailEnvoye</name>
        <label>Email Envoyé avec Succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Displaytext_EmailEnvoye</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(39, 182, 61); font-size: 14px;&quot;&gt;✅ L&apos;e-mail contenant l&apos;enveloppe DocuSign a été envoyé avec succès.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(39, 182, 61); font-size: 14px;&quot;&gt;Le signataire recevra l&apos;e-mail sous peu. Veuillez patienter jusqu&apos;à ce que la signature soit complétée.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(39, 182, 61); font-size: 14px;&quot;&gt;Vous pouvez suivre l&apos;état de l&apos;enveloppe directement depuis votre interface DocuSign ou Salesforce.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Stage_4EmailEnvoye</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>SCREEN_TelechargerACD</name>
        <label>Télécharger l&apos;ACD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_AP033</targetReference>
        </connector>
        <fields>
            <name>Displaytext_TelechargerACD</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!Formula_LinkRenouvellementACD}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(24, 24, 24); font-size: 22px;&quot;&gt;&lt;strong&gt;Cliquer ici pour télécharger votre ACD&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Stage_3TelechargerACD</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Stage_1Signataire</name>
        <isActive>true</isActive>
        <label>Sélectionner le signataire</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage_2SelectionnerLesPDE</name>
        <isActive>true</isActive>
        <label>Selectionner les PDE</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_3TelechargerACD</name>
        <isActive>true</isActive>
        <label>Télécharger votre ACD</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage_4EmailEnvoye</name>
        <isActive>true</isActive>
        <label>Email Envoyé</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_ACR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>TRANSFORM_ACR</name>
        <label>TRANSFORM ACR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Contacts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_ACR[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>TRANSFORM_PDE</name>
        <label>TRANSFORM PDE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_SelectedPDE</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>PDE__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>TECH_SelectedPDE__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Boolean</formulaDataType>
                    <formulaExpression>true</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>listOfSelectedPDE[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>TRANSFORM_PDEAssociedWithAccountsOrSyndic</name>
        <label>TRANSFORM PDE (Associés au compte ou syndic)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UPDATE_PDEAssociedWithAccountsOrSyndic</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>PDE__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>TECH_SelectedPDE__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Boolean</formulaDataType>
                    <formulaExpression>false</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_PDEAssociedWithAccountsOrSyndic[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>col_ContactsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listACR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>listOfSelectedPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>listPDEToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a18aT00000FgrUNQAZ</stringValue>
        </value>
    </variables>
</Flow>
