force-app/main/default/flows/Resilier_Contrat_PDE_Elec.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_elec</name>
        <label>Mise à jour de la valeur ELEC</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_containsELEC</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selectionn_Fournisseur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_PDE_ID</name>
        <label>ASS PDE ID</label>
        <locationX>270</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_PDE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_PDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_varGAZ</name>
        <label>Mise à jour de la valeur GAZ</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_containsGAZ</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selectionn_Fournisseur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_coll_ListOfFournisseurs</name>
        <label>ASSIGN coll_ListOfFournisseurs</label>
        <locationX>358</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>coll_ListOfFournisseurs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_PDE.Fournisseur__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_coll_NumeroCompteur_coll_PDEid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_coll_ListOfPDE</name>
        <label>ASSIGN coll ListOfPDE</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>coll_ListOfPDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PDE_c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_PDE_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_coll_NumeroCompteur_coll_PDEid</name>
        <label>ASSIGN coll_NumeroCompteur&amp;coll_PDEid</label>
        <locationX>270</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>coll_NumeroCompteur</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_PDE.TECH_num_compteur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_NumeroCompteur</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_PDE_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_SizeOfselectedPDE</name>
        <label>ASSIGN SizeOfselectedPDE</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NUMBER_SelectedPDESize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>coll_SelectedPDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_PDEIsSelected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choix</name>
        <choiceText>{!coll_ListFournisseurs}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoixEDF</name>
        <choiceText>{!var_EdfEntreprises}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>var_EdfEntreprises</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoixEngie</name>
        <choiceText>{!var_Engie}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>var_Engie</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoixEni</name>
        <choiceText>{!var_Eni}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>var_Eni</elementReference>
        </value>
    </choices>
    <decisions>
        <name>dec_ELECOuGAZ</name>
        <label>Est-ce un compteur GAZ ou ELEC ?</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>ass_varGAZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GAZ</defaultConnectorLabel>
        <rules>
            <name>ELEC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_PDE.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_elec</targetReference>
            </connector>
            <label>ELEC</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PDEIsSelected</name>
        <label>PDE(s) Selectionné(s) ?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Pde_not_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_PDEIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_SelectedPDE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NUMBER_SelectedPDESize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_PDE</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selectionn_Fournisseur</name>
        <label>Selectionné Fournisseur</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_coll_ListOfFournisseurs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non</defaultConnectorLabel>
        <rules>
            <name>oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_ListOfFournisseurs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Selected_PDE.Fournisseur__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Selected_PDE.Fournisseur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_coll_NumeroCompteur_coll_PDEid</targetReference>
            </connector>
            <label>oui</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoixPDE</name>
        <collectionReference>Get_PDE_c</collectionReference>
        <dataType>String</dataType>
        <displayField>TECH_num_compteur__c</displayField>
        <object>PDE__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_NumeroCompteur</name>
        <dataType>String</dataType>
        <expression>&apos;aaaa&apos;</expression>
    </formulas>
    <formulas>
        <name>formula_TypeEnergie</name>
        <dataType>String</dataType>
        <expression>IF(AND({!var_containsELEC},{!var_containsGAZ}),&apos;de Gaz et d Electricité&apos;,
IF({!var_containsELEC},&apos;Elec&apos;,&apos;gaz&apos;))</expression>
    </formulas>
    <interviewLabel>Resilier Contrat PDE Elec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resilier Contrat PDE Elec</label>
    <loops>
        <name>Loop_Selected_PDE</name>
        <label>Loop Selected PDE</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>coll_SelectedPDE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_ELECOuGAZ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PDE_c_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PDE_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PDE_c</name>
        <label>Get PDE__c</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_coll_ListOfPDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntiteJuridique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PDE__c</object>
        <sortField>TECH_num_compteur__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PDE_c_Value</name>
        <label>Get PDE__c Value</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_Choix_Fournisseur</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PDE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>S_Choix_Fournisseur</name>
        <label>S Choix Fournisseur</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>S_Email_de_Resiliation</targetReference>
        </connector>
        <fields>
            <name>section_Adresse</name>
            <fieldText>Adresse du fournisseur</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>section_Adresse_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_numeroVoie</name>
                    <dataType>String</dataType>
                    <fieldText>Numéro de voie</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input_Ville</name>
                    <dataType>String</dataType>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>section_Adresse_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_voie</name>
                    <dataType>String</dataType>
                    <fieldText>Voie</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Code_Postal</name>
                    <dataType>String</dataType>
                    <fieldText>Code Postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TableFournisseur</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>coll_SelectedPDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Fournisseur__c&quot;,&quot;guid&quot;:&quot;column-2ffe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fournisseur&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Fournisseur&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TECH_num_compteur__c&quot;,&quot;guid&quot;:&quot;column-5b53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Numéro de compteur&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Email_de_Resiliation</name>
        <label>S Email de Resiliation</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailResiliation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Société&amp;nbsp;: &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;{!Get_Account.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;SIRET&amp;nbsp;: &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;{!Get_Account.Siret__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Numéro de client :  &lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;[ à completer ]&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Point de Livraison&amp;nbsp;: &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;{!coll_NumeroCompteur}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Fournisseur&amp;nbsp;: &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;{!TableFournisseur.firstSelectedRow.Fournisseur__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;            Adresse :  &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!input_numeroVoie} {!input_voie}, {!Code_Postal}  {!input_Ville}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Le &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;{!$Flow.CurrentDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Courrier recommandé AR n°&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Objet : Résiliation du contrat de fourniture {!formula_TypeEnergie}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Madame, Monsieur,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Par la présente, je vous informe résilier mon contrat référencé ci-dessus me liant à votre société avec date d’effet au &lt;/span&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;{!Date_Fin_Contrat}&lt;/strong&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;(date d’échéance de mon contrat) en vue de mon changement de fournisseur.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Je vous prie de bien vouloir faire le nécessaire quant à cette résiliation contractuelle et laisser mon nouveau fournisseur prendre le point de livraison concerné dans son périmètre le lendemain de mon dernier jour de fourniture chez vous.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Je vous remercie également de bien vouloir émettre la facture de clôture correspondante et procéder, le cas échéant, au remboursement de l&apos;éventuel trop-perçu dans les meilleurs délais.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Vous remerciant de l’attention que vous porterez à cette demande de résiliation, je vous prie d’agréer, Madame, Monsieur, l’expression de mes salutations distinguées.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_PDE_Selection</name>
        <label>S PDE Selection</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASSIGN_SizeOfselectedPDE</targetReference>
        </connector>
        <fields>
            <name>ChoisirDate2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Veuillez choisir la date de fin du contrat :&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Fin_Contrat</name>
            <dataType>Date</dataType>
            <fieldText>Date de fin de contrat</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LWC_datatable</name>
            <dataTypeMappings>
                <typeName>t</typeName>
                <typeValue>PDE__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc001_DataTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>coll_ListOfPDE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selected</name>
                <value>
                    <elementReference>coll_SelectedPDE</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>coll_SelectedPDE</assignToReference>
                <name>selected</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_Verification</name>
        <label>S_Verification</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>TEXT_Avant_de_commencer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Avant de commencer&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_Alerte</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Attention : Ce modèle d&apos;email est destiné à effectuer des demandes de résiliation pour des points d&apos;énergie ayant le même fournisseur et appartenant à un même client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Pde_not_selected</name>
        <label>SCREEN Pde not selected</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TEXT_PDENotselected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Vous n&apos;avez sélectionné aucun PDE.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_Fournisseur</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>coll_ListFournisseurs</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coll_ListOfFournisseurs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coll_ListOfPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>coll_NumeroCompteur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_SelectedPDE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>NUMBER_SelectedPDESize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>var_containsELEC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_containsGAZ</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_EdfEntreprises</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Engie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Eni</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Fournisseur</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>varDateFinContrat</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
