force-app/main/default/flows/subFlow_CreateCommission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_conventionEchec</name>
        <label>Assign valeur retour convention</label>
        <locationX>792</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>var_ConventionExiste</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_conventionSuccess</name>
        <label>Assign valeur retour</label>
        <locationX>176</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>var_CommissionCree</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_CAExist</name>
        <label>Le chiffre d&apos;affaire existe ?</label>
        <locationX>462</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GET_Commercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ChiffreAffaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_Commission</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ConventionExiste</name>
        <label>La convention existe ?</label>
        <locationX>660</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>assign_conventionEchec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_ConventionExiste</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_ConventionSalarie</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Convention_Partenaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_ChiffreAffaire</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_un_partenaire</name>
        <label>Est-ce un partenaire ?</label>
        <locationX>660</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GET_ConventionSalarie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_partenaire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Commercial.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Convention_Partenaire</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FORMULA_ChiffreAffaireName</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!loop_commission.Prenomcommercial},1))&amp;&quot;.&quot;&amp;UPPER({!loop_commission.Nomcommercial})&amp;&quot; - &quot;&amp;TEXT(MONTH({!loop_commission.moisPaiement}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!loop_commission.moisPaiement}))</expression>
    </formulas>
    <formulas>
        <name>FORMULA_MoisChiffreAffaire</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!loop_commission.moisPaiement}),MONTH({!loop_commission.moisPaiement}),1)</expression>
    </formulas>
    <interviewLabel>subFlow_CreateCommission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subFlow_CreateCommission</label>
    <loops>
        <name>loop_commission</name>
        <label>Pour chaque commission</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>col_Commissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GET_ChiffreAffaire</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_conventionSuccess</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_ChiffreAffaire</name>
        <label>Création chiffre affaire</label>
        <locationX>528</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>CREATE_COMMISSION_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Commercial__c</field>
            <value>
                <elementReference>loop_commission.commercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convention__c</field>
            <value>
                <elementReference>conventionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_paiement__c</field>
            <value>
                <elementReference>FORMULA_MoisChiffreAffaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_ChiffreAffaireName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loop_commission.commercial</elementReference>
            </value>
        </inputAssignments>
        <object>Chiffre_affaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Commission</name>
        <label>Création commission</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>loop_commission</targetReference>
        </connector>
        <inputAssignments>
            <field>Appel_facturation__c</field>
            <value>
                <elementReference>loop_commission.appelFacturation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chiffre_affaire__c</field>
            <value>
                <elementReference>GET_ChiffreAffaire.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial__c</field>
            <value>
                <elementReference>loop_commission.commercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>loop_commission.contrat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_paiement__c</field>
            <value>
                <elementReference>FORMULA_MoisChiffreAffaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>loop_commission.montant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>loop_commission.nom</elementReference>
            </value>
        </inputAssignments>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_COMMISSION_2</name>
        <label>Création commission</label>
        <locationX>528</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>loop_commission</targetReference>
        </connector>
        <inputAssignments>
            <field>Appel_facturation__c</field>
            <value>
                <elementReference>loop_commission.appelFacturation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chiffre_affaire__c</field>
            <value>
                <elementReference>CREATE_ChiffreAffaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial__c</field>
            <value>
                <elementReference>loop_commission.commercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>loop_commission.contrat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_paiement__c</field>
            <value>
                <elementReference>FORMULA_MoisChiffreAffaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>loop_commission.montant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>loop_commission.nom</elementReference>
            </value>
        </inputAssignments>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_ChiffreAffaire</name>
        <label>GET Chiffre Affaire</label>
        <locationX>462</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CAExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FORMULA_ChiffreAffaireName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chiffre_affaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Commercial</name>
        <label>GET Commercial</label>
        <locationX>660</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_un_partenaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_commission.commercial</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pour le partenaire on passe par son Account</description>
        <name>GET_Convention_Partenaire</name>
        <label>GET Convention partenaire</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_ConventionExiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Commercial.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>conventionId</assignToReference>
            <field>Convention__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_ConventionSalarie</name>
        <label>GET Convention salarié</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_ConventionExiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salarié</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Salarie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_commission.commercial</elementReference>
            </value>
        </filters>
        <object>Convention__c</object>
        <outputAssignments>
            <assignToReference>conventionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_commission</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>col_Commissions</name>
        <apexClass>WrapCommission</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conventionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CommissionCree</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ConventionExiste</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
