force-app/main/default/flows/SubFlow_OpportunityBySegment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection1</name>
        <label>Add to collection</label>
        <locationX>138</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>coll_OPRToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OPR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListOfC1C2Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection2</name>
        <label>Add to collection</label>
        <locationX>138</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>coll_OPRToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OPR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListOfC5Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection3</name>
        <label>Add to collection</label>
        <locationX>138</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>coll_OPRToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OPR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListOfGazLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOpportunityCreatedId</name>
        <label>AddOpportunityCreatedId</label>
        <locationX>182</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>ListOfOpportunityId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityC1C2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfOpportunityId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityC3C4Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfOpportunityId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityC5Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfOpportunityId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityGazId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignC5</name>
        <label>AssignC5</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ListOfPdeC5</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughPde</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPde</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGaz</name>
        <label>AssignGaz</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ListOfPdeGaz</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughPde</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPde</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingC1C2</name>
        <label>AssingC1C2</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ListOfPdeC1C2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughPde</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPde</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OPR_C1C2</name>
        <label>Init OPR C1C2</label>
        <locationX>138</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>var_OPR.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityC1C2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OPR.PDE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListOfC1C2Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OPR_C5</name>
        <label>Init OPR C5</label>
        <locationX>138</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>var_OPR.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityC5Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OPR.PDE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListOfC5Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OPR_Gaz</name>
        <label>Init OPR Gaz</label>
        <locationX>138</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>var_OPR.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityGazId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OPR.PDE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListOfGazLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Create opportunity by ListOfPde</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>C1C2_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfPdeC1C2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityC1C2</targetReference>
            </connector>
            <label>C1C2 Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create opportunity by ListOfPde</description>
        <name>Create_Opportunity_0_0</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>C5_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfPdeC5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityC5</targetReference>
            </connector>
            <label>C5 Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create opportunity by ListOfPde</description>
        <name>Create_Opportunity_0_0_0</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>2258</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_PDE_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Gaz_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfPdeGaz</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityGaz</targetReference>
            </connector>
            <label>Gaz Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment</name>
        <label>Segment</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>LoopThroughPde</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>C1C2C3C4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughPde.TypePDE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughPde.TypePDE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughPde.TypePDE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughPde.TypePDE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingC1C2</targetReference>
            </connector>
            <label>C1C2C3C4</label>
        </rules>
        <rules>
            <name>C5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughPde.TypePDE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignC5</targetReference>
            </connector>
            <label>C5</label>
        </rules>
        <rules>
            <name>Gaz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughPde.TypePDE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gaz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGaz</targetReference>
            </connector>
            <label>Gaz</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubFlow_Opport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow_OpportunityBySegment</label>
    <loops>
        <name>ListOfC1C2Loop</name>
        <label>ListOfC1C2Loop</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <collectionReference>ListOfPdeC1C2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OPR_C1C2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ListOfC5Loop</name>
        <label>ListOfC5Loop</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <collectionReference>ListOfPdeC5</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OPR_C5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ListOfGazLoop</name>
        <label>ListOfGazLoop</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <collectionReference>ListOfPdeGaz</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OPR_Gaz</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_PDE_Relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughPde</name>
        <label>LoopThroughPde</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>ListOfPde</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_PDE_Relation</name>
        <label>Create Opportunity PDE Relation</label>
        <locationX>182</locationX>
        <locationY>3074</locationY>
        <connector>
            <targetReference>AddOpportunityCreatedId</targetReference>
        </connector>
        <inputReference>coll_OPRToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>OCRC1C2</name>
        <label>OCRC1C2</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>ListOfC1C2Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SignataireContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityC1C2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Signataire</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>OCRC5</name>
        <label>OCRC5</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <connector>
            <targetReference>ListOfC5Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SignataireContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityC5Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Signataire</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>OCRGaz</name>
        <label>OCRGaz</label>
        <locationX>50</locationX>
        <locationY>2474</locationY>
        <connector>
            <targetReference>ListOfGazLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SignataireContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityGazId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Signataire</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>OpportunityC1C2</name>
        <label>OpportunityC1C2</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignRecordIdToReference>OpportunityC1C2Id</assignRecordIdToReference>
        <connector>
            <targetReference>OCRC1C2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTPartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Demande de cotation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <stringValue>C1C2C3C4</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>OpportunityC5</name>
        <label>OpportunityC5</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignRecordIdToReference>OpportunityC5Id</assignRecordIdToReference>
        <connector>
            <targetReference>OCRC5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTPartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Demande de cotation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <stringValue>C5</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>OpportunityGaz</name>
        <label>OpportunityGaz</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <assignRecordIdToReference>OpportunityGazId</assignRecordIdToReference>
        <connector>
            <targetReference>OCRGaz</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTPartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Demande de cotation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FTA__c</field>
            <value>
                <stringValue>GAZ</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopThroughPde</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coll_OPRToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityPDERelation__c</objectType>
    </variables>
    <variables>
        <name>Commentaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateReceptionOffre</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfPde</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListOfPdeC1C2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListOfPdeC3C4</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListOfPdeC5</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListOfPdeGaz</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListToUpdateC1C2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListToUpdateC3C4</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListToUpdateC5</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>ListToUpdateGaz</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PDE__c</objectType>
    </variables>
    <variables>
        <name>OpportunityC1C2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityC3C4Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityC5Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityGazId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RTPartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SignataireContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_OPR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityPDERelation__c</objectType>
    </variables>
</Flow>
