force-app/main/default/flows/Test_rattrapage_donnee_appel_a_facturation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_AnneAFacturerPrimeo</name>
        <label>J&apos;incrémente la date de la prochaine facture</label>
        <locationX>1986</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_PremierAnneAFacturerPrimeo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Est_ce_que_je_dois_encore_facturer_Primeo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EditVariables</name>
        <label>EditVariables</label>
        <locationX>3394</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VAR_NombreAnneeFacturerGazEuro</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NombreDeMoisContractualises</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Estce_quil_reste_encore_une_annee_a_facturer</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Contrat validé</description>
        <name>con_ContratValide</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contrat validé</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_AppelAFacture</name>
        <label>Est-ce que le fournisseur paye Upfront ?</label>
        <locationX>4219</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>CREATE_AF_UPFRONT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>ch_NonAppelFacturation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Fournisseurupfront</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_Fournisseur</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <description>Contrat inférieur à 24 mois OU &lt; 5K : 100% 
Contrat durée &gt; 24 Mois et &lt; 36 mois : 50% de la rémunération à la validation du contrat 50% 12 mois après
Contrat durée &gt; 36 mois : 50% de la rémunération à la validation du contrat 25% 12 mois après 25% 24 mois après</description>
        <name>Dec_FacturationEkwateur</name>
        <label>Règle de facturation Ekwateur</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Creation_appel_a_facturation_Ekwateur_50_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>50% 25% 25%</defaultConnectorLabel>
        <rules>
            <name>ch_X100_Ekwateur</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.ContractTerm</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Contrat.Commission_ADE__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AF_UPFRONT</targetReference>
            </connector>
            <label>100%</label>
        </rules>
        <rules>
            <name>ch_50_50Ekwateur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.ContractTerm</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Contrat.ContractTerm</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>36.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_Ekwateur_50</targetReference>
            </connector>
            <label>50% - 50%</label>
        </rules>
    </decisions>
    <decisions>
        <description>100% front si démarrage &lt;= 3 mois
50% 50% Si démarrage à &gt; 3 mois et &lt;= 12 mois
20% 80% Si démarrage &gt; 12 mois</description>
        <name>Dec_FacturationENI</name>
        <label>Règle de facturation - ENI</label>
        <locationX>94</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Creation_appel_a_facturation_ENI_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>80% 20%</defaultConnectorLabel>
        <rules>
            <name>ch_X100_Eni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NombreDeMoisDemarrage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AF_UPFRONT</targetReference>
            </connector>
            <label>100%</label>
        </rules>
        <rules>
            <name>ch_50_50Eni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NombreDeMoisDemarrage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_NombreDeMoisDemarrage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AF_50_Eni</targetReference>
            </connector>
            <label>50% - 50%</label>
        </rules>
    </decisions>
    <decisions>
        <description>Commission &lt; 40 000  : 100% à la signature du contrat
Commission &gt; 40 000  : 40 000 à la signature du contrat le reste 12 mois après la signature</description>
        <name>Dec_FacturationEnovos</name>
        <label>Règle de facturation Enovos</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Creation_appel_a_facturation_Enovos_40000</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>40 000€ puis le reste</defaultConnectorLabel>
        <rules>
            <name>ch_X100_Enovos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Commission_ADE__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>40000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AF_UPFRONT</targetReference>
            </connector>
            <label>100%</label>
        </rules>
    </decisions>
    <decisions>
        <description>100% 12 mois avant la date de début du contrat</description>
        <name>Dec_FacturationPictoy</name>
        <label>Règle de facturation Picoty</label>
        <locationX>2866</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Creation_appel_a_facturation_Picoty_100_12MoisAvantDebutContrat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>100% 12 mois avant la date de début du contrat</defaultConnectorLabel>
        <rules>
            <name>ch_X100_Picoty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NombreDeMoisDemarrage</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AF_UPFRONT</targetReference>
            </connector>
            <label>100% Mois suivant signature</label>
        </rules>
    </decisions>
    <decisions>
        <description>3 conditions 
A = - 30 000€
B = - 15 mois
C = Date de démarrage &lt; 01/01/2026

3 Règles de paiement
Règle 1 = 100% Upfront
Règle 2 = 30 000€ Upfront Le reste le 1er janvier de chaque année par année de contrat
Règle 3 = 30 000€ 15 mois avant date démarrage
Règle 4 = 30 000€ 15 mois avant date démarrage Le reste le 1er janvier de chaque année par année de contrat

 
Règle  1 = A AND (B OR C)
Règle  2 = NOT A AND (B OR C)
Règle  3 = A AND NOT B AND NOT C
Règle  4 = NOT A AND NOT B AND NOT C</description>
        <name>Dec_FacturationPrimeo</name>
        <label>Règle de facturation - Primeo</label>
        <locationX>2118</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Creation_appel_a_facturation_Primeo_30000_15_mois_avant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>30 000€ 15 mois avant date démarrage Le reste le 1er janvier de chaque année par année de contrat</defaultConnectorLabel>
        <rules>
            <name>ch_regle_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Commission_ADE__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_NombreDeMoisDemarrage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Contrat.StartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2026-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CREATE_AF_UPFRONT</targetReference>
            </connector>
            <label>100% Upfront</label>
        </rules>
        <rules>
            <name>ch_regle_2</name>
            <conditionLogic>NOT 1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Commission_ADE__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_NombreDeMoisDemarrage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Contrat.StartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2026-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_facturation_Primeo_30000_Upfront</targetReference>
            </connector>
            <label>30 000€ Upfront Le reste le 1er janvier de chaque année par année de contrat</label>
        </rules>
        <rules>
            <name>ch_regle_3</name>
            <conditionLogic>1 AND NOT 2 AND NOT 3</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Commission_ADE__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_NombreDeMoisDemarrage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Contrat.StartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2026-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_Primeo_100_15_mois_avant</targetReference>
            </connector>
            <label>30 000€ 15 mois avant date démarrage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_Fournisseur</name>
        <label>Qui est le fournisseur ?</label>
        <locationX>2756</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Fournisseur inconnu</defaultConnectorLabel>
        <rules>
            <name>ch_Eni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eni</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_FacturationENI</targetReference>
            </connector>
            <label>Eni</label>
        </rules>
        <rules>
            <name>ch_Ekwateur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ekwateur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_FacturationEkwateur</targetReference>
            </connector>
            <label>Ekwateur</label>
        </rules>
        <rules>
            <name>ch_Enovos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enovos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_FacturationEnovos</targetReference>
            </connector>
            <label>Enovos</label>
        </rules>
        <rules>
            <name>ch_primeo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primeo Energie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_FacturationPrimeo</targetReference>
            </connector>
            <label>Primeo</label>
        </rules>
        <rules>
            <name>ch_picoty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Picoty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_FacturationPictoy</targetReference>
            </connector>
            <label>Picoty</label>
        </rules>
        <rules>
            <name>ch_GazEuro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gaz Européen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regle_de_facturation_GazEuroppeen</targetReference>
            </connector>
            <label>Gaz europpeen</label>
        </rules>
        <rules>
            <name>ch_Dyneff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dyneff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_Dyneff_20_UpFront</targetReference>
            </connector>
            <label>Dyneff</label>
        </rules>
        <rules>
            <name>MET_ENERGIE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MET Energie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regle_de_facturation_Met</targetReference>
            </connector>
            <label>MET ENERGIE</label>
        </rules>
        <rules>
            <name>ch_OHM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OHM Energie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_OHM_50_Front</targetReference>
            </connector>
            <label>OHM</label>
        </rules>
        <rules>
            <name>Ekivolt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.Fournisseur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ekivolt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_Ekivolt_50</targetReference>
            </connector>
            <label>Ekivolt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_qu_il_reste_appel_facturation_a_cree</name>
        <label>Est-ce qu&apos;il reste un appel a facturation a créé?</label>
        <locationX>3790</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_AnneComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NombreDeMoisContractualises</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_GazEuro_DerniereFacture</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_que_je_dois_encore_facturer_Primeo</name>
        <label>Est-ce que je dois encore facturer Primeo ?</label>
        <locationX>2118</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PremierAnneAFacturerPrimeo</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FORMULA_Derniere_annee_a_facturer_Primeo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_Primeo_Annuel</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estce_quil_reste_encore_une_annee_a_facturer</name>
        <label>Est-ce qu&apos;il reste encore une année a facturer ?</label>
        <locationX>3592</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Est_ce_qu_il_reste_appel_facturation_a_cree</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ch_ouiCreeAppelFacturation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NombreDeMoisContractualises</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_appel_a_facturation_GazEuro_TousLesAns</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si 12 mois de contrat ou moins 100%
Sinon part égale tous les 12 mois</description>
        <name>Regle_de_facturation_GazEuroppeen</name>
        <label>Règle de facturation Gaz Europpeen</label>
        <locationX>3405</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Estce_quil_reste_encore_une_annee_a_facturer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tous les ans</defaultConnectorLabel>
        <rules>
            <name>ch_100_Mois_suivant_signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.ContractTerm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AF_UPFRONT</targetReference>
            </connector>
            <label>100% Mois suivant signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regle_de_facturation_Met</name>
        <label>Règles facturation MET Energie</label>
        <locationX>4538</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Creation_appel_a_facturation_MET_70_Front</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>70% 30%</defaultConnectorLabel>
        <rules>
            <name>ch_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contrat.CustomerSignedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2024-08-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AF_UPFRONT</targetReference>
            </connector>
            <label>100% (Challenge)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>12 mois avant la demande de signature du contrat, n&apos;est valable que pour les contrats qui démarre + de 13 mois suivant la date de signature</description>
        <name>FORMULA_12mois_avant_Date_Demarrage</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GET_Contrat.StartDate})-1,MONTH({!GET_Contrat.StartDate}),1)</expression>
    </formulas>
    <formulas>
        <description>12 mois après la premiere facture</description>
        <name>FORMULA_12mois_suivant_1erfacture</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!FORMULA_1er_mois_Date_demarrage},12)</expression>
    </formulas>
    <formulas>
        <description>12 mois après la demande de signature du contrat</description>
        <name>FORMULA_12mois_suivant_Date_signature</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GET_Contrat.CustomerSignedDate})+1,MONTH({!GET_Contrat.CustomerSignedDate}),1)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_15mois_avant_date_demarrage</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!GET_Contrat.StartDate},-15)),MONTH(ADDMONTHS({!GET_Contrat.StartDate},-15)),1)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_1er_du_mois_date_fin_contrat</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GET_Contrat.Date_echeance__c}),MONTH({!GET_Contrat.Date_echeance__c}),1)</expression>
    </formulas>
    <formulas>
        <description>Calcul le 1er du mois de la signature du client</description>
        <name>FORMULA_1er_du_mois_signature</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GET_Contrat.CustomerSignedDate}),MONTH({!GET_Contrat.CustomerSignedDate}),1)</expression>
    </formulas>
    <formulas>
        <description>Calcul le 1er du mois de la date de démarrage du contrat</description>
        <name>FORMULA_1er_mois_Date_demarrage</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GET_Contrat.StartDate}),MONTH({!GET_Contrat.StartDate}),1)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_20_Commission</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c} * 0.2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>24 mois après la demande de signature du contrat</description>
        <name>FORMULA_24mois_suivant_Date_signature</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GET_Contrat.CustomerSignedDate})+2,MONTH({!GET_Contrat.CustomerSignedDate}),1)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_25_Commission</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c} * 0.25</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_30_Commission</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c} * 0.3</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_50_Commission</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_70_Commission</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c} * 0.7</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_80_Commission</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c} * 0.8</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_AnneAFacturerPrimeo</name>
        <dataType>Date</dataType>
        <expression>DATE({!var_PremierAnneAFacturerPrimeo},1,1)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_AnneeAFacturerGazEuro</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!GET_Contrat.CustomerSignedDate})+{!VAR_NombreAnneeFacturerGazEuro},MONTH({!GET_Contrat.CustomerSignedDate}),1)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_AnneSignature_correspond_Anne_Demarrage</name>
        <dataType>Boolean</dataType>
        <expression>YEAR({!GET_Contrat.StartDate}) = YEAR({!GET_Contrat.CustomerSignedDate})</expression>
    </formulas>
    <formulas>
        <name>FORMULA_CommissionAPayerALannee</name>
        <dataType>Number</dataType>
        <expression>{!FORMULA_CommissionDiviserParMois} * 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_CommissionDiviserParMois</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c} / {!GET_Contrat.ContractTerm}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_CommissionMoins40000</name>
        <dataType>Number</dataType>
        <expression>{!GET_Contrat.Commission_ADE__c} - 40000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_Date_dernier_paiement_GazEuro</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!FORMULA_1er_du_mois_signature},{!GET_Contrat.ContractTerm}-12)</expression>
    </formulas>
    <formulas>
        <name>FORMULA_Derniere_annee_a_facturer_Primeo</name>
        <dataType>Number</dataType>
        <expression>YEAR({!GET_Contrat.Date_echeance__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FORMULA_FacturationName</name>
        <dataType>String</dataType>
        <expression>{!GET_Contrat.Fournisseur__c} &amp; &quot; ADE &quot;&amp; TEXT(MONTH(TODAY()))&amp;&quot;-&quot;&amp;TEXT(YEAR(TODAY())) &amp; &quot; &quot; &amp;{!GET_Contrat.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>FORMULA_MontantAFacturerParAnneePrimeo</name>
        <dataType>Number</dataType>
        <expression>({!GET_Contrat.Commission_ADE__c} - 30000) / ((YEAR({!GET_Contrat.Date_echeance__c}) - {!FORMULA_Premiere_annee_a_facturer_Primeo}+1))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_nombre_Anne_a_facturer</name>
        <dataType>Number</dataType>
        <expression>IF({!FORMULA_AnneSignature_correspond_Anne_Demarrage},
{!FORMULA_NombreMois_Modulo_12}-1,{!FORMULA_NombreMois_Modulo_12})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calcul le nombre de mois entre la date de signature et la date de démarrage du conrat</description>
        <name>formula_NombreDeMoisDemarrage</name>
        <dataType>Number</dataType>
        <expression>12 * (YEAR({!GET_Contrat.StartDate}) - YEAR({!GET_Contrat.CustomerSignedDate})) + (MONTH({!GET_Contrat.StartDate}) - MONTH({!GET_Contrat.CustomerSignedDate}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FORMULA_NombreMois_Modulo_12</name>
        <dataType>Number</dataType>
        <expression>MOD({!GET_Contrat.ContractTerm},12)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FORMULA_Premiere_annee_a_facturer_Primeo</name>
        <dataType>Number</dataType>
        <expression>IF(
( YEAR({!GET_Contrat.CustomerSignedDate}) = YEAR({!GET_Contrat.StartDate}) ) ||
(YEAR({!FORMULA_15mois_avant_date_demarrage}) = YEAR({!GET_Contrat.StartDate}))
,YEAR(ADDMONTHS({!GET_Contrat.StartDate},12)),YEAR({!GET_Contrat.StartDate}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calcul de la dernière commission a payer si il ne s&apos;agit pas d&apos;une année complete</description>
        <name>FORMULA_Reste_Commission_Modulo_12</name>
        <dataType>Number</dataType>
        <expression>{!var_NombreDeMoisContractualises} * {!FORMULA_CommissionDiviserParMois}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Test rattrapage donnee appel a facturation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rattrapage donnee appel a facturation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_AF_50_Eni</name>
        <label>Création appel a facturation ENI 50%</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>CREATE_AF_50_Eni2</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_AF_50_Eni2</name>
        <label>Création appel a facturation ENI 50%</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_mois_Date_demarrage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_AF_UPFRONT</name>
        <label>Créer appel à facturation Up Front</label>
        <locationX>4219</locationX>
        <locationY>1724</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>GET_Contrat.Commission_ADE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Dyneff_20_UpFront</name>
        <label>Création appel a facturation Dyneff 20% Front</label>
        <locationX>4186</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_Picoty_30_1erFacture</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_20_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Dyneff_50_12_mois_apres_PremiereFacture</name>
        <label>Creation appel a facturation Dyneff 50% 12 mois après premiere facture</label>
        <locationX>4186</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_12mois_suivant_1erfacture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Ekivolt_50</name>
        <label>Création appel a facturation Ekivolt 50%</label>
        <locationX>5154</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_Ekivolt_502</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Ekivolt_502</name>
        <label>Création appel a facturation Ekivolt 50%</label>
        <locationX>5154</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_12mois_suivant_Date_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Ekwateur_25_2</name>
        <label>Création appel a facturation Ekwateur 25%</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_Ekwateur_25_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_12mois_suivant_Date_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_25_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Ekwateur_25_3</name>
        <label>Création appel a facturation Ekwateur 25%</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_24mois_suivant_Date_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_25_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Ekwateur_50</name>
        <label>Création appel a facturation Ekwateur 50%</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_Ekwateur_50X</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Ekwateur_50_2</name>
        <label>Création appel a facturation Ekwateur 50%</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_Ekwateur_25_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Ekwateur_50X</name>
        <label>Création appel a facturation Ekwateur 50%</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_12mois_suivant_Date_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_ENI_20</name>
        <label>Création appel a facturation ENI 20%</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_ENI_80</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_20_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_ENI_80</name>
        <label>Création appel a facturation ENI 80%</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_mois_Date_demarrage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_80_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Enovos_40000</name>
        <label>Création appel a facturation Enovos 40 000€</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_EnovosReste</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <numberValue>40000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_EnovosReste</name>
        <label>Création appel a facturation Enovos reste a payer</label>
        <locationX>1458</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_12mois_suivant_Date_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_CommissionMoins40000</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_GazEuro_DerniereFacture</name>
        <label>Création appel a facturation GazEuro DerniereFacture</label>
        <locationX>3658</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_Date_dernier_paiement_GazEuro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_Reste_Commission_Modulo_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_GazEuro_TousLesAns</name>
        <label>Création appel a facturation GazEuro tous les ans</label>
        <locationX>3394</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>EditVariables</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_AnneeAFacturerGazEuro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_CommissionAPayerALannee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_MET_30_FinContrat</name>
        <label>Création appel a facturation MET 30% a la fin du contrat</label>
        <locationX>4626</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_date_fin_contrat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_30_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_MET_70_Front</name>
        <label>Création appel a facturation MET 70% Front</label>
        <locationX>4626</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_MET_30_FinContrat</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_70_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_OHM_50_a_la_premiere_facture</name>
        <label>Création appel a facturation OHM 50% a la premiere facture</label>
        <locationX>4890</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_mois_Date_demarrage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_OHM_50_Front</name>
        <label>Création appel a facturation OHM 50% Front</label>
        <locationX>4890</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_OHM_50_a_la_premiere_facture</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_50_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Picoty_100_12MoisAvantDebutContrat</name>
        <label>Création appel a facturation Picoty 100% 12 mois avant</label>
        <locationX>2954</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_12mois_avant_Date_Demarrage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>GET_Contrat.Commission_ADE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Picoty_30_1erFacture</name>
        <label>Création appel a facturation Dyneff 30% a la premiere facture</label>
        <locationX>4186</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Creation_appel_a_facturation_Dyneff_50_12_mois_apres_PremiereFacture</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_mois_Date_demarrage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_30_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Primeo_100_15_mois_avant</name>
        <label>Création appel a facturation Primeo 100% 15 mois avant</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_15mois_avant_date_demarrage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>GET_Contrat.Commission_ADE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Primeo_30000_15_mois_avant</name>
        <label>Création appel a facturation Primeo 30000 15 mois avant</label>
        <locationX>2514</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Est_ce_que_je_dois_encore_facturer_Primeo</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_15mois_avant_date_demarrage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <numberValue>30000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_a_facturation_Primeo_Annuel</name>
        <label>Création appel a facturation Primeo Annuel</label>
        <locationX>1986</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>assign_AnneAFacturerPrimeo</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_AnneAFacturerPrimeo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>FORMULA_MontantAFacturerParAnneePrimeo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_appel_facturation_Primeo_30000_Upfront</name>
        <label>Création appel a facturation Primeo 30000 Upfront</label>
        <locationX>1986</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Est_ce_que_je_dois_encore_facturer_Primeo</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mois_facturation_concerne__c</field>
            <value>
                <elementReference>FORMULA_1er_du_mois_signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <numberValue>30000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULA_FacturationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paye__c</field>
            <value>
                <stringValue>ADE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En attente de validation ADV</stringValue>
            </value>
        </inputAssignments>
        <object>Appel_facturation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Contrat</name>
        <label>GET contrat</label>
        <locationX>4219</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Fournisseurupfront</name>
        <label>GET fournisseur upfront</label>
        <locationX>4219</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_AppelAFacture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Contrat.Fournisseur__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fournisseur_upfront__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>S_Validation</name>
        <label>Résumer des informations</label>
        <locationX>4219</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_Fournisseurupfront</targetReference>
        </connector>
        <fields>
            <name>TEXT_Informations</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vous allez valider l&apos;offre &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GET_Contrat.Fournisseur__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GET_Contrat.Type_offre__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; du &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GET_Contrat.StartDate}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; au &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GET_Contrat.Date_echeance__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;/!\ &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;ATTENTION, ASSUREZ-VOUS D&apos;AVOIR BIEN RENSEIGNÉ TOUS LES POINTS D&apos;ÉNERGIES /!\&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Valider</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>4093</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Contrat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prix_contrat_PDE__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_AnneeAFacturerGazEuro</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FORMULA_1er_du_mois_signature</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_nombre_Anne_a_facturer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>formula_nombre_Anne_a_facturer</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_NombreAnneeFacturerGazEuro</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NombreDeMoisContractualises</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>GET_Contrat.ContractTerm</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_PremierAnneAFacturerPrimeo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>FORMULA_Premiere_annee_a_facturer_Primeo</elementReference>
        </value>
    </variables>
</Flow>
